{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">商户管理</a></li>
                <li><a>商品列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <div id="basic-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="basic-table_length">
                                        <form action="?">
                                            <label>
                                                货号:<input type="search" name="tradecode" value="{:input('tradecode')}" class="form-control input-sm" placeholder="请输入货号" aria-controls="basic-table">
                                            </label>
                                            <label>
                                                商户编号:<input type="search" name="mid" value="{:input('mid')}" class="form-control input-sm" placeholder="请输入商户编号" aria-controls="basic-table">
                                            </label>
                                            <label>
                                                商户名:<input type="search" name="name" value="{:input('name')}" class="form-control input-sm" placeholder="请输入商户名" aria-controls="basic-table">
                                            </label>
                                            <label>
                                                店铺编号:<input type="search" name="storeid" value="{:input('storeid')}" class="form-control input-sm" placeholder="请输入店铺编号" aria-controls="basic-table">
                                            </label>
                                            <label>
                                                店铺名:<input type="search" name="store" value="{:input('store')}" class="form-control input-sm" placeholder="请输入店铺名" aria-controls="basic-table">
                                            </label>
                                            <label>
                                                状态:
                                                <select name="status" aria-controls="basic-table" class="form-control input-sm">
                                                    <option value="">全部</option>
                                                    <option value="1">上架</option>
                                                    <option value="0">下架</option>
                                                </select>
                                            </label>
                                            <label for="sub">
                                                <input type="submit" id="sub" value="搜索" class="btn btn-primary" style="margin-bottom: 0;">
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>商品名</th>
                                            <th>货号</th>
                                            <th>商户信息</th>
                                            <th>店铺信息</th>
                                            <th>价格</th>
                                            <th>销售概览</th>
                                            <th>数量</th>
                                            <th>二维码</th>
                                            <th>商品标签</th>
                                            <th>状态</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="goodslists" id="goodslist"}
                                        <tr>
                                            <td>{$goodslist.id}</td>
                                            <td>{$goodslist.tradename}</td>
                                            <td>{$goodslist.tradecode}</td>
                                            <td>
                                                商户ID：{$goodslist.mid}<br/>
                                                商户名：{$goodslist.name}<br/>
                                                商户电话：{$goodslist.phone}
                                            </td>
                                            <td>
                                                店铺ID：{$goodslist.storeid}<br/>
                                                店铺名：{$goodslist.store}<br/>
                                                店铺电话：{$goodslist.phones}
                                            </td>
                                            <td>原价：{$goodslist.oriprice}<br/>现价：{$goodslist.ingprice}</td>
                                            <td>
                                                售出：{$goodslist.sell}份
                                            </td>
                                            <td>
                                                查看量：{$goodslist.clicks}<br/>
                                                评论量：{$goodslist.centnum}<br/>
                                            </td>
                                            <td><a href="javascript:void (0);">查看二维码</a></td>
                                            <td>
                                                {:good_tag($goodslist.tags)}
                                            </td>
                                            <td>
                                                {switch name="$goodslist.status"}
                                                {case value="1"}
                                                上架（<a href="javascript:void (0);">下架</a>）
                                                {/case}
                                                {case value="0"}
                                                下架（<a href="javascript:void (0);">上架</a>）
                                                {/case}
                                                {/switch}

                                            </td>
                                            <td>{$goodslist.addtime|date='Y-m-d H:i:s',###}</td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-transparent">
                                                        <a href="/index.php/mall/product/id/{$goodslist.id}.html">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="basic-table_info" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="base/footer" /}
<script>
    $(function () {
        $('select[name="status"]').val("{:input('status')}");
    });
</script>