{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">首页</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="panel widgetbox wbox-2 bg-scale-0">
                        <a href="{:url('Merchant/merchantlist')}">
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="icon fa fa-institution color-darker-1"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <h4 class="subtitle color-darker-1">商户总数</h4>
                                        <h1 class="title color-primary">{$m_count??0}</h1>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="panel widgetbox wbox-2 bg-lighter-2 color-light">
                        <a href="{:url('user/userlist')}">
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="icon fa fa-user color-darker-2"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <h4 class="subtitle color-darker-2">会员总数</h4>
                                        <h1 class="title color-w">{$u_count??0}</h1>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="panel widgetbox wbox-2 bg-darker-2 color-light">
                        <a href="#">
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="icon fa fa-dollar color-lighter-1"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <h4 class="subtitle color-lighter-1">平台总收益</h4>
                                        <h1 class="title color-light">{$recorded??0}</h1>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="panel widgetbox wbox-2 bg-lighter-2 color-light">
                        <a href="#">
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="icon fa fa-shopping-bag color-darker-2"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <h4 class="subtitle color-darker-2">商城收益</h4>
                                        <h1 class="title color-w"> {$shop_bill??0}</h1>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="panel widgetbox wbox-2 bg-darker-2 color-light">
                        <a href="#">
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="icon fa fa-street-view color-lighter-1"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <h4 class="subtitle color-lighter-1">旅游收益</h4>
                                        <h1 class="title color-light"> {$ly_bill??0}</h1>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="panel widgetbox wbox-2 bg-darker-3 color-light">
                        <a href="#">
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="icon fa fa-ticket color-lighter-1"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <h4 class="subtitle color-lighter-1">门票收益</h4>
                                        <h1 class="title color-light"> {$mp_bill??0}</h1>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="panel widgetbox wbox-2 bg-darker-4 color-light">
                        <a href="#">
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="icon fa fa-cc-visa color-lighter-1"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <h4 class="subtitle color-lighter-1">签证收益</h4>
                                        <h1 class="title color-light"> {$qz_bill??0}</h1>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="panel">
                        <div class="panel-content">
                            <h5><b>近一周</b> 的销售</h5>
                            <!--<p class="section-text">Lorem ipsum <span class="highlight">dolor sit amet</span> consectetur adipisicing elit. Assumenda fugit inventore ipsam nam, qui voluptatibus</p>-->
                            <canvas id="area-chart" width="400" height="160"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="panel b-primary bt-md">
                        <div class="panel-content p-none">
                            <div class="widget-list list-to-do">
                                <h4 class="list-title">To do List</h4>
                                <button class="add-item btn btn-o btn-primary btn-xs"><i class="fa fa-plus"></i></button>
                                <ul>
                                    <li>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="check-h1" value="option1">
                                            <label for="check-h1">Accusantium eveniet ipsam neque</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="check-h2" value="option1" checked>
                                            <label for="check-h2">Lorem ipsum dolor sit</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="check-h3" value="option1">
                                            <label for="check-h3">Dolor eligendi in ipsum sapiente</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="check-h4" value="option1">
                                            <label for="check-h4">Natus recusandae vel</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="check-h5" value="option1">
                                            <label for="check-h5">Adipisci amet officia tempore ut</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="check-h6" value="option1">
                                            <label for="check-h6">Possimus repellat repellendus</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="tabs mt-none">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#home" data-toggle="tab">Employees</a></li>
                            <li><a href="#profile" data-toggle="tab">Sells</a></li>
                            <li><a href="#messages" data-toggle="tab">Messages</a></li>
                            <li><a href="#settings" data-toggle="tab"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="home">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Olivia Liang</td>
                                            <td>Support Engineer</td>
                                            <td>Singapore</td>
                                            <td>34</td>
                                        </tr>
                                        <tr>
                                            <td>Bruno Nash</td>
                                            <td>Software Engineer</td>
                                            <td>London</td>
                                            <td>38</td>
                                        </tr>
                                        <tr>
                                            <td>Sakura Yamamoto</td>
                                            <td>Support Engineer</td>
                                            <td>Tokyo</td>
                                            <td>37</td>
                                        </tr>
                                        <tr>
                                            <td>Michael Bruce</td>
                                            <td>Javascript Developer</td>
                                            <td>Singapore</td>
                                            <td>29</td>
                                        </tr>
                                        <tr>
                                            <td>Donna Snider</td>
                                            <td>Customer Support</td>
                                            <td>New York</td>
                                            <td>27</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <p><b>Profile</b> content</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae tellus tincidunt, mattis odio eu, accumsan quam. Duis ultricies, erat nec suscipit mattis, risus est efficitur enim, sed finibus lacus nisi et mauris. Ut sed accumsan ipsum. Aliquam vel nibh et turpis euismod porttitor. In diam odio, cursus eget faucibus quis, efficitur id erat. Aliquam euismod in justo sit amet ornare. Quisque eu fringilla libero. Donec iaculis sit amet nibh non laoreet.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="messages">
                                <p><b>Message</b> content</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae tellus tincidunt, mattis odio eu, accumsan quam. Duis ultricies, erat nec suscipit mattis, risus est efficitur enim, sed finibus lacus nisi et mauris. Ut sed accumsan ipsum. Aliquam vel nibh et turpis euismod porttitor. In diam odio, cursus eget faucibus quis, efficitur id erat. Aliquam euismod in justo sit amet ornare. Quisque eu fringilla libero. Donec iaculis sit amet nibh non laoreet.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="settings">
                                <p><b>Settings</b> content</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae tellus tincidunt, mattis odio eu, accumsan quam. Duis ultricies, erat nec suscipit mattis, risus est efficitur enim, sed finibus lacus nisi et mauris. Ut sed accumsan ipsum. Aliquam vel nibh et turpis euismod porttitor. In diam odio, cursus eget faucibus quis, efficitur id erat. Aliquam euismod in justo sit amet ornare. Quisque eu fringilla libero. Donec iaculis sit amet nibh non laoreet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="panel">
                        <div class="panel-content">
                            <h5><b>会员性别</b></h5>
                            <!--<p>Dolor sit amet <span class="highlight">consectetur</span> erte</p>-->
                            <canvas id="pie-chart" width="400" height="260"></canvas>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-12 col-md-8">
                    <div class=" gallery-wrap">
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <a href="images/helsinki-lg.jpg" title="By John Doe">
                                    <img alt="first photo" src="images/helsinki.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="images/helsinki-lg.jpg" title="By John Doe">
                                    <img alt="second photo" src="images/helsinki.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="images/helsinki-lg.jpg" title="By John Doe">
                                    <img alt="third photo" src="images/helsinki.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="images/helsinki-lg.jpg" title="By John Doe">
                                    <img alt="fourth photo" src="images/helsinki.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="images/helsinki-lg.jpg" title="By John Doe">
                                    <img alt="fifth photo" src="images/helsinki.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="images/helsinki-lg.jpg" title="By John Doe">
                                    <img alt="sixth photo" src="images/helsinki.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="images/helsinki-lg.jpg" title="By John Doe">
                                    <img alt="seventh photo" src="images/helsinki.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="images/helsinki-lg.jpg" title="By John Doe">
                                    <img alt="eighth photo" src="images/helsinki.jpg" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <!--<div class="col-sm-12 col-lg-3">
            <div class="timeline">
                <div class="timeline-box">
                    <div class="timeline-icon bg-primary">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="timeline-content">
                        <h4 class="tl-title">Ello impedit iusto</h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio illo impedit iusto minima nisi quo tempora ut!
                    </div>
                    <div class="timeline-footer">
                        <span>Today. 14:25</span>
                    </div>
                </div>
                <div class="timeline-box">
                    <div class="timeline-icon bg-primary">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <div class="timeline-content">
                        <h4 class="tl-title">consectetur adipisicing </h4> Lorem ipsum dolor sit amet. Consequatur distinctio illo impedit iusto minima nisi quo tempora ut!
                    </div>
                    <div class="timeline-footer">
                        <span>Today. 10:55</span>
                    </div>
                </div>
                <div class="timeline-box">
                    <div class="timeline-icon bg-primary">
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="timeline-content">
                        <h4 class="tl-title">Impedit iusto minima nisi</h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio illo impedit iusto minima nisi quo tempora ut!
                    </div>
                    <div class="timeline-footer">
                        <span>Today. 9:20</span>
                    </div>
                </div>
                <div class="timeline-box">
                    <div class="timeline-icon bg-primary">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-content">
                        <h4 class="tl-title">Lorem ipsum dolor sit</h4> Lorem ipsum dolor sit amet Consequatur distinctio illo impedit iusto minima nisi quo tempora ut!
                    </div>
                    <div class="timeline-footer">
                        <span>Yesteday. 16:30</span>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
{include file="base/footer" /}
<script src="__HELSINKI__vendor/chart-js/chart.min.js"></script>
<script src="__HELSINKI__javascripts/examples/dashboard.js"></script>
<script>
    bills = [{$weekBill | implode = ',' , ###}];
    ly_price = [{$ly_price | implode = ',' , ###}];
    shop_price = [{$shop_price | implode = ',' , ###}];
    sexs = [{$sexs | implode = ',' , ###}];
    mp_price = [{$mp_price | implode = ',' , ###}];
    qz_price = [{$qz_price | implode = ',' , ###}];

</script>
