{extend name="@admin/appui/common/frame"}
{block name="page_wrapper"}
<!-- Full Background -->
<!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
<img src="__APPUI__img/placeholders/layout/login2_full_bg.jpg" alt="Full Background" class="full-bg animation-pulseSlow">
<!-- END Full Background -->

<!-- Login Container -->
<div id="login-container">
    <!-- Login Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-pullDown">
        <i class="fa fa-cube text-light-op"></i> <strong>AppUI</strong>
    </h1>
    <!-- END Login Header -->

    <!-- Login Block -->
    <div class="block animation-fadeInQuick">

        <!-- Login Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <a href="page_ready_reminder.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="忘记您的密码？">
                    <i class="fa fa-exclamation-circle"></i>
                </a>
                <a href="{:url('')}page_ready_register.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="注册新账户">
                    <i class="fa fa-plus"></i>
                </a>
            </div>

            <h2>请登录</h2>
        </div>
        <!-- END Login Title -->

        <!-- Login Form -->
        <form id="form-login" action="{:url('admin/index/index')}" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="account" class="col-xs-12">邮箱 / 手机号码</label>
                <div class="col-xs-12">
                    <input type="text" id="account" name="account" class="form-control" placeholder="邮箱 / 手机号码">
                </div>
            </div>
            <div class="form-group">
                <label for="passwd" class="col-xs-12">密码</label>
                <div class="col-xs-12">
                    <input type="password" id="passwd" name="passwd" class="form-control" placeholder="您的密码...">
                </div>
            </div>
            <div class="form-group">
                <label for="check_code" class="col-xs-12">验证码</label>
                <div class="col-xs-8">
                    <input type="password" id="check_code" name="check_code" class="form-control" placeholder="验证码">
                </div>
                <div class="col-xs-4">
                    <img src="" border="0" class="verifyimg" title="看不清？" />
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-8">
                    <label class="csscheckbox csscheckbox-primary">
                        <input type="checkbox" id="login-remember-me" name="login-remember-me"><span></span> 记住我?
                    </label>
                </div>
                <div class="col-xs-4 text-right">
                    <button type="submit" class="btn btn-effect-ripple btn-sm btn-success">登录</button>
                </div>
            </div>
        </form>
        <!-- END Login Form -->

        <!-- Social Login -->
        <!-- END Social Login -->
    </div>
    <!-- END Login Block -->

    <!-- Footer -->
    <footer class="text-muted text-center animation-pullUp">
        <small><span id="year-copy"></span> &copy; <a href="http://goo.gl/RcsdAh" target="_blank">AppUI 2.7</a></small>
    </footer>
    <!-- END Footer -->
</div>
<!-- END Login Container -->
{/block}
{block name="foot_js"}

<script src="__APPUI__js/pages/readyLogin.js"></script>
<script>
    var checkCodeUrl = "{:url('admin/restrict/checkcode')}";
    var captcha_src = "{:captcha_src()}";
    $(function(){
        ReadyLogin.init();
    });
</script>
{/block}