{volist name="arders" id="arder"}
<li class="itemcontainer " data-pinfo="pid={$arder.id}" data-track="true">
    <div class="tour_img">
        <img class="img_animation" src="{:img_url($arder.pic,80,80)}">
        <span class="tour_type type_team">旅游休闲卡</span>
        <!--<span class="tour_start">住宿</span>-->
    </div>
    <div class="tour_content singleitem" pid="{$arder.id}" data-load="true">
        <h3 class="">{$arder.tradename}</h3>
        <div class="tour_icon"></div>
        <div class="supplier_date">
            <span class="supplier">{$arder.name}</span>
        </div>
        <div class="tour_fbd" data-temp="0">
            <span class="tour_price"><dfn>￥</dfn><strong>{$arder.ingprice}</strong></span>
        </div>
        <div class="tour_info">
            <span class="tour_dealer">
                <i class="green">商户</i>
                <em>{$arder.name}</em>
            </span>
            <span class="tour_point del_price">
                <dfn>￥</dfn><strong>{$arder.oriprice}</strong>
            </span>
        </div>
        <div class="guess_money" style="display:none" data-ratio="" data-commission=""></div>
        <i class="tour_pop notgo"></i>
        <div class="tour_pop_box notgo" style="display: none">
            <div class="tour_pop_type" data-params="pid={$arder.id}">
            </div>
            <span class="tour_collect_container"><span class="tour_collect notgo">收藏</span></span>
            <i class="tour_close notgo"></i>
        </div>
    </div>
</li>
{/volist}
<style>
    .del_price{text-decoration:line-through;float: left;}
</style>