{volist name="strategys" id="strategy"}
<li class="itemcontainer " data-pinfo="pid={$strategy.id}" data-track="true">
    <div class="tour_img">
        <img class="img_animation" src="{:img_url($strategy.pic,80,80)}">
        <span class="tour_type type_team">旅游攻略</span>
        <span class="tour_start">{$strategy.dest}</span>
    </div>
    <div class="tour_content singleitem" pid="{$strategy.id}" data-load="true">
        <h3 class="">{$strategy.title}</h3>
        <div class="tour_icon"></div>
        <div class="supplier_date">
            <span class="supplier">{$strategy.name}</span>
        </div>
        <div class="tour_info">
            <span class="tour_dealer">
                <i class="green">商户</i>
                <em>{$strategy.name}</em>
            </span>
            <span class="tour_point">
                <strong></strong>
            </span>
            <span class="tour_num hidden">人出游</span>
        </div>
        <div class="guess_money" style="display:none" data-ratio="" data-commission=""></div>
    </div>
</li>
{/volist}