{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
{load file="__INDEX__/css/detail_merge.css" /}
<div id="main">
    <div class="main-frame" data-pid="{$strategy.id}">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1497690854706" page-url="" data-view-name="detail">
                <div class="body trip_page">
                    <div class="m_header m_scroll sticky" id="detail_header"  style="display: block;">
                        <a href="javascript:history.go(-1);"><span class="m_icon_back fl js_back"></span></a>
                        <h1>{$strategy.title??''}</h1>
                    </div>

                    <div class="m_detail" style="margin-top: 50px;">
                        <div class="m_mod m_guide" id="product_note_content">
                            <div class="m_mod_hd">
                                <h3>{$strategy.title??''}</h3>
                            </div>
                            <div class="m_mod_bd">
                                {if condition="strip_tags($strategy.content) neq ''"}
                                <div class="m_guidecon">
                                    <div>
                                        {$strategy.content}
                                    </div>
                                </div>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-state">
        </div>
    </div>
</div>
<style>
    .m_guidecon img{
        width: 100%;
    }
</style>
{include file="base/footer"}

