{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">广告管理</a></li>
                <li><a>广告分类列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <div id="basic-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="basic-table_length">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>广告名称</th>
                                            <th>标识</th>
                                            <th>广告列表</th>
                                            <th>添加时间</th>
                                            <!--<th>操作</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="categorys" id="category"}
                                        <tr>
                                            <td>{$category.id}</td>
                                            <td>{$category.name}</td>
                                            <td>{$category.key}</td>

                                            <td><a href="{:url('Nav/nav_list',['cid'=>$category.id])}">查看导航</a></td>
                                            <td>{$category.addtime|date='Y-m-d H:i:s',###}</td>
                                            {php}/*
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-transparent"><i class="fa fa-eye"></i></button>
                                                    <button class="btn btn-transparent">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    <button class="btn btn-transparent"><i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            */{/php}
                                        </tr>
                                        {/volist}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="basic-table_info" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="base/footer" /}
<script>
    $(function () {

    });
</script>