{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="javascript:void (0);">广告管理</a></li>
                <li><a href="{:url('adver/index')}">广告分类列表</a></li>
                <li><a href="javascript:void (0);">广告列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <h4 class="section-subtitle">
                <b _href="{:url('Nav/nav_edits',['cid'=>input('cid')])}" class="artlog">添加导航</b>
            </h4>

            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <div id="basic-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="basic-table_length">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>导航描述</th>
                                            <th>导航图</th>
                                            <th>导航链接</th>
                                            <th>导航状态</th>
                                            <th>导航排序</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="navs" id="nav"}
                                        <tr>
                                            <td>{$nav.id}</td>
                                            <td>{$nav.desc}</td>
                                            <td><img src="{$nav.pic}" title="{$nav.desc}" alt="{$nav.desc}" style="height: 30px;"></td>
                                            <td><a href="{$nav.hrefstr}">访问</a></td>
                                            <td>
                                                {switch name="$nav.status"}
                                                {case value="1"}
                                                显示（<a href="{:url('Nav/operate',['act'=>'status','id'=>$nav.id,'val'=>0])}">不显示</a>）
                                                {/case}
                                                {case value="0"}
                                                不显示（<a href="{:url('Nav/operate',['act'=>'status','id'=>$nav.id,'val'=>1])}">显示</a>）
                                                {/case}
                                                {/switch}
                                            </td>
                                            <td>{$nav.weight}</td>
                                            <td>{$nav.addtime|date='Y-m-d H:i:s',###}</td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <!--<button class="btn btn-transparent"><i class="fa fa-eye"></i></button>-->
                                                    <button class="btn btn-transparent">
                                                        <a _href="{:url('Nav/nav_edits',['cid'=>input('cid'),'id'=>$nav.id])}" class="artlog">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                    </button>
                                                    <button class="btn btn-transparent">
                                                        <a href="{:url('Nav/operate',['act'=>'del','id'=>$nav.id])}">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="basic-table_info" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="base/footer" /}
<script>
    $(function () {

    });
</script>