{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div  class="form-horizontal form-stripe">
                                        <input type="hidden" name="id" value="{$id??''}">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label">姓名</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="name" name="name" value="{$apply.name ?? ''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="col-sm-3 control-label">联系电话</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="phone" name="phone" value="{$apply.phone}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="industry" class="col-sm-3 control-label">行业说明</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="industry" name="industry" value="{$apply.industry??''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="unit" class="col-sm-3 control-label">工作单位</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="unit" name="unit" value="{$apply.unit??''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="unit" class="col-sm-3 control-label">身份证号码</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="idcard" name="idcard" value="{$apply.idcard??''}" />
                                            </div>
                                            <div class="col-sm-3">
                                                <span>
                                                    <div class="upfiles">
                                                        <a href="{$apply.positive??''}" target="_blank"><img src="{:img_url($apply.positive,200,200)}" alt="图片" title="{$apply.positive??''}" height="42"></a>
                                                    </div>
                                                </span>
                                                <span>
                                                    <div class="upfiles">
                                                        <a href="{$apply.negative??''}" target="_blank"><img src="{:img_url($apply.negative,200,200)}" alt="图片" title="{$apply.negative??''}" height="42"></a>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <form action="{:url('User/applyedit')}" id="inline-validation" class="form-horizontal form-stripe">
                                        <div class="form-group">
                                            <input type="hidden" name="uid" value="{:input('uid')}" />
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">上级业务员</label>
                                            <div class="col-sm-6">
                                                <span class="form-control">
                                                    编号：{$puser.id ?? '0'}姓名：{$puser.name??'平台'}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">审核状态</label>
                                            <div class="col-sm-6">
                                                <select name="status" id="status" class="form-control" >
                                                    <option value="">审核状态</option>
                                                    <option value="0">注册未提交材料</option>
                                                    <option value="1">未审核</option>
                                                    <option value="2">通过</option>
                                                    <option value="3">不通过</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">业务员种类</label>
                                            <div class="col-sm-6">
                                                <select name="clerk" id="clerk" class="form-control" >
                                                    <option value="0">不通过</option>
                                                    <option value="1">核心业务员</option>
                                                    <option value="2">普通业务员</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">绑定操作员</label>
                                            <div class="col-sm-6">
                                                <select name="op" id="op" class="form-control" >
                                                    <option value="0">选择操作员</option>
                                                    {volist name="ops" id="op"}
                                                    <option value="{$op.id}">{$op.name??$op.nickname}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-primary">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}
<script>
    $(function(){
        $('#status').val("{$apply.status ?? '1'}");
        $('#op').val("{$apply.op ?? ''}");
        $('#clerk').val("{$apply.clerk ?? ''}");
    });
</script>