{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div  class="form-horizontal form-stripe">
                                        <input type="hidden" name="id" value="{$id??''}">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label">姓名</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="name" name="name" value="{$apply.name ?? ''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="col-sm-3 control-label">联系电话</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="phone" name="phone" value="{$apply.phone}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="col-sm-3 control-label">店铺名称</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="store" name="store" value="{$apply.store}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="industry" class="col-sm-3 control-label">门店地址</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="industry" name="industry" value="{$apply.province . $apply.city . $apply.county . $apply.address}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">营业执照</label>
                                            <div class="col-sm-6">
                                                <div class="upfiles">
                                                    <a href="{$apply.licence??''}" target="_blank"><img src="{:img_url($apply.licence,200,200)}" alt="图片" title="{$apply.licence??''}" height="42"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">名片</label>
                                            <div class="col-sm-6">
                                                <div class="upfiles">
                                                    <a href="{$apply.business??''}" target="_blank"><img src="{:img_url($apply.business,200,200)}" alt="图片" title="{$apply.business??''}" height="42"></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <form action="{:url('User/storeedit')}" id="inline-validation" class="form-horizontal form-stripe">
                                        <div class="form-group">
                                            <input type="hidden" name="uid" value="{:input('uid')}" />
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">审核状态</label>
                                            <div class="col-sm-6">
                                                <select name="status" id="status" class="form-control" >
                                                    <option value="">审核状态</option>
                                                    <option value="0">注册未提交材料</option>
                                                    <option value="1">未审核</option>
                                                    <option value="2">通过</option>
                                                    <option value="3">不通过</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-primary">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}
<script>
    $(function(){
        $('#status').val("{$apply.status ?? '1'}");
        $('#op').val("{$apply.op ?? ''}");
        $('#clerk').val("{$apply.clerk ?? ''}");
    });
</script>