{include file="base/header" /}
<div class="container-fluid">
    <div class="row">
        <div class="ernav clearfix">
            <ul>
                <li class="on"><a href="{:url('Comment/commentlist')}">评论列表</a></li>
            </ul>
        </div>
        <div class="content">
            <table class="list-table" id="list_tag" name="list_tag">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>商户名</th>
                    <th>店铺名</th>
                    <th>用户名</th>
                    <th>用户电话</th>
                    <th>评论类型</th>
                    <th>评论时间</th>
                    <th>评分</th>
                    <th>评论内容</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="comments" id="comment"}
                <tr>
                    <td>{$comment.id}</td>
                    <td>{$comment.mid}</td>
                    <td>{$comment.sid}</td>
                    <td>{$comment.uid}</td>
                    <td>{$comment.uname}</td>
                    <td>{$comment.type}</td>
                    <td>{$comment.addtime|date='Y-m-d H:i:s',###}</td>
                    <td>{$comment.star}</td>
                    <td>{$comment.content}</td>
                    <td><a _href="{:url('Merchant/merchantedit',['id'=>$comment.id])}" class="artlog">修改</a>|<a href="/admin.php/index/del/page/11/field/id/value/1.html">删除</a>|</td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="paginate">{$page}</div>

        </div>
    </div>
</div>
{include file="base/footer" /}
<script>
    $(function () {

    });
</script>