{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}

<!--header-->
<div id="headerview">
    <div id="ui-view-5" class="">
        <div class="search_destination_box">
            <span class="go_back js_back"> <a href="javascript:history.go(-1);"><i class="goback_icon"></i></a></span>
            <div class="search_destination_heard">
                <div class="search_destination_col" style="color: white; font-size: 30px;">
                    发布信息
                </div>
            </div>
            <span class=" cm-header-icon fr  js_search" style="width: 50px;" >
                <em class="icon-search" style="color: snow;font-size: 1.2em"></em>
            </span>
        </div>
    </div>
</div>
<div style="height:1rem;"></div>
<form action="{:url('Ask/publish_edit')}" method="post" id="passwd">
    <ul class="userForm">
        <input type="hidden" name="type" value="{$ask_type.id??''}">
        <input type="hidden" name="temp" value="{$ask_temp.id??''}">
        <li>
            <div class="ask_type">
                <span>问价类型</span>
                <span style="float: right">{$ask_type.temp_type}</span>
            </div>

        </li>
        <li>
            <span class="temps">{$ask_temp.temp ?? ''}</span>
            <textarea class="hidden content" name="content">{$ask_temp.temp ?? ''}</textarea>
        </li>
    </ul>
    <ul class="userForm">
        {$inputs.html}
        <li><input type="button" value="确认发布" class="formLastBtn"/></li>

    </ul>
</form>
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
{include file="base/footer" /}
<script>
    $(document).ready(function(){
        {$inputs.js??''}
        //测试返回页面，程序对接删除即可
        $(".userForm input[type='button']").click(function(){
            var status = true;
            $('.explain').each(function () {
                explain_change();
                var vals = $(this).val();
                if(vals == ''){
                    status = false;
                    return false;
                }
            });
            if(!status){
                alert('请完善信息');
                return false;
            }
            $('#passwd').submit();
        });
        var temp = '{$ask_temp.temp??""}';
        $('.explain').on('change blur',explain_change).eq(0).attr({autofocus:"autofocus"});
        function explain_change() {
            var exs = $('.explain');
            var handle = temp;
            var vals = new Array();
            exs.each(function (e) {
                var id = $(this).data('id'),
                    val = $(this).val();
                vals[id] = val;
            });
            handle = insert_val(vals);
            handle = handle.substr(0,handle.length-1);
            $('.temps ,.content').html(handle);

            function insert_val(vals) {
                var temps = handle.split('_'),str = '';
                console.log(temps);
                for (var x in temps){
                    str += temps[x];
                    if(vals[x] != '' && typeof(vals[x]) != 'undefined'){
                        str += '<span style="color: #ba5d5a">' + vals[x] + '</span>';
                    }else {
                        str += '_';
                    }
                }
                return str;
            }
        }


    });
</script>

