{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">商城管理</a></li>
                <li><a>商品列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <h4 class="section-subtitle">
                <a href="{:url('Goods/goodslist')}">商品列表</a>
                <a href="{:url('Goods/goodsedit')}">商品添加(修改)</a>
            </h4>
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <div id="basic-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="basic-table_length">
                                        <form action="?">
                                            <label>
                                                商品名:<input type="search" name="tradename" class="form-control input-sm" placeholder="商品名搜索" aria-controls="basic-table" value="{:input('tradename')}">
                                            </label>
                                            <label>
                                                商品编号:<input type="search" name="id" class="form-control input-sm" placeholder="商品编号" aria-controls="basic-table" value="{:input('id')}">
                                            </label>
                                            <label for="sub">
                                                <input type="submit" id="sub" value="搜索" class="btn btn-primary" style="margin-bottom: 0;">
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>店铺信息</th>
                                            <th>商品名</th>
                                            <th>货号</th>
                                            <th>价格</th>
                                            <th>销售概览</th>
                                            <th>数量</th>
                                            <th>二维码</th>
                                            <th>状态</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="goodslists" id="goodslist"}
                                        <tr>
                                            <td>{$goodslist.id}</td>
                                            <td>
                                                店铺ID：{$goodslist.storeid}<br/>
                                                店铺名：{$goodslist.store}<br/>
                                                店铺电话：{$goodslist.phones}
                                            </td>
                                            <td>{$goodslist.tradename}</td>
                                            <td>{$goodslist.tradecode}</td>
                                            <td>原价：{$goodslist.oriprice}<br/>现价：{$goodslist.ingprice}</td>
                                            <td>
                                                售出：{$goodslist.sell}份
                                            </td>
                                            <td>
                                                查看量：{$goodslist.clicks}<br/>
                                                {php}/*评论量：{$goodslist.centnum}<br/>*/{/php}
                                            </td>
                                            <td><a href="javascript:void (0);" data-id="{$goodslist.id}" class="seeCode">查看二维码</a></td>
                                            <td>
                                                {switch name="$goodslist.status"}
                                                {case value="1"}
                                                上架（<a href="{:url('Goods/edit',['act'=>'grounding','id'=>$goodslist.id,'status'=>0])}">下架</a>）
                                                {/case}
                                                {case value="0"}
                                                下架（<a href="{:url('Goods/edit',['act'=>'grounding','id'=>$goodslist.id,'status'=>1])}">上架</a>）
                                                {/case}
                                                {/switch}
                                            </td>
                                            <td>{$goodslist.addtime|date='Y-m-d H:i:s',###}</td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-transparent">
                                                        <a href="{:url('Goods/goodsedit',['gid'=>$goodslist.id])}">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>

                                                    </button>
                                                    <button class="btn btn-transparent">
                                                        <a href="{:url('Goods/good_del',['id'=>$goodslist.id])}">
                                                        <i class="fa fa-times"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="basic-table_info" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">{$page}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="base/footer" /}
<script>
    $(function () {
        $('.seeCode').on('click',function () {
            var host = window.location.origin,
                id = $(this).data('id');
                url = host + '/index.php/mall/product/id/' + id + '.html';
            var imgUrl = encodeURI(url);
            art.dialog({
                content:'<img src="/api.php/Code/qrpng.html?data='+imgUrl+'" />',
                title:'二维码',
            });
        });
    });
</script>