{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">商城管理</a></li>
                <li><a>商品管理</a></li>
                <li><a>商品添加(修改)</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#basicinfo" data-toggle="tab">基本信息</a></li>
                                    <li><a href="#deta" data-toggle="tab">商品详情</a></li>
                                    <li><a href="#pic" data-toggle="tab">商品图片</a></li>
                                    <!--<li><a href="#spec" data-toggle="tab">商品规格</a></li>-->
                                    <li><a href="#inte" data-toggle="tab">积分配置</a></li>
                                    <li><a href="#attr" data-toggle="tab">商城属性</a></li>
                                </ul>
                                <form id="inline-validation" class="" action="{:url('Goods/goodsedit')}" id="form1" method="post">
                                    <input type="hidden" name="act" value="{$act}" >
                                    <input type="hidden" name="gid" value="{$gid}" >

                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="basicinfo">
                                            <div class="form-horizontal form-stripe">
                                                <div class="form-group">
                                                    <label for="tradename" class="col-sm-3 control-label">商品名<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="tradename" name="tradename"  placeholder="请输入商品名" class="form-control" required value="{$goods.tradename ?? ''}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="tradecode" class="col-sm-3 control-label">商品编号<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="tradecode" name="tradecode" placeholder="请输入商品编码" class="form-control" required value="{$goods.tradecode ?? ''}" />

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="unit" class="col-sm-3 control-label">商品单位<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="unit" name="unit" placeholder="请输入商品单位" class="form-control" required value="{$goods.unit ?? ''}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="storeid" class="col-sm-3 control-label">所属门店<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" required id="storeid" name="storeid">
                                                            <option value="">请选择所属门店</option>
                                                            {volist name="stores" id="store"}
                                                            <option value="{$store.id}">{$store.store}</option>
                                                            {/volist}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">商品分类<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" required id="ftypes" name="ftypes">
                                                            <option value="">请选择分类</option>

                                                        </select>
                                                        <select class="form-control" required id="types" name="types">
                                                            <option value="">请选择分类</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="bid" class="col-sm-3 control-label">商品进价</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="bid" name="bid" placeholder="请输入商品进价" class="form-control" value="{$goods.bid ?? ''}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="oriprice" class="col-sm-3 control-label">商品原价</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="oriprice" name="oriprice" placeholder="请输入商品原价" class="form-control" value="{$goods.oriprice ?? ''}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ingprice" class="col-sm-3 control-label">商品现价<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="ingprice" name="ingprice" placeholder="请输入商品现价" class="form-control" required value="{$goods.ingprice ?? ''}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="stock" class="col-sm-3 control-label">库存<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="stock" name="oriprice" placeholder="请输入商品库存" class="form-control" required value="{$goods.stock ?? '-1'}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">商品标签</label>
                                                    <div class="col-sm-6">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="tags1" name="tags[]" value="1"> 热销
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="tags2" value="2" name="tags[]"> 新品
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="tags3" value="3" name="tags[]"> 打折
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="weight" class="col-sm-3 control-label">排序</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="weight" name="weight" placeholder="请输入商品排序" class="form-control" value="{$goods.weight ?? '0'}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">商品状态</label>
                                                    <div class="col-sm-6">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="status" id="status1" checked value="0">下架
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="status" id="status2" value="1">上架
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="deta">
                                            <textarea name="details" id="details" required>{$goods.details ?? ''}</textarea>
                                        </div>
                                        <div class="tab-pane fade" id="pic">
                                            <input type="file" id="navpic" name="navpic[]" validate="required" placeholder="上传多图" value="" multiple />
                                        </div>
                                        {php}/*
                                        <div class="tab-pane fade" id="spec">
                                            <div class="spec">
                                                <div class="spec-case case">
                                                </div>
                                                <div class="addspec"><span class="btn btn-default">添加规格</span></div>
                                                <div class="attr-case case">
                                                </div>
                                                <div class="addattr"><span class="btn btn-default">添加属性</span></div>
                                                <div class="generate"><span class="btn btn-default">生成规格关系</span></div>

                                            </div>
                                            <div class="nexus">
                                            </div>
                                        </div>
                                        */{/php}
                                        <div class="tab-pane fade" id="inte">
                                            <div class="form-horizontal form-stripe">

                                                <div class="form-group">
                                                    <label for="ratio" class="col-sm-3 control-label">积分返利比例<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="ratio" name="ratio"  placeholder="请输积分返利比例" class="form-control" required value="{$goods.ratio ?? '0'}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="attr">
                                            <div class="form-horizontal form-stripe">
                                                <div class="form-group">
                                                    <label for="ratio" class="col-sm-3 control-label">运费<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="freight" name="freight"  placeholder="请输所需运费" class="form-control" required value="{$goods.freight ?? '0'}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ratio" class="col-sm-3 control-label">运费计算方式<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="freightway" id="freightway1" value="1"> 按最大值算
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="freightway" id="freightway2" value="2"> 单独计算
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ratio" class="col-sm-3 control-label">商城分类<span class="required">*</span></label>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" required id="fmalltype" name="fmalltype">
                                                            <option value="">请选择分类</option>
                                                            {volist name="malltypes" id="malltype"}
                                                            <option value="{$malltype.id}">{$malltype.types}</option>
                                                            {/volist}
                                                        </select>
                                                        <select class="form-control" required id="malltype" name="malltype"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-primary">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="base/form_footer" /}
{load file="__MERCHANT__js/goods.js" /}
{load file="__MERCHANT__css/style.css" /}
<script>
    $(function() {
        $("#formq").validate(); //表单验证
        $('.sannav>ul>li>a').click(function () {
            var href = $(this).attr('href');
            $(this).parent().addClass('on').siblings().removeClass('on');
            $(href).css('display', '').siblings('.grouping').css('display', 'none');
        });
        var up = new Upload('navpic', {}, "{$goods.navpic ?? ''}");
        var ue = UE.getEditor('details', {
            toolbars: [
                ['fullscreen', 'source', 'undo', 'redo', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat'],
                ['formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc','simpleupload','insertimage']
            ],
            initialFrameHeight: '500',
            initialFrameWidth: '600'
        });
        $('#storeid').bind('change',function(){
            var sid = $(this).val();
            var data = {'store':sid, 'fid':0};
            $.get('{:url("Types/ajax_store_types")}',data,function(msg){
                var types = eval('('+msg+')')
                var html = '<option value="">请选择分类</option>';
                for(var i = 0;i < types.length; i++){
                    html += '<option value="'+types[i][0]+'">'+types[i][1]+'</option>';
                }
                $('#ftypes').html(html);
            });
        });
        $('#ftypes').bind('change',function(){
            var sid = $('#storeid').val();
            var fid = $(this).val() || '-1';
            var data = {'store':sid,'fid':fid};
            $.get('{:url("Types/ajax_store_types")}',data,function(msg){
                var types = eval('('+msg+')')
                var html = '<option value="">请选择分类</option>';
                for(var i = 0;i < types.length; i++){
                    html += '<option value="'+types[i][0]+'">'+types[i][1]+'</option>';
                }
                $('#types').html(html);
            });
        });
        $('#fmalltype').bind('change',function () {
            var fid = $(this).val();
            var data = {'fid':fid};
            $.get('{:url("Types/ajax_mall_types")}',data,function(msg){
                console.log(msg);
                var types = eval('('+msg+')')
                var html = '<option value="">请选择分类</option>';
                for(var i = 0;i < types.length; i++){
                    html += '<option value="'+types[i][0]+'">'+types[i][1]+'</option>';
                }
                $('#malltype').html(html);
            });
        });
        {$gid?'alert("修改商品时若要修改商品规格则需要重新操作，不修改则可不操作商品规格；所属门店和商品分类需要重新填写！");':''}
        $('input[type="radio"][name="status"][value="{$goods.status ?? '1'}"]').prop('checked',true);
        $('select[name="malltype"]').val("{$goods.malltype ?? ''}");
        $('input[name="freightway"][value="{$goods.freightway ?? '1'}"]').prop('checked',true);
        var tags = "{$goods.tags ?? ''}";
        tags = tags.split(',');
        for(var i in tags){
            $('input[name="tags[]"][value="'+tags[i]+'"]').prop('checked',true);

        }
    });


</script>