{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{:url('Tourism/flickedit')}" id="inline-validation" class="form-horizontal form-stripe">
                                        <input type="hidden" name="trip" value="{$trip.id}">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">行程</label>
                                            <div class="col-sm-6">
                                                <span class="form-control">{$trip.title ?? ''}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sale" class="col-sm-3 control-label">设置折扣点<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="sale" name="sale" required value="{$flick.sale ?? '0'}">
                                                <span class="help-block">
                                                    <i class="fa fa-info-circle mr-xs"></i>
                                                    (例如8.8折，请直接输入8.8)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="desc" class="col-sm-3 control-label">分类排序<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <textarea id="desc" name="desc">{$flick.desc ?? ''}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-primary">提交审核</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}
{load file="__UEDITOR__ueditor.config.js"}
{load file="__UEDITOR__ueditor.all.min.js"}
<script>
    $(function () {
//        var up = new Upload('pic', {}, "{$type.pic ?? ''}");
        var toolbars = [
            ['fullscreen', 'source', 'undo', 'redo', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat'],
            ['formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc','simpleupload','insertimage']
        ];
        var desc = UE.getEditor('desc', {
            toolbars: toolbars,
            initialFrameHeight: '200',
            initialFrameWidth: '600'
        });
    })
</script>