{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">旅游管理</a></li>
                <li><a>订单列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <h4>
                <a href="{:url('Tourism/orders')}">订单列表</a>
                <!--<a href="javascript:void(0);">待审核目的地</a>-->
            </h4>
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <div id="basic-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="basic-table_length">
                                        <form action="?">
                                            <label>
                                                用户ID:<input type="search" name="uid" class="form-control input-sm" placeholder="" aria-controls="basic-table" value="{:input('uid')}">
                                            </label>
                                            <label>
                                                出团日期:<input type="search" id="outstart" name="outstart" class="form-control input-sm" placeholder="出团开始时间" aria-controls="basic-table" value="{:input('outstart')}"> - <input type="search" name="outend" class="form-control input-sm" placeholder="出团结束时间" id="outend" aria-controls="basic-table" value="{:input('outend')}">
                                            </label>
                                            <label>
                                                支付状态:
                                                <select name="pay_status" aria-controls="basic-table" class="form-control input-sm" >
                                                    <option value="">支付状态</option>
                                                    <option value="1">未支付</option>
                                                    <option value="2">已支付</option>
                                                </select>
                                            </label>
                                            <label>
                                                支付状态:
                                                <select name="confirm" aria-controls="basic-table" class="form-control input-sm" >
                                                    <option value="">确认状态</option>
                                                    <option value="1">未确认</option>
                                                    <option value="2">已确认</option>
                                                </select>
                                            </label>
                                            <label for="sub">
                                                <input type="submit" id="sub" value="搜索" class="btn btn-primary" style="margin-bottom: 0;">
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>订单号</th>
                                            <th>下单用户信息</th>
                                            <th>联系用户信息</th>
                                            <th>行程信息</th>
                                            <th>出团时间</th>
                                            <th>订单总金额</th>
                                            <th>支付状态</th>
                                            <th>确认状态</th>
                                            <th>下单时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="shops" id="shop"}
                                        <tr>
                                            <td>{$shop.id}</td>
                                            <td>{$shop.onumber}</td>
                                            <td>
                                                <!--用户编号：{$shop.opinfo.id} <br />-->
                                                昵称：{$shop.opinfo.name ?? $shop.opinfo.nickname}<br />
                                                电话：{$shop.opinfo.phone}<br />
                                                <!--商户联系方式：{$shop.phone}-->
                                            </td>
                                            <td>
                                                姓名：{$shop.contact_name} <br />
                                                电话：{$shop.contact_phone}<br />
                                                邮箱：{$shop.contact_email}
                                            </td>
                                            <td>{$shop.title}</td>
                                            <td>{$shop.outtime | date="Y-m-d",###}</td>
                                            <td>{$shop.sumprice}</td>
                                            <td>{:pay_status($shop.pay_status)}</td>
                                            <td>{:confirm_status($shop.confirm)}</td>
                                            <td>{$shop.addtime | date="Y-m-d H:i:s" , ###}</td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-transparent">
                                                        <a href="javascript:void(0);" _href="{:url('Tourism/eye_order',['oid'=>$shop.id])}" class="artlog">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </button>

                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="basic-table_info" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/footer" /}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<script>
    $(function () {
        $('select[name="pay_status"]').val('{:input("pay_status")}');
        $('select[name="confirm"]').val('{:input("confirm")}');
        $('#outstart,#outend').jeDate({
            format:'YYYY-MM-DD',
            isTime:false,
        });
    });
</script>