{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">旅游管理</a></li>
                <li><a>出发地列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <h4>
                <a href="{:url('tourism/setout')}">出发地列表</a>
                {php}/*
                <a href="{:url('tourism/setout',['status'=>1])}">待审核目的地</a>
                <a href="{:url('tourism/setout',['status'=>0])}">不通过目的地</a>
                */{/php}
                <a href="{:url('tourism/setout_edit')}">出发地添加</a>
            </h4>
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <div id="basic-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="basic-table_length">
                                        <form action="?">
                                            <label>
                                                出发地:<input type="search" class="form-control input-sm" placeholder="出发地搜索" name="setout" aria-controls="basic-table" value="{:input('setout')}">
                                            </label>
                                            <label for="sub">
                                                <input type="submit" id="sub" value="搜索" class="btn btn-primary" style="margin-bottom: 0;">
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>出发地</th>
                                            <th>状态</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="setouts" id="setout"}
                                        <tr>
                                            <td>{$setout.id}</td>
                                            <td>{$setout.setout}</td>
                                            <td>{$setout.status | land_status}</td>
                                            <td>{$setout.addtime | date="Y-m-d H:i:s" , ###}</td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    {if condition="$setout.status eq '0'"}
                                                    <button class="btn btn-transparent">
                                                        <a href="{:url('tourism/setout_edit',['sid'=>$setout.id])}">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                    </button>
                                                    {/if}
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="basic-table_info" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/footer" /}