<div style="height:1.2rem;" class="foo"></div>
<nav>
    <a href="{:url('Index/index')}" class="homeIcon">首页</a>
    <a href="{:url('Mall/index')}" class="categoryIcon">商城</a>
    <a href="{:url('Mall/cart')}" class="cartIcon">购物车</a>
    <a href="{:url('user/user')}" class="userIcon">我的</a>
</nav>
{load file="__JQUERY__jquery.cookie.js" /}
<script>
    document.oncontextmenu=new Function("event.returnValue=false;");
    document.onselectstart=new Function("event.returnValue=false;");
    $(function(){
        //飞入动画，具体根据实际情况调整
        $(".addToCart").bind('click',toCart);
        function toCart() {
            var gid = $(this).data('gid');
            var data = {"gid": gid};
            var self = $(this);
            $.ajaxSetup({async: false});
            $.get('{:url("Mall/ajax_cart")}', data, function (data) {
                var data = eval('(' + data + ')');
                $(".hoverCart a").html(data.num);
                $(".topCart em").html(data.num);
                if (data.code == 1) {
                    var shopOffset = $(".hoverCart").offset();
                    var cloneDiv = self.parent().siblings(".goodsPic").clone();
                    var proOffset = self.parent().siblings(".goodsPic").offset();
                    cloneDiv.css({"position": "absolute", "top": proOffset.top, "left": proOffset.left});
                    self.parent().siblings(".goodsPic").parent().append(cloneDiv);
                    cloneDiv.animate({
                        width: 0,
                        height: 0,
                        left: shopOffset.left,
                        top: shopOffset.top,
                        opacity: 1
                    }, "slow");
                    return true;
                } else if (data.code == -1) {
                    location.href = data.url;
                }
                alert(data.info);
                return false;
            });
        }
    });
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$signPackage.appId??""}', // 必填，公众号的唯一标识
        timestamp: '{$signPackage.timestamp??""}', // 必填，生成签名的时间戳
        nonceStr: '{$signPackage.nonceStr??""}', // 必填，生成签名的随机串
        signature: '{$signPackage.signature??""}',// 必填，签名，见附录1
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'onMenuShareQZone',
            'startRecord',
            'stopRecord',
            'onVoiceRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'onVoicePlayEnd',
            'uploadVoice',
            'downloadVoice',
            'previewImage',
            'downloadImage',
            'translateVoice',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'closeWindow',
            'scanQRCode',
            'chooseWXPay',
            'openProductSpecificView',
            'addCard',
            'chooseCard',
            'openCard'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
        var title = '',
            url = "{$signPackage.url}",
            host = window.location.origin,
            img = $('img').attr('src'),
            desc = '做旅游我们是认真的';
//        if(url.indexOf('?')>0){
//            url += '&salesman={php}echo encrypt(10009);{/php}'
//        }else {
//            url += '?salesman={php}echo encrypt(10009);{/php}'
//        }
        if(url.indexOf('?')>0){
            url += '&salesman={$userinfo.id | encrypt }';
        }else {
            url += '?salesman={$userinfo.id | encrypt }';
        }
        if(img && img.indexOf('//') < 0){
            img = host + img;
        }
        var share = {
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: img, // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        }
        //分享朋友圈
        wx.onMenuShareTimeline(share);
        //分享给朋友
        wx.onMenuShareAppMessage(share);
        //分享QQ
        wx.onMenuShareQQ(share);
        //分享腾讯微博
        wx.onMenuShareWeibo(share);
        //分享QQ空间
        wx.onMenuShareQZone(share);
    });

</script>
</body>
</html>
