{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="inline-validation" class="form-horizontal form-stripe">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label">用户ID</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="id" name="id" value="{$user.id ?? ''}" placeholder="用户的唯一ID" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label">姓名</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="name" name="name" value="{$user.nickname ?? ''}" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="col-sm-3 control-label">联系电话</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="phone" name="phone" value="{$user.phone}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sex" class="col-sm-3 control-label">性别</label>
                                            <div class="col-sm-6">
                                                <select name="sex" id="sex" class="form-control" >
                                                    <option value="1">男</option>
                                                    <option value="2">女</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">所在地</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{$user.province}{$user.city}  {$user.country}" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="integral" class="col-sm-3 control-label">所剩积分</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="integral" name="integral" value="{$user.integral??''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">头像</label>
                                            <div class="col-sm-6">
                                                <div class="upfiles">
                                                    <a href="{$user.headimg??''}" target="_blank"><img src="{$user.headimg??''}" alt="图片" title="{$user.headimg??''}" height="42"></a>
                                                </div>                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}
{load file="__PCAS__PCASClass.js"}
<script>
    $(function () {
        new PCAS('province','city','county', "{$store.province ?? ''}","{$store.city ?? ''}","{$store.county ?? ''}"); //地址
    })
</script>