{include file="base/header" /}
<div class="container-fluid">
    <div class="row">
        <div class="ernav clearfix">
            <ul>

                <li><a href="{:url('Dest/destlist')}">分类列表</a></li>

            </ul>
        </div>
        <div class="content">
            <table class="list-table" id="list_tag" name="list_tag">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>分类名</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="dest-0-0">
                    <td>123</td>
                    <td>jhjjjhj</td>
                    <td><a href="javascript:void(0);" class="dest" data-id="1" data-layer="0">查看子分类</a>|<a href="">修改</a>|<a href="">删除</a>|</td>
                </tr>
                <tr class="dest-1-1" style="display: none;">
                    <td>123</td>
                    <td>—我是二级目录1</td>
                    <td><a href="javascript:void(0);" class="dest" data-id="2" data-layer="1">查看子分类</a>|<a href="">修改</a>|<a href="">删除</a>|</td>
                </tr>
                <tr class="dest-1-1"  style="display: none;">
                    <td>123</td>
                    <td>—我是二级目录2</td>
                    <td><a href="javascript:void(0);" class="dest" data-id="3" data-layer="1">查看子分类</a>|<a href="">修改</a>|<a href="">删除</a>|</td>
                </tr>
                <tr class="dest-3-2" style="display: none;" >
                    <td>123</td>
                    <td>——我是二级目录2的子目录1</td>
                    <td><a href="javascript:void(0);" class="dest" data-id="4" data-layer="2">查看子分类</a>|<a href="">修改</a>|<a href="">删除</a>|</td>
                </tr>
                <tr class="dest-3-2" style="display: none;">
                    <td>123</td>
                    <td>——我是二级目录2的子目录2</td>
                    <td><a href="javascript:void(0);" class="dest" data-id="5" data-layer="2">查看子分类</a>|<a href="">修改</a>|<a href="">删除</a>|</td>
                </tr>
                <tr class="dest-5-3" style="display: none;">
                    <td>123</td>
                    <td>———我是二级目录2的子目录2子目录一</td>
                    <td><a href="javascript:void(0);" class="dest" data-id="6" data-layer="3">查看子分类</a>|<a href="">修改</a>|<a href="">删除</a>|</td>
                </tr>
                <tr class="dest-5-3" style="display: none;">
                    <td>123</td>
                    <td>———我是二级目录2的子目录2子目录二</td>
                    <td><a href="javascript:void(0);" class="dest" data-id="7" data-layer="3">查看子分类</a>|<a href="">修改</a>|<a href="">删除</a>|</td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
{include file="base/footer" /}