{include file="base/artlog_header" /}
<aside class="sidebar canvas-left">
    <nav class="main-navigation">
        <ul>
            <li>
                <a href="javascript:;">
                    <span>&nbsp;</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" id="print">
                    <i class="fa fa-print"></i>
                    <span>打印</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>

<section class="main-content">
    <div class="content-wrap">
        <div class="row">

            <div class="col-md-12">
                <section class="panel bg-none">
                    <div class="text-center">
                        行程标题
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        行程特色
                    </header>
                    <div class="panel-body demo">
                        发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel panel-primary">
                    <div class="panel-heading">行程安排</div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <header class="panel-heading">
                                第一天
                            </header>
                            <div class="show no-margin pd-t-xs">
                                发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                            </div>
                            <small class="text-muted">交通：大巴 / 早餐（）中餐（）晚餐（）住宿大理</small>
                        </li>
                        <li class="list-group-item">
                            <header class="panel-heading">
                                第一天
                            </header>
                            <div class="show no-margin pd-t-xs">
                                发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                            </div>
                            <small class="text-muted">交通：大巴 / 早餐（）中餐（）晚餐（）住宿大理</small>
                        </li>
                        <li class="list-group-item">
                            <header class="panel-heading">
                                第一天
                            </header>
                            <div class="show no-margin pd-t-xs">
                                发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                            </div>
                            <small class="text-muted">交通：大巴 / 早餐（）中餐（）晚餐（）住宿大理</small>
                        </li>
                        <li class="list-group-item">
                            <header class="panel-heading">
                                第一天
                            </header>
                            <div class="show no-margin pd-t-xs">
                                发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                            </div>
                            <small class="text-muted">交通：大巴 / 早餐（）中餐（）晚餐（）住宿大理</small>
                        </li>
                        <li class="list-group-item">
                            <header class="panel-heading">
                                第一天
                            </header>
                            <div class="show no-margin pd-t-xs">
                                发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                            </div>
                            <small class="text-muted">交通：大巴 / 早餐（）中餐（）晚餐（）住宿大理</small>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        行程推荐
                    </header>
                    <div class="panel-body demo">
                        发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                    </div>
                </section>
            </div>

            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        费用包含
                    </header>
                    <div class="panel-body demo">
                        发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        费用不包含
                    </header>
                    <div class="panel-body demo">
                        发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        签证/签注
                    </header>
                    <div class="panel-body demo">
                        发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        预定须知
                    </header>
                    <div class="panel-body demo">
                        发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        温馨提示
                    </header>
                    <div class="panel-body demo">
                        发咖啡开始放假付款是景点分类看似简单菲利克斯景点分类可视对讲菲利克斯假的飞克鲁塞德级分类可视对讲地方了深刻的附件是的李开复是京东客服历史记录看到飞机
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="site-overlay">

    </div>
</section>
{include file="base/foot" /}
{load file="__PUBLIC__wordexport/FileSaver.js"}
{load file="__PUBLIC__wordexport/jquery.wordexport.js"}
<script>
    $(function () {
        $('#print').click(function (event) {
            $('.main-navigation').hide();
            window.print();
            $('.main-navigation').show();

        });
    });
</script>
