{include file="base/head" /}
<section class="main-content">

    <div class="content-wrap">
        <div class="row mg-b">
            <div class="col-xs-6">
                <h3 class="no-margin">首页</h3>
                <small>欢迎进入小惠猫门店系统</small>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="circle-icon bg-success">
                            <i class="fa fa-microphone"></i>
                        </div>
                        <div>
                            <h3 class="no-margin">{$import??'0'}</h3> 汇入金额
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="circle-icon bg-danger">
                            <i class="fa fa-anchor"></i>
                        </div>
                        <div>
                            <h3 class="no-margin">{$consume??'0'}</h3> 消费金额

                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="circle-icon bg-default">
                            <i class="fa fa-magnet"></i>
                        </div>
                        <div>
                            <h3 class="no-margin">{$userinfo.balance??'0'}</h3> 余额
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

</section>
{include file="base/foot" /}
<script src="__PC__vendor/moment.js"></script>
<script src="__PC__vendor/skycons.js"></script>
<script src="__PC__vendor/jquery.blockUI.js"></script>
<script src="__PC__vendor/raphael.min.js"></script>
<script src="__PC__vendor/morris/morris.js"></script>
<script src="__PC__vendor/switchery/switchery.js"></script>
<script src="__PC__vendor/jquery.slimscroll.js"></script>
<script src="__PC__vendor/bxslider/jquery.bxslider.min.js"></script>
<script src="__PC__vendor/offline/offline.min.js"></script>
<script src="__PC__vendor/pace/pace.min.js"></script>


<script src="__PC__js/off-canvas.js"></script>
<script src="__PC__js/main.js"></script>

<script src="__PC__js/panel.js"></script>
<script src="__PC__js/dashboard.js"></script>