{include file="base/header" /}
<div class="container-fluid">
    <div class="row">
        <div class="ernav clearfix">
            <ul>
                <li><a href="{:url('Store/storelist')}">门店列表</a></li>
                <li class="on"><a href="{:url('Store/types',['sid'=>input('sid')])}">门店分类列表</a></li>
                <li><a _href="{:url('Store/typesedit')}" class="artlog">添加分类</a></li>
            </ul>
        </div>
        <div class="content">
            <table class="list-table" id="list_tag" name="list_tag">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>分类名称</th>
                    <th>查看子分类</th>
                    <th>排序</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="types" id="type"}
                <tr>
                    <td>{$type.id}</td>
                    <td>{$type.types}</td>
                    <td>
                        <?php
                            if($type['fid']=='0'){
                                ?>
                        <a href="{:url('Store/types',['sid'=>input('sid'),'fid'=>$type.id])}">查看</a></td>
                                <?php
                            }
                        ?>
                    <td>{$type.weight}</td>
                    <td>{$type.addtime|date='Y-m-d H:i:s',###}</td>
                    <td><a href="javascript:void (0);" _href="{:url('Store/typesedit',['sid'=>$type.id])}" class="artlog">修改</a>|<a href="/admin.php/index/del/page/11/field/id/value/1.html">删除</a>|</td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="paginate">{$page}</div>

        </div>
    </div>
</div>
{include file="base/footer" /}
<script>
    $(function () {

    });
</script>