{include file="base/header" /}

<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>修改密码</h1>
</header>
<div style="height:1rem;"></div>
<form action="{:url('User/passwd')}" id="passwd">
    <ul class="userForm">
        <li>
            <label class="formName">旧密码：</label>
            <input type="password" id="oldpasswd" name="oldpasswd" required placeholder="旧密码..."/>
        </li>
        <li>
            <label class="formName">新密码：</label>
            <input type="password" id="passwd1" name="passwd1" required placeholder="新密码..."/>
        </li>
        <li>
            <label class="formName">确认新密码：</label>
            <input type="password" id="passwd2" name="passwd2" required placeholder="确认新密码..."/>
        </li>
        <li><input type="button" value="确认修改密码" class="formLastBtn"/></li>
    </ul>
</form>

{include file="base/footer" /}
<script>
    $(document).ready(function(){
        //测试返回页面，程序对接删除即可
        $(".userForm input[type='button']").click(function(){
            var passwd1 = $('#passwd1').val();
            var passwd2 = $('#passwd2').val();
            if(passwd1 == '' || passwd1.length <8){
                alert('新密码为空，或长度小于八位。');
                return false;
            }
            if(passwd1 != passwd2){
                alert('两次密码不一致！');
                return false;
            }
            $('#passwd').submit();
        });
    });
</script>

