{include file="base/header" /}

<header>
 <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
 <h1>找回密码</h1>
</header>
<div style="height:1rem;"></div>
<ul class="formarea">
 <li>
  <label class="lit">账号：</label>
  <input type="text" placeholder="手机号码" class="textbox"/>
 </li>
 <li style="padding:0;"><a class="checkCode">获取手机校验码</a></li>
 <li>
  <label class="lit">校验码：</label>
  <input type="text" placeholder="六位校验码" class="textbox"/>
 </li>
 <li>
  <label class="lit">新密码：</label>
  <input type="password" placeholder="设置新密码" class="textbox"/>
 </li>
 <li>
  <label class="lit">确认密码：</label>
  <input type="password" placeholder="确认新密码" class="textbox"/>
 </li>
 <li>
  <input type="button" value="立即修改"/>
 </li>
</ul>
<div style="height:1.2rem;"></div>
<nav>
 <a href="index.html" class="homeIcon">首页</a>
 <a href="category.html" class="categoryIcon">分类</a>
 <a href="cart.html" class="cartIcon">购物车</a>
 <a href="user.html" class="userIcon">我的</a>
</nav>
{include file="base/footer" /}

<script>
  document.oncontextmenu=new Function("event.returnValue=false;");
  document.onselectstart=new Function("event.returnValue=false;"); 
</script>
<script>
    $(document).ready(function(){
        $(".formarea li:last input[type='button']").click(function(){
            alert("测试跳转效果，程序对接予以删除!");
            location.href="login.html";
        });
    });
</script>

