{include file="base/header" /}

<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>注册</h1>
</header>
<div style="height:1rem;"></div>
<!--<mark class="formMark">这里放电话做什么，请联系400-8200-5385</mark>-->
<form action="{:url('User/add_user')}" id="add_user" method="post">
    <ul class="formarea">
        <li>
            <label class="lit">账号：</label>
            <input type="tel" name="tel" id="tel" placeholder="手机号码" class="textbox"/>
        </li>
        <li>
            <label class="lit">密码：</label>
            <input type="password" name="passwd1" id="passwd1" placeholder="设置密码" class="textbox"/>
        </li>
        <li>
            <label class="lit">确认密码：</label>
            <input type="password" name="passwd2" id="passwd2" placeholder="确认密码" class="textbox"/>
        </li>
        <li>
            <label class="lit">昵称：</label>
            <input type="text" name="nickname" id="nickname" placeholder="昵称" class="textbox"/>
        </li>
        <li>
            <label class="lit">所在省：</label>
            <select name="province" id="province" required>
            </select>
        </li>
        <li>
            <label class="lit">所在市：</label>
            <select name="city" id="city" required>
            </select>
        </li>
        <li>
            <label class="lit">所在区：</label>
            <select name="county" id="county" required>
            </select>
        </li>
        <li class="liLink">
            <a href="{:url('user/article')}" class="fl">《用户协议》</a>
            <a href="{:url('user/login')}" class="fr">已有账号，登陆</a>
        </li>
        <li>
            <input type="button" value="立即注册"/>
        </li>
    </ul>
</form>
{include file="base/footer" /}
{load file="__PCAS__PCASClass.js"}
<script>
    $(function(){
        new PCAS('province','city','county');
        $(".formarea li:last input[type='button']").click(function(){
            if( !isPhoneNo( $('#tel').val() ) ){
                alert('手机号码的格式不正确！');
                return false;
            }
            if( $('#passwd1').val().length < 8 ){
                alert('密码长度8位以上！');
                return false;
            }
            if( $('#passwd1').val() != $('#passwd2').val() ){
                alert('输入的两次密码不一致');
                return false;
            }
            if ($('#nickname').val() == ''){
                alert('请输入昵称！');
                return false;
            }
            if( $('#province').val() == '' ){
                alert('请选择省份！');
                return false;
            }
            if( $('#city').val() == '' ){
                alert('请选择城市');
                return false;
            }
            if ( $('#county').val() == '' ){
                alert('请选择县区');
                return false;
            }
            $('#add_user').submit();
        });
        function isPhoneNo(phone) {
            var pattern = /^1[34578]\d{9}$/;
            return pattern.test(phone);
        }
    });
</script>

