{include file="base/header" /}

<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>账户管理</h1>
</header>
<div style="height:1rem;"></div>
<ul class="inforList">
    <li>
        <a href="{:url('User/change',['param'=>'name'])}" class="isNext">
            <span>用户昵称</span>
            <span>{$userinfo.nickname??'未设置'}</span>
        </a>
    </li>
    <li><a href="{:url('User/change_pwd')}" class="isNext">修改密码</a></li>

    <li>
        <a href="{:url('User/change',['param'=>'tel'])}" class="isNext">
            <span>手机号码</span>
            <span>{$userinfo.phone??'未设置'}</span>
        </a>
    </li>
    <li><a href="{:url('Mall/addresslist')}" class="isNext">收货地址</a></li>
    <li><a href="{:url('User/article')}" class="isNext">关于我们</a></li>
    <li><a href="{:url('User/login')}" class="lastBtn">安全退出</a></li>
</ul>
{include file="base/footer" /}
