{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div  class="form-horizontal form-stripe">
                                        <div class="form-group">
                                            <label for="title" class="col-sm-3 control-label">休闲卡标题<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" id="title" name="title" placeholder="请输入休闲卡标题" class="form-control" required value="{$arder.title ?? ''}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="title" class="col-sm-3 control-label">休闲卡图片<span class="required">*</span></label>
                                            <div class="col-sm-6" id="up">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="title" class="col-sm-3 control-label">休闲卡原价<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" id="original_price" name="original_price" placeholder="请输入原价" class="form-control" required value="{$arder.oriprice ?? ''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="title" class="col-sm-3 control-label">休闲卡现价<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" id="ruling_price" name="ruling_price" class="form-control" required placeholder="请输入现价" value="{$arder.ingprice ?? ''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="title" class="col-sm-3 control-label">库存<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" id="stock" name="stock" class="form-control" required placeholder="请输入库存" value="{$arder.stock ?? ''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="details" class="col-sm-3 control-label">休闲卡详情</label>
                                            <div class="col-sm-6">
                                                <textarea type="text" id="details" name="details" placeholder="请输入输入休闲卡详情">{$arder.details ?? ''}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}
{load file="__UEDITOR__ueditor.config.js"}
{load file="__UEDITOR__ueditor.all.min.js"}
<script>

    $(function() {

        var toolbars = [
            ['fullscreen', 'source', 'undo', 'redo', 'removeformat', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'fontfamily'],
            ['formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'fontsize', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc']
        ];
        var recommend = UE.getEditor('details', {
            toolbars: toolbars,
            initialFrameHeight: '200',
            initialFrameWidth: '100%'
        });
        var pics = "{$arder.pics ?? ''}",pic_arr = new Array();
        pic_arr = pics.split(',');
        var html = '';
        for (var c in pic_arr){
            html += '<div class="upfiles">'+
                '<img src="'+pic_arr[c]+'" alt="图片" title="'+pic_arr[c]+'" height="42">'+
                '</div>';

        }
        $('#up').html(html);

//        var up = new Upload("pics", {}, "{$arder.pics ?? ''}");
    });


</script>