<aside class="sidebar canvas-left">

    <nav class="main-navigation">
        <ul>
            <li class="active">
                <a href="{:url('Index/index')}">
                    <i class="fa fa-coffee"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="dropdown show-on-hover">
                <a href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h"></i>
                    <span>产品中心</span>
                </a>
                <ul class="dropdown-menu">

                    <li>
                        <a href="{:url('Product/trip')}">
                            <span>行程列表</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown show-on-hover">
                <a href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h"></i>
                    <span>财务管理</span>
                </a>
                <ul class="dropdown-menu">

                    <li>
                        <a href="{:url('Product/finance')}">
                            <span>分销商财务</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>


    <footer>
        <div class="about-app pd-md animated pulse">
            <a href="javascript:;">
                <img src="img/about.png" alt="">
            </a>
            <span>
<b>Cameo</b>&#32;is a responsive admin template powered by bootstrap 3.
<a href="javascript:;">
<b>Find out more</b>
</a>
</span>
        </div>
        <div class="footer-toolbar pull-left">
            <a href="javascript:;" class="pull-left help">
                <i class="fa fa-question-circle"></i>
            </a>
            <a href="javascript:;" class="toggle-sidebar pull-right hidden-xs">
                <i class="fa fa-angle-left"></i>
            </a>
        </div>
    </footer>

</aside>
