{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">旅游管理</a></li>
                <li><a>旅游攻略编辑</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <h4 class="section-subtitle">
                <a href="{:url(strategy/strategy_list)}">攻略列表</a>
                <a href="{:url(strategy/strategy_edit)}">攻略编辑</a>
            </h4>
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal form-stripe" action="{:url('Strategy/strategyedit')}" id="strategy" method="post">
                                <input type="hidden" name="act" value="{$act ?? 'add'}">
                                <input type="hidden" name="id" value="{$id ?? ''}">
                                <div class="form-group">
                                    <label for="title" class="col-sm-3 control-label">攻略标题<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="title" name="title" placeholder="请输入攻略标题" class="form-control" required value="{$strategy.title ?? ''}" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">目的地<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-10 destshow">
                                                {notempty name="$dest"}
                                                <span class="destination">{$dest.destination}<input type="hidden" class="destina" name="destination[]" value="{$dest.id}"><input type="hidden" name="desttext[]" value="{$dest.destination}"><span class="fa fa-remove del"></span></span>

                                                {/notempty}
                                            </div>
                                            <div class="col-sm-2"><button type="button" class="change">更改</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-sm-3 control-label">攻略图片<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="file" id="pic" name="pic" placeholder="请上传图片" />

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="content" class="col-sm-3 control-label">攻略内容</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" id="content" name="content" placeholder="请输入输入旅游攻略"  >{$strategy.content ?? ''}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/form_footer" /}
<script>

    $(function() {

        $("#strategy").submit(function () {
            var d_len = $('.destination').length;
            if(d_len <= 0){
                alert('请选择一个目的地');
                return false;
            }
            return true;
        }).validate(); //表单验证

        var toolbars = [
            ['fullscreen', 'source', 'undo', 'redo', 'removeformat', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'fontfamily'],
            ['formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'fontsize', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc']
        ];
        var recommend = UE.getEditor('content', {
            toolbars: toolbars,
            initialFrameHeight: '200',
            initialFrameWidth: '600'
        });
        var up = new Upload('pic', {}, "{$strategy.pic ?? ''}");
        $('.change').click(changedest);
        // 更改目的地
        function changedest() {
            var destina = $('.destina');
            var dids = new Array();
            var i = 0;
            destina.each(function () {
                dids[i++] = $(this).val();
            });
            $.get('{:url("Tourism/ajax_dest")}',{exit:$('input[name="exit_type"]:checked').val()},function (dests) {
                var data = eval('('+dests+')');
                var html = ergodicdest(data,0);
                art.dialog({
                    lock:true,
                    title:'选择目的地',
                    content:html,
                    width:"50%",
                    ok:function(){
                        var origin = artDialog.open.origin;
                        var checkboxs = $('.dests:checked');
                        var destshow = $('.destshow');
                        var desthtml = '';
                        checkboxs.each(function (check) {
                            var value = $(this).val();
                            var text = $(this).siblings('.destext').text();
                            desthtml += showdest(text,value);
                        });
                        destshow.html(desthtml);
                    }
                });
                for (var i in dids){
                    $('#dest-'+dids[i]).prop('checked',true);
                }
            });
        }
        //遍历目的地
        function ergodicdest(data,level){
            var html = '';
            var str = '';
            for(var x = 0; x<level; x++){
                str += '-'
            }
            for(var prop in data){

                html += "<label class='destination' for='dest-"+data[prop].id+"'>"+str;
                if(data[prop]['des'].length == 0){
                    html += "<input type='checkbox' id='dest-"+data[prop].id+"' class='dests' value='"+data[prop].id+"'>";
                }
                html+="<span class='destext'>"+data[prop].destination+"</span></label>";
                html += ergodicdest(data[prop]['des'] ,++level);
            }
            return html;
        }
        //显示出目的地
        function showdest(text,value) {
            var html = '<span class="destination">'+text+'<input type="hidden" class="destina" name="destination[]" value="'+value+'"><input type="hidden" name="desttext[]" value="'+text+'"><span class="fa fa-remove del"></span></span>';
            return html;
        }
        // 修改线路时初始化目的地
        (function initdest(){
            var dids = "{$strategy.dest_id??''}";
            var dtexts = "{$strategy.dest??''}";
            var ids = new Array();
            var desc = new Array();
            if(dids != ''){
                ids = dids.split(',');
                desc = dtexts.split(',');
                var html = '';
                for (var i in ids){
                    html += showdest(desc[i],ids[i])
                }
                $('.destshow').html(html);
            }
        })();
        $('.destshow').on('click','.destination .del',function () {
            $(this).parent().remove();
        });
    });


</script>