{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{:url('Ask/temp_typeEdit')}" id="inline-validation" class="form-horizontal form-stripe">
                                        <input type="hidden" name="act" value="{$act??'add'}">
                                        <input type="hidden" name="aid" value="{$aid??''}">
                                        <div class="form-group">
                                            <label for="temp_type" class="col-sm-3 control-label">分类标题<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="temp_type" name="temp_type" required value="{$ask_type.temp_type ?? ''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">是否显示<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <select name="status" id="status"  class="form-control">
                                                    <option value="1">显示</option>
                                                    <option value="0">不显示</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="weight" class="col-sm-3 control-label">排序<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="weight" name="weight" required value="{$ask_type.weight ?? '0'}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-primary">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}
<script>
    $(function(){
        $('#status').val("{$ask_type.status ?? '1'}");
    });
</script>