{load file="__JQUERY__jquery-2.0.0.min.js"}
{load file="__BOOTSTRAP__bootstrap.min.js"}
{load file="__UEDITOR__ueditor.config.js"}
{load file="__UEDITOR__ueditor.all.min.js"}
{load file="__JQUERY__jquery.validate.js"}
{load file="__JQUERY__localization/messages_zh.min.js"}
{load file="__JQUERY__additional-methods.min.js"}
{load file="__UPLOADER__Uploader.js"}
{load file="__UPLOADER__uploader.css"}
{load file="__ARTDIALOG4.1.7__skins/aero.css"}
{load file="__ARTDIALOG4.1.7__artDialog.js"}
{load file="__ARTDIALOG4.1.7__plugins/iframeTools.source.js"}
{load file="__PCAS__PCASClass.js"}
{load file="__MYDATE__WdatePicker.js"}
<script>
    $(function(){
        $('.sannav>ul>li>a').click(function(){
            var href = $(this).attr('href');
            $(this).parent().addClass('on').siblings().removeClass('on');
            $(href).css('display','table').siblings('.form-table').css('display','none');
        });
        $('.artlog').click(function(){
            var url = $(this).attr('_href'),
                title = $(this).text();
            var list = art.dialog.list;
            for (var i in list) {
                list[i].close();
            };
            art.dialog.open(url,
                {'title':title,
                    'width':'60%',
                    'height':'60%',
                });
        });

    });

</script>
</body>
</html>