<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>商户-首页</title>
    {load file="__BOOTSTRAP__bootstrap/normalize.css"}
    {load file="__BOOTSTRAP__bootstrap/bootstrap.min.css"}
    {load file="__ADMIN__css/style.css"}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 bg-e1 none-padding" id="nav" style="overflow-y: auto;overflow-x: hidden;">
            <div class="left-hide-btn text-center">
                <i class="glyphicon glyphicon-th-list btn-block" title="收起菜单"></i>
                <i class="glyphicon btn-block" title="展开菜单"></i>
            </div>
            <div class="left-profile bg-16">
                <div class="profile-wrapper clearfix">
                    <div class="profile-img">
                        <a href="?">
                            <img src="{$merchant.logo}" alt="logo" title="{$merchant.name}" />
                        </a>
                    </div>
                    <div class="profile-info">
                        <ul>
                            <li>{$merchant.account}</li>
                            <li>{$merchant.name}</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix navigation">
                <ul>
                    <li class="active">
                        <div><a href="{:url('Index/form')}"  target="main">首页</a></div>
                    </li>

                    <li>
                        <div>商城管理</div>
                        <ul class="clearfix">
                            <li><a href="{:url('Store/storelist')}" target="main">店铺列表</a></li>
                            <li><a href="{:url('Goods/goodslist')}" target="main">商品列表</a></li>
                            <li><a href="{:url('Orders/orderslist')}" target="main">订单列表</a></li>
                            <li><a href="{:url('Comment/commentlist')}" target="main">评论列表</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10" id="iframe_p" style=" overflow: hidden;">
            <iframe name="main" src="{:url('Index/index')}" class="iframe"></iframe>
        </div>
    </div>
</div>
{load file="__JQUERY__jquery-2.0.0.min.js"}
{load file="__BOOTSTRAP__bootstrap.min.js"}
{load file="__ADMIN__js/index.js"}
</body>
</html>