{include file="base/header" /}
<div class="container-fluid">
    <div class="row">
        <div class="ernav clearfix">
            <ul>
                <li class="on"><a href="{:url('Goods/goodslist')}">商品列表</a></li>
                <li><a href="{:url('Goods/goodsedit')}">添加商品</a></li>
            </ul>
        </div>
        <div class="content">
            <table class="list-table" id="list_tag" name="list_tag">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>店铺信息</th>
                    <th>商品名</th>
                    <th>价格</th>
                    <th>销售概览</th>
                    <th>数量</th>
                    <th>二维码</th>
                    <th>状态</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="goodslists" id="goodslist"}
                <tr>
                    <td>{$goodslist.id}</td>
                    <td>
                        店铺ID：{$goodslist.storeid}<br/>
                        店铺名：{$goodslist.store}<br/>
                        店铺电话：{$goodslist.phones}
                    </td>
                    <td>{$goodslist.tradename}</td>
                    <td>原价：{$goodslist.oriprice}<br/>现价：{$goodslist.ingprice}</td>
                    <td>
                        售出：{$goodslist.sell}份
                    </td>
                    <td>
                        查看量：{$goodslist.clicks}<br/>
                        评论量：{$goodslist.centnum}<br/>
                    </td>
                    <td><a href="javascript:void (0);">查看二维码</a></td>
                    <td>{$goodslist.status}</td>
                    <td>{$goodslist.addtime|date='Y-m-d H:i:s',###}</td>
                    <td><a href="{:url('Goods/goodsedit',['gid'=>$goodslist.id])}">修改</a>|<a href="/admin.php/index/del/page/11/field/id/value/1.html">删除</a>|</td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="paginate">{$page}</div>

        </div>
    </div>
</div>
{include file="base/footer" /}
<script>
    $(function () {

    });
</script>