{include file="base/header" /}

<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <a href="{:url('Mall/address')}" class="iconfont" style="display: block;position: absolute;right: 0;top: 0;padding: 0 .3rem;color: white;font-size: .4rem;">
        添加地址
    </a>
    <h1>我的地址</h1>

</header>
<div style="height:1rem;"></div>
{volist name="addresslist" id="address"}
<aside class="confirmAddr" style="margin-bottom: 1px;">
    <a href="{:url('Visa/confirm',['v'=>session('v'),'aid'=>$address.id])}">
        <p>
            <span>收货人：{$address.consignee}</span>
            <span>{$address.phone}</span>
        </p>
        <address>{$address.province . $address.city . $address.county . $address.address}</address>

    </a>
    <a href="{:url('Visa/address',['id'=>$address.id])}" class="iconfont">
        &#60;
    </a>
</aside>
{/volist}

<div style="height:1rem;"></div>
{include file="base/footer" /}
<script>
    $(function(){
        //payment style
        $(".payment dd label input[type='radio']").click(function(){
            $(this).parent().addClass("isTrue");
            $(this).parent().siblings().removeClass("isTrue");
        });
        //测试流程效果，程序对接可将其删除！
        $(".btmNav a:last").click(function(){
            alert("点击提交订单后跳转支付接口，再返回支付状态！");
            location.href="return_state.html";
        });
    });
</script>

