{volist name="visas" id="visa"}
<div class="sign_item" data-productid="{$visa.id}">
    <h3>
        <!--<span class="generalize">推广</span>-->  {$visa.title ?? '' }
    </h3>
    <div class="visa_tag_box">
        <!--<span>测试</span>-->
    </div>
    <div class="money_box">
        <span class="send_time">
            <i class="worktime"></i>提前6个工作日预订
        </span>
    </div>
    <div class="money_box">
        <span class="send_time">
            <i class="vbk"></i>{$visa.name??''}
        </span>
        <div class="sign_price">
            <p>
                <dfn>¥</dfn>
                <span class="price_nb">{$userinfo.type=='1'?$visa.balance:$visa.sell}</span> <span class="price_begin">起</span>
            </p>
            <p class="price_b">
                快来办理
            </p>
        </div>
    </div>
</div>
{/volist}