{include file="base/header" /}
{load file="__INDEX__css/detail.css" /}
{load file="__INDEX__css/visa.css" /}
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>确认订单</h1>
</header>
<div style="height:1rem;"></div>

<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_4_1501830833708">
                <div class="body mod_assistant" style="padding-bottom:38px">
                    <div class="new_visa_proposer sel_applicant" id="js_proposer_box">
                        <ul id="js_proposer_container">
                            <li class="sel_proposer">
                                <ul class="new_visa_fillin">
                                    <li>
                                        <a class="choose_proposer_btn js_proposer_login_addBtn" href="javascript:void(0)">选择申请人</a>
                                        <span class="new_proposer">申请人</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="js_proposer_login_addBtn">
                                <ul class="new_visa_fillin">
                                    {volist name="peoples" id="people"}
                                    <li class="v_arrow_r">
                                        <span>成人</span>
                                        <span class="proposer_name name_width">{$people.name}</span>
                                        <span class="proposer_position">{$people.type | peo_type}</span>
                                    </li>
                                    {/volist}

                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="base_loading" style="display: none;">
                        <i>
                        </i>加载中</div>
                    <div class="v_mod new_visa_proposer1" id="js_contact_content">
                        <ul class="v_list">
                            <li class="v_contact_list visa_newcontact">
                                <ul class="new_visa_fillin peop_tit">
                                    <li>
                                        <span class="new_proposer">联系人信息</span>
                                    </li>
                                </ul>
                                <ul class="v_contact_content newcontact_content">
                                    <li>
                                        <h3 class="v_contact_hd">联系人</h3>
                                        <div class="v_contact_input clear-input-box">
                                            <input type="text" id="name" class="v_input_text" placeholder="请输入姓名" value="">
                                            <a class="clear-input " href="javascript:;" style="display: none;">
<span>
</span>
                                            </a>
                                        </div>
                                    </li> <li class="china_phone" id="js_mobile_li">
                                    <div class="v_contact_hd js_countrycode">
                                        <span class="phone_title js_tel_country">大陆手机</span>
                                    </div>
                                    <div class="v_contact_input clear-input-box">
                                        <input type="text" id="contact" class="v_input_text phone_container" data-code="86" data-cn="中国大陆" placeholder="请输入手机号码" value="">
                                        <a class="clear-input " href="javascript:;" style="display: none;">
<span>
</span>
                                        </a>
                                    </div>
                                </li>
                                    <li>
                                        <h3 class="v_contact_hd">电子邮件</h3>
                                        <div class="v_contact_input clear-input-box">
                                            <input type="text" id="email" class="v_input_text" placeholder="请输入电子邮件" value="">
                                            <a class="clear-input " href="javascript:;" style="display: none;">
                                                <span></span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="v_mod v_visa_order" id="js_contactInfo_content">
                        <ul class="v_list">
                            <!--<li id="js_invoice">
                            <h3 class="v_list_hd">发票</h3>
                            <div class="v_list_bd v_arrow_r proposer_gray">不需要发票</div>
                            </li>-->
                            <ul id="js_delivery_container" style="">
                                <li id="js_deliveryTitle">
                                    <h3 class="v_list_hd">配送方式</h3>
                                    <div class="v_list_bd js_delivery_type_choose" data-type="3">
                                        <div class="cheap_price">
                                            快递配送费
                                            <span>
                                                <em>{$visa.logistics??'0'}元</em>
                                            </span>
                                        </div>
                                        <p class="cheap_tips_auto">注：出签后将按照您填写的地址投递出签护照，请务必保证地址的准确性</p>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="v_list_hd">配送地址</h3>
                                    <div class="v_list_bd v_arrow_r js_select_address">
                                        <span class="proposer_gray">
                                            {$address?$address.province . $address.city . $address.county . $address.address:'请选择配送地址'}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <li class="v_sub_list" style="">
                                <ul class="v_delivery_list">
                                    <li class="v_sub_tips">请填写完整的配送地址并确保所有信息的准确性，以免无法收到出签护照等材料。</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="pay_provision">点击去支付表示已阅读并同意<span id="js_note_tips">预订须知和重要条款</span>
                        </div>
                    </div>
                </div>
                <footer class="detail_bottom book_bottom">
                    <div class="detail_bottom_box">
                        <i class="loading_orange_icon" id="js_price_loading" style="margin: 12px 6px 12px 12px; display: none;"></i>
                        <span class="total" id="js_price_total" style="">
                            总额：<dfn>¥</dfn>
                        <strong>
                            {if condition="$userinfo.type eq 0"}
                            {$visa.logistics  + $visa['sell'] * $num }
                            {else /}
                            {$visa.logistics  + take_b($visa['balance'],getCache('take')['core_take']) * $num }
                            {/if}
                        </strong>
                        </span>
                        <span class="detail_btn_orange" id="js_pay_btn" style="width:40%">下一步,去支付</span>
                    </div>
                </footer>
                <div class="p_popup_mod hidden" id="js_note_tips_pop">
                    <i class="mask_mod">
                    </i>
                    <div class="popups p_popup_cost visa_pop_box">
                        <div class="popup_con">
                            <h3 class="text_tit">预订须知和重要条款</h3>
                            <div class="text_cot">
                                {//信息}
                            </div>
                        </div>
                    </div>
                    <span class="closed_btn">
</span>
                </div>
                <div class="p_popup_mod hidden" id="js_visa_notice_pop">
                    <i class="mask_mod">
                    </i>
                    <div class="popups p_popup_cost visa_pop_box">
                        <div class="popup_con">
                            <h3 class="text_tit">中文姓名填写说明</h3>
                            <div class="text_cot">
                                <div class="base_list" style="padding: 0 15px 15px 15px">
                                    <p>1. 乘客姓名必须与所持证件一致。</p>
                                    <p>2. 名字中含生僻字可直接输入拼音代替。例：“王鬳”可输入为“王yan”或者“王-yan”。</p>
                                    <p>3. 姓名中不可含有称谓等词语，如：小姐、先生、太太、夫人等。</p>
                                    <p>4. 中文姓名不可少于2个汉字，英文姓名不可少于2个英文单词。</p>
                                    <br>
                                    <p>登机特别提示：</p>
                                    <p>1. 持护照登机，如使用中文姓名，请确保护照上有相应的中文姓名。</p>
                                    <p>2.持护照登机的外宾，请以姓在前名在后的方式填写，例：Zhang（姓）/San（名），不区分大小写。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="closed_btn"></span>
                </div>
            </div>
        </div>
        <div class="main-state">
        </div>
    </div>
</div>
<style>
    nav{display: none;}
</style>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<style>
    .jedatebox{width: calc(100% - 2px);}
    .jedateblue .jedatebot{ height:0;}
    .set_date{background-color: #fff}

</style>
<script>
    $(function(){
        var data = '';
        $('.js_proposer_login_addBtn').on('click',function () {
            location.href = "{:url('Visa/passengerselect')}?v={$visa.id}";
        });
        $('.proposer_gray').on('click',function () {
            location.href = "{:url('Visa/addresslist')}?v={$visa.id}";
        });
        //继续下一步
        $('.detail_btn_orange').on('click',function () {
            var name = $('#name').val(),
                contact = $('#contact').val(),
                email = $('#email').val(),
                aid = "{:input('aid')}",
                ids = "{:session('ids')}",
                v = "{:input('v')}";
            if(!ids){
                alert('请选择办理人');
                return;
            }
            if(!name){
                alert('请填写联系人！');
                return ;
            }
            if(!contact){
                alert('请填写联系人手机号码');
                return ;
            }
            if(!aid){
                alert('请填写选择收件地址');
                return ;
            }
            if(!v){
                alert('请选择购买签证');
                return;
            }
            var data = {name:name,contact:contact,email:email,aid:aid,v:v};
            $.get("{:url('Visa/order')}",data,function (msg) {
                var result = eval('('+msg+')');
                if(result.code == 1){
                    location.href = "{:url('Visa/order_pay')}?oid="+result.orderid
                }else {
                    alert(result.info);
                }
                return;
            });
        });
        //数量的增加,金额的计算
        $('.man_box .js_num_minus').on('click',function () {
            var num = $('.man_box .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num -= 1;
            if(num < 0){
                $(this).addClass('disabled');
                $('.man_box .js_cur_num').text(0);
                return false;
            }
            $('.man_box .js_cur_num').text(num);
            prices();
        });
        $('.man_box .js_num_plus:not(".disabled")').on('click',function () {
            var num = $('.man_box .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num += 1;

            if(num > 0){
                $('.man_box .js_num_minus').removeClass('disabled');
            }
            $('.man_box .js_cur_num').text(num);
            prices();
        })
        $('.child_box .js_num_minus').on('click',function () {
            var num = $('.child_box .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num -= 1;
            if(num < 0){
                $(this).addClass('disabled');
                $('.child_box .js_cur_num').text(0);
                return false;
            }
            $('.child_box .js_cur_num').text(num);
            prices();
        });
        $('.child_box .js_num_plus:not(".disabled")').on('click',function () {
            var num = $('.child_box .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num += 1;
            if(num > 0){
                $('.child_box .js_num_minus').removeClass('disabled');
            }
            $('.child_box .js_cur_num').text(num);
            prices();
        })
        function prices() {
            if(!$('#dates').val()){
                alert('请选择出行日期');
                return ;
            }
            var dates = datasng(Date.parse($('#dates').val()),'yyyyMMdd');
            var price = data[dates];
            if(price['stock']<=0){
                alert('今天行程没有库存啦！');
                return;
            }
            var take = parseFloat("{$userinfo.clerk == '1'?getCache('take')['core_take']:getCache('take')['salesman_take']}"),
                op_audit = op_cost(price.adult,price.adult_balance,take),
                op_children = op_cost(price.children,price.children_balance,take);
            $('.op_audit_b .fr').text("￥" + op_audit);
            $('.op_child_b .fr').text("￥" + op_children);
            $('.audit_b .fr').text("￥" + balance(price.adult_balance));
            $('.child_b .fr').text("￥" + balance(price.children_balance));
            var mans = $('.man_box .js_cur_num').text(),
                childs = $('.child_box .js_cur_num').text(),
                man_price = toFixed2(price.adult_balance,mans),
                man_op = op_sum_cost(op_audit,mans),
                child_op = op_sum_cost(op_children,childs),
                child_price = toFixed2(price.children_balance,childs),
                sum = (man_price + man_op + child_price + child_op).toFixed(2);

            $('.detail_calendar_price').text('总额：￥'+sum);
        }
        // 时间戳转换字符串
        function datasng(sng,fmat)
        {
            // (new Date(parseInt(sng) * 1000))  把时间戳转换成时间对象。
            return  (new Date(parseInt(sng))).format(fmat);
        }

        Date.prototype.format = function(format) {
            var date = {
                "M+": this.getMonth() + 1,
                "d+": this.getDate(),
                "h+": this.getHours(),
                "m+": this.getMinutes(),
                "s+": this.getSeconds(),
                "q+": Math.floor((this.getMonth() + 3) / 3),
                "S+": this.getMilliseconds()
            };
            if (/(y+)/i.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
            }
            for (var k in date) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1
                        ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
                }
            }
            return format;
        };
        //抽成比例
        function balance(balance) {
//            var bl = parseFloat("{:getCache('take')['s_take']}");
            var bl = 0;
            return (parseFloat(balance) + parseFloat(balance * bl / 100)).toFixed(2);
        }
        // 抽成总数
        function toFixed2(val,peo) {
            return parseFloat((parseFloat(balance(val)) * parseFloat(peo)).toFixed(2))
        }
        //操作费
//        function op_cost(market,balance,take) {
//            return parseFloat ((( parseFloat(market) - parseFloat(balance) ) * parseFloat(take) / 100).toFixed(2));
//        }
        function op_cost(market,balance,take) {
            return parseFloat ((( parseFloat(balance) ) * parseFloat(take) / 100).toFixed(2));
        }
        //总操作费
        function op_sum_cost(cost,num) {
            return cost * num;
        }
        // cur
    });
</script>