{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
{load file="__INDEX__/css/process.css" /}
{load file="__INDEX__css/visa.css" /}
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <a href="javascript:void (0);" class="rt_searchIcon" style="font-size: .3rem;">完成</a>
    <h1>选择出行人</h1>
</header>
<div style="height:1rem;">
</div>
<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_2_1498033309698" page-url="" data-view-name="passengerselect" style="">
                <div class="body nofoot js_body">
                    <div class="mod_top_actions">
                        <div class="mod_top_add" data-sk-eid="hcc_tra_tap_add">
                            <i class="ico_add">
                            </i>
                            <span class="v_blue">新增旅客</span>
                        </div>
                        <!--<div class="mod_btn_search">-->
                        <!--<a href="javascript:;" class="btn_search" data-sk-eid="hcc_tra_tap_search">-->
                        <!--</a>-->
                        <!--</div>-->
                    </div>
                    <div class="v_mod v_guest traveller_mod">
                        <ul class="v_list traveller_list">
                            {volist name="upeoples" id="upeople"}
                            <li class="v_checkbox_select" data-id="{$upeople.id}" data-iscomplete="true">
                                <i class="animate_select2">
                                </i>
                                <p class="guest_name">
                                    <strong>{$upeople.name}{notempty name="$upeople.type"}{$upeople.type | peo_type}{/notempty}</strong>
                                    <!--<span class="gender">{$upeople.sex}</span>-->
                                </p>
                                <p class="traveller_identity">&nbsp;</p>
                                <i class="edit_icon" data-index="{$key}"></i>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <div class="p_popup_mod popup_anima popup_assist_cancel add_pass_pop hidden" id="js_proposer_edit_pop" style="display: none">
                    <i class="mask_mod">
                    </i>
                    <div class="anima">
                        <div class="popup_assist_item" data-editinfoid="31947724">
                            <div class="hd">
                                <h2 class="p_hd_title">编辑申请人</h2>
                            </div>
                            <div class="bd" style="max-height:351px">
                                <ul class="add_pass_list">
                                    <li class="item">
                                        <input type="text" class="proposer_input js_edit_name" data-act="add" placeholder="中文姓名">
                                        <span class="time_icon1">
                                        </span>
                                    </li>
                                    <li class="item v_arrow_down js_edit_adultidentity">成人/儿童（0-12周岁请选择儿童）</li>
                                    <li class="item v_arrow_down js_edit_identity" >客户类型</li>
                                    <li class="item">
                                        <input type="text" class="proposer_input js_edit_cardid" data-cardtype="2" placeholder="护照号码">
                                    </li>
                                </ul>
                            </div>
                            <div class="ft bd_gray_top">
                                <a href="#" class="btn_link btn_link2">取消</a>
                                <a href="#" class="btn_link btn_link1">保存</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="warp_z" class="warp_z hidden" style="z-index: 1000"></div>
                <div class="pop_post_select filtrate_animation hidden" style="position: fixed;bottom: 0;z-index: 1000;width:100%;">
                    <ul class="pop_post_list inv_post_list">
                        <li class="item" data-index="1">在职</li>
                        <li class="item" data-index="2">自由职业</li>
                        <li class="item active" data-index="4">在校学生</li>
                        <li class="item" data-index="3">退休</li>
                        <li class="item" data-index="5">学龄前儿童</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>nav{display: none;}body{display: unset;}</style>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<script>
    $(function(){
        var peoples = "{:session('ids')}";
        var peos = new Array();
        peos = peoples.split(',');
        
        var man = "{$shop.man ??'0'}",child="{$shop.child ?? '0'}",sumren=parseInt(man)+parseInt(child)
        for (var i in peos){
            $('.v_checkbox_select[data-id="'+peos[i]+'"]').addClass('v_selected');
            judge_paper(peos[i]);
        }
        $('.v_checkbox_select').on('click',function () {
            if($(this).is('.v_selected')){
                $(this).removeClass('v_selected');
            }else {
                $(this).addClass('v_selected');
                var ids = $(this).data('id');
                judge_paper(ids);
            }

        });
        var types = [{id:1,select:'在职'},{id:2,select:'无业'},{id:3,select:'在校学生'},{id:4,select:'退休'},{id:5,select:'学龄前儿童'}];
        var olds = [{id:1,select:'成人'},{id:2,select:'儿童'}];
        // 编辑用户
        $('.edit_icon').on('click',function () {
            clean();
            var vid = $(this).parent().data('id');
            if(vid){
                $('.js_edit_name').data('act','update');
            }
            $('.add_pass_pop').removeClass('hidden').show();
            var data = {pid:vid};
            $.get("{:url('Visa/ajax_passport')}",data,function (meg) {
                var uinfo = eval('('+meg+')');
                $('.js_edit_name').val(uinfo.name).data('id',uinfo.id);
                var o = {};
                for(var x in olds){
                    if(olds[x].id == uinfo.old){
                        o = olds[x];
                        break;
                    }
                }
                $('.js_edit_adultidentity').text(o.select).data('id',o.id);
                var type = {};
                for(var x in types){
                    if(types[x].id == uinfo.type){
                        type = types[x];
                        break;
                    }
                }
                $('.js_edit_identity').text(type.select).data('id',type.id);
                $('.js_edit_cardid').val(uinfo.passport.idnumber).data('id',uinfo.passport.id);
            });
        });
        // 编辑用户成长信息
        $('.js_edit_adultidentity').on('click',function () {
            var html = '';
            for (var x in olds){
                html += '<li class="item" data-index="'+olds[x].id+'">'+olds[x].select+'</li>';
            }
            var _this = $(this);
            $('.inv_post_list').html(html)
                .find('.item').on('click',function () {
                    var select = $(this).text(),
                        id = $(this).data('index');
                _this.text(select).data('id',id);
                $('#warp_z,.filtrate_animation').addClass('hidden');

                $(this).unbind('click');
            });
            $('#warp_z,.filtrate_animation').removeClass('hidden');
        });
        // 编辑用户类型信息
        $('.js_edit_identity').on('click',function () {
            var html = "",_this = $(this);
            for (var x in types){
                html += '<li class="item" data-index="'+types[x].id+'">'+types[x].select+'</li>';
            }
            $('.inv_post_list').html(html)
                .find('.item').on('click',function () {
                var select = $(this).text(),
                    id = $(this).data('index');
                _this.text(select).data('id',id);
                $('#warp_z,.filtrate_animation').addClass('hidden');

                $(this).unbind('click');
            });
            $('#warp_z,.filtrate_animation').removeClass('hidden');

        });
        //不选择隐藏
        $('#warp_z').on('click',function () {
            $('#warp_z,.filtrate_animation').addClass('hidden');
        });
        //添加新用户
        $(".mod_top_actions .mod_top_add").on('click',function () {
            clean();
            $('.add_pass_pop').removeClass('hidden').show();
//            location.href = "{:url('Index/passengeredit')}";
        });
        function clean() {
            $('.js_edit_name,.js_edit_cardid').val('').data('id','').data('act','add');
            $('.js_edit_adultidentity').text('成人/儿童（0-12周岁请选择儿童）').data('id','');
            $('.js_edit_identity').text('客户类型').data('id','');
        }
        //取消
        $('.btn_link2').on('click',function () {
            $('.add_pass_pop').addClass('hidden').hide();
        });
        // 保存
        $('.btn_link1').on('click',function () {
            var name = $('.js_edit_name').val(),
                cardid = $('.js_edit_cardid').val(),
                old = $('.js_edit_adultidentity').data('id'),
                type = $('.js_edit_identity').data('id'),
                pid = $('.js_edit_name').data('id'),
                act = $('.js_edit_name').data('act'),
                id = $('.js_edit_cardid').data('id');
            if(name == ''){
                $('.js_edit_name').after('<p class="proposer_red flash animated">请填写中文名</p>');
                return ;
            }else {
                $('.js_edit_name').siblings('.proposer_red').remove();
            }
            if(cardid == ''){
                $('.js_edit_cardid').after('<p class="proposer_red flash animated">请填写护照号码</p>');
                return ;
            }else {
                $('.js_edit_cardid').siblings('.proposer_red').remove();
            }

            if(old == '' || !old){
                $('.js_edit_adultidentity').after('<p class="proposer_red flash animated">请填写身份信息</p>');
                return ;
            }else {
                $('.js_edit_adultidentity').siblings('.proposer_red').remove();
            }
            if(type == '' || !type){
                $('.js_edit_identity').after('<p class="proposer_red flash animated">请填写用户类型</p>');
                return ;
            }else {
                $('.js_edit_identity').siblings('.proposer_red').remove();
            }
            var data = {act:act,pid:pid,id:id,name:name,idcard:cardid,old:old,type:type};
            $.get("{:url('Visa/ajax_editselect')}",data,function (msg) {
                var info = eval('('+msg+')');
                if(info.code == 1){
                    location.reload();
                }else {
                    alert('编辑失败，请稍后再试');
                }
                console.log(info);
            });
            console.log(data);
        });
        $('.rt_searchIcon').on('click',function () {
            var selected = $('.v_checkbox_select.v_selected');
            var ids = '';

            var status = true;
            selected.each(function () {
                var id = $(this).data('id');
                var infos = judge_paper(id);
                if(infos.code == '1'){
                    status = false ;
                }
                ids += id+',';
            });
            if(!status){
                return ;
            }
            $.get("{:url('Visa/ajax_session')}",
                {ids:ids},
                function (datas) {
                    location.href = "{:url('Visa/confirm')}?v={:input('v')}";
                });
        });
        function judge_paper(pid) {
            if(pid == ''){
                return false;
            }
            var data = {pid:pid};
            var infos = {};
            $.ajaxSetup({async:false});
            $.get("{:url('Visa/judge_paper')}",
                data,
                function (datas) {
                    datas = eval('('+datas+')');
                    infos = datas;
                    if(datas.code == '1'){
                        alert('请完善用户信息');
                    }
                });
            return infos;
        }
    });
</script>