{include file="base/header" /}
{load file="__INDEX__css/detail.css" /}
{load file="__INDEX__css/visa.css" /}

<!--header-->
<div id="headerview">
    <div id="ui-view-5" class="">
        <div class="search_destination_box">
            <span class="go_back js_back"> <a href="javascript:history.go(-1);">
                    <i class="goback_icon">
                    </i>
                    </a>
                    </span>
            <div class="search_destination_heard">
                <div class="search_destination_col">
                    <div class="search_destination_starting js_depart">
                        <span id="search_depart" data-id="0">{:substr($location.location_city,0,-3)}站</span>
                    </div>
                    <div class="search_destination_mod js_dest" style="text-align: left;">
                        <input class="search_destination_search" readonly="" style="width:100%; color: #999;" type="text" value="{:input('keyword')?input('keyword'):'关键字'}" >
                    </div>
                </div>
            </div>
            <span class=" cm-header-icon fr  js_search" style="visibility: hidden;">
                <i class="icon-search">
                    </i>
            </span>
        </div>
    </div>
</div>
<div style="height:1rem;">
</div>
<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div >
                <div class="body">
                    <div class="sign_item_box">
                        <div class="tour_list"></div>
                        <div class="no_more" style="display: none;">没有更多内容了</div>
                        <div class="base_loading" style="display: none;">
                            <i></i>加载中
                        </div>
                    </div>

                </div>
            </div>
            <div class="main-state">
            </div>
        </div>
    </div>
</div>
<style>
    nav{display: box;  display: -webkit-box;}
    body{
        overflow: unset;
        height: auto;
    }
</style>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<script>
    $(function(){
        //收藏显示
        $('.tour_list').on('click','.tour_pop',function () {
            $(this).siblings('.tour_pop_box').show();
            return false;
        })
        // 收藏隐藏
            .on('click','.tour_close',function () {
                $(this).parents('.tour_pop_box').hide();
                return false;
            })
            // 收藏操作
            .on('click','.tour_collect',function () {
                if($(this).is('.cur')){
                    $(this).removeClass('cur').text('收藏');
                }else {
                    $(this).addClass('cur').text('已收藏');
                }
                return false;
            })
        var pop_index = 0,filter_pop=$('.filter_pop_wrap'),filters = $('#filtersSub>div');
        $('#searchFilterTabs li:not(3)').on('click',function () {
            filter_pop.show();
            pop_index = $(this).index();
            filters.eq(pop_index).show(200);
        });
//        初始值

        filters.eq(0).find('.left_column li').on('click',fi0);
        fi0();
        function fi0() {
            var f1_type = $(this).data('type') || '' || 'l';
            filters.eq(0).find('.left_column li[data-type="'+f1_type+'"]')
                .addClass('current').siblings().removeClass('current');
            filters.eq(0).find('.right_column>div[data-type="'+f1_type+'"]')
                .show().siblings().hide();
        }
        filters.eq(0).find('.right_column>div[data-type="l"]').on('click',function () {

        })
        $('.list_timedays .playgo_list li').on('click',fi1);
        var days = 3,date='';
        fi1();
        function fi1() {
            var type = $(this).data('type');
            if(type == 'u'){
                days = $(this).data('key');
            }else if(type == 'dd'){
                date = $(this).data('key');
            }
            $('.list_timedays .playgo_list li[data-type="u"][data-key="'+days+'"]')
                .addClass('selected').siblings().removeClass('selected');
            $('.list_timedays .playgo_list li[data-type="dd"][data-key="'+date+'"]')
                .addClass('selected').siblings().removeClass('selected');
        }
        //补0函数
        function digit(num) {
            return num < 10 ? "0" + (num | 0) :num;
        }
        var newDate = new Date(),
            toTime = [ newDate.getFullYear(), newDate.getMonth() + 1, newDate.getDate(), newDate.getHours(), newDate.getMinutes(), newDate.getSeconds() ],
            maxNewDate = new Date(toTime[0],toTime[1],toTime[2]+30),
            toMTime = [ maxNewDate.getFullYear(), maxNewDate.getMonth() + 1, maxNewDate.getDate(), maxNewDate.getHours(), maxNewDate.getMinutes(), maxNewDate.getSeconds() ],
            minDate = toTime[0] + '-' + digit(toTime[1]) + '-' + toTime[2],
//            maxDate = toTime[0] + '-' + digit(toTime[1]) + '-' + toTime[2],
            maxDate = toMTime[0] + '-' + digit(toMTime[1]) + '-' + toMTime[2];
        $.jeDate("#ea",{
            format:"YYYY-MM-DD",
            isTime:false,
            minDate:minDate,
            maxDate:maxDate,
            zIndex:999999999
        })
        $.jeDate("#fa",{
            format:"YYYY-MM-DD",
            isTime:false,
            minDate:minDate,
            maxDate:maxDate,
            zIndex:999999999
        });
        filters.eq(2).find('.left_column li').on('click',fi3);
        fi3();
        function fi3() {
            var f1_type = $(this).data('type') || '' || 'l';
            filters.eq(2).find('.left_column li[data-type="'+f1_type+'"]')
                .addClass('current').siblings().removeClass('current');
            filters.eq(2).find('.right_column>div[data-type="'+f1_type+'"]')
                .show().siblings().hide();
        }
        filters.eq(2).find('.right_column>div ul li').on('click',function () {
            if(!$(this).index()){
                $(this).addClass('selected').siblings().removeClass('selected');
            }else {
                if($(this).is('.selected')){
                    $(this).removeClass('selected');
                    console.log($(this).siblings('.selected').length);
                    if($(this).siblings('.selected').length == 0){
                        $(this).siblings().eq(0).addClass('selected');
                    }
                }else {
                    $(this).siblings().eq(0).removeClass('selected');
                    $(this).addClass('selected')
                }
            }
//            $(this).addClass('selected').siblings().removeClass('selected');
        });
        $('.filter_option .filter_option_content li').on('click',function () {
            if($(this).is('.selected')){
                $(this).removeClass('selected');
            }else {
                $(this).addClass('selected')
            }

        });
        $('#ctm_vacation_list_tab_all_go').on('click',search);
        function search() {
            var lines = $('.list_timedays .playgo_list li[class="selected"]').data('key'),
                after = '';
        }
        $('#ctm_tour_grouptravel_deleteall').on('click',function () {
            filter_pop.hide();
            filters.eq(pop_index).hide(200);
        });
        // 跳转详情链接
        $('.tour_list').on('click','.sign_item',function () {
            var pinfo = $(this).data('productid');
//            var pinfoa = pinfos(pinfo);
            location.href = "{:url('Visa/details')}?v=" + pinfo;
//            console.log(pinfoa);
        });
        function pinfos(info) {
            var temps = {},
                obj = {};
            temps = info.split('&');
            for (var key in temps){
                var temp = temps[key].split('=');
                obj[temp[0]] = temp[1];
            }
            return obj;
        }
        // 异步分页获取行程
        $(document).on('scroll',ajax_trips);
        var body_height = $('body').height();
        var win_height = window.screen.height,page = 1 ;
        var datas = "{$where??'x'}";
        function ajax_trips() {
            var scroll = $(this).scrollTop();
            body_height = $('body').height();
            console.log(body_height-win_height,scroll);
            if(scroll >= body_height-win_height){
                get_trip();
            }
        }
        get_trip();
        function get_trip() {
            datas  += "&page="+page++;
            $.ajax({
                url:'{:url("Visa/ajax_visas")}',
                type:'GET',
                async:false,
                data:datas,
                dataType:'text',
                //请求前
                beforeSend:function () {
                    $('.base_loading').show();
                },
                //请求错误
                error:function(){

                },
                //请求成功
                success:function (html) {
//                    console.log(html);
                    $('.base_loading').hide();
                    html = eval('('+html+')');
                    if(!html){
                        $('.no_more').show();
                        $(document).unbind('scroll');
                    }
                    $('.tour_list').append(html);
                },
            });
        }
        $('.search_destination_search').on('click',function () {
            location.href = '{:url("Index/search")}';
        })
    })
</script>