{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>高级搜索</h1>
</header>
<div style="height:1rem;"></div>
<!--slide-->

<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1497604864222" page-url="/webapp/vacations/tour/advance_search" data-view-name="advance_search">
                <div class="body advanced_frame advance_search_section">
                    <div class="advanced_top border1px_scaley advance_search_keydate_container">
                        <div class="advanced_search">
                            {php}/*
                            <h3>目的地或关键词</h3>
                            <ul class="advanced_search_list">
                                <li class="advanced_search_list_item">
                                    <a href="javascript:;" class="">周边</a>
                                    <a href="javascript:;" class="">国内</a>
                                    <a href="javascript:;" class="">港澳台</a>
                                    <a href="javascript:;" class="">东南亚</a>
                                </li>
                                <li class="advanced_search_list_item">
                                    <a href="javascript:;" class="">日韩朝蒙</a>
                                    <a href="javascript:;" class="">欧洲</a>
                                    <a href="javascript:;" class="">美洲</a>
                                    <a href="javascript:;" class="more">更多<b></b></a>
                                    <a class="advance_search_more_section" href="javascript:;" style="display: none;">澳中东非</a>
                                </li>
                                <li class="advanced_search_list_item advanced_search_list_item_hide" style="display: none;">
                                    <a href="javascript:;" class="">海岛</a>
                                    <a href="javascript:;" class="">乐园</a>
                                    <a href="javascript:;" class="">古镇</a>
                                    <a href="javascript:;" class="">温泉</a>
                                </li>
                                <li class="advanced_search_list_item advanced_search_list_item_hide" style="display: none;">
                                    <a href="javascript:;" class="">滑雪</a>
                                    <a href="javascript:;" class="">美食</a>
                                    <a href="javascript:;" class="">购物</a>
                                    <a href="javascript:;" class="close">收起<b></b></a>
                                </li>
                            </ul>
                            */{/php}
                            <div class="keyword">
                                <input type="search" placeholder="输入目的地、主题或关键字">
                                <span class="closer hidden"><i></i></span>
                            </div>
                        </div>
                        <div class="advanced_place border1px_scale_t advanced_search_departcity_subcontainer">
                            <span>出发地</span>
                            <span class="insure_gray"><i class="ico_location"></i>{:substr($location.location_city,0,-3)}</span>
                        </div>
                        <div class="advanced_date border1px_scale_t advanced_search_date_subcontainer">
                            <div class="depart">出发日期</div>
                            <div class="item advanced_search_date_early"><input type="text" id="starttime" placeholder="最早" readonly></div>
                            <div class="item advanced_search_date_last"><input type="text"  id="endtime" placeholder="最晚" readonly></div>
                        </div>
                    </div>
                    <div class="adsearch_box border1px_scale_t guide_detail_budget_container">
                        <ul class="adsearch_newadd clearfix">
                            <li>
                                <span>单人预算</span>
                                <span class="insure_gray">
                                <span class="adsearch_gray tag_gray guide_detail_budget_text">不限</span>元
                            </span>
                            </li>
                        </ul>
                        <div class="adsearch_range_box">
                            <div class="adsearch_range_line">
                                <div class="process guide_detail_budget_line" style="width: 0%;"></div>
                            </div>
                            <div class="adsearch_range adsearch_range6">
                                <ul class="statusbar guide_detail_budget_section">
                                    <li data-budget="0" class="enough current">
                                        <div class="item">不限</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                                        </div>
                                    </li>
                                    <li data-budget="1" class="">
                                        <div class="item">0-0.5K</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-budget="2" class="">
                                        <div class="item">0.5-1K</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-budget="3" class="">
                                        <div class="item">1-5K</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-budget="4" class="">
                                        <div class="item">5-10K</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-budget="5" class="">
                                        <div class="item">10K+</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="adsearch_box border1px_scale_t guide_detail_days_container">
                        <ul class="adsearch_newadd clearfix">
                            <li>
                                <span>出行天数</span>
                                <span class="insure_gray">
                                <span class="adsearch_gray tag_gray guide_detail_days_day">不限</span>天
                            </span>
                            </li>
                        </ul>
                        <div class="adsearch_range_box" id="ctm_tour_daogou_days">
                            <div class="adsearch_range_line"><div class="process guide_detail_days_line" style="width: 6%;"></div>
                            </div>
                            <div class="adsearch_range">
                                <ul class="statusbar guide_detail_days_section">
                                    <li data-day="0" class="enough current">
                                        <div class="item">不限</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-day="1" class="">
                                        <div class="item">1</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-day="2" class="">
                                        <div class="item">2</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-day="3" class="">
                                        <div class="item">3</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-day="4" class="">
                                        <div class="item">4</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-day="5" class="">
                                        <div class="item">5-6</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-day="7" class="">
                                        <div class="item">7-8</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-day="9" class="">
                                        <div class="item">9-10</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                    <li data-day="10" class="">
                                        <div class="item">10+</div>
                                        <div class="mark" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="advanced_prostyle border1px_scale_t advance_search_product_type_tour hidden">
                        <h3>产品类型</h3>
                        <ul class="advanced_prostyle_list">
                            <li class="number4">
                                <a href="javascript:;" data-type="no">不限</a>
                                <a href="javascript:;" data-type="tour">跟团游</a>
                                <a href="javascript:;" data-type="diyfhxsdp">自由行</a>
                                <a href="javascript:;" data-type="cruise">邮轮</a>
                            </li>
                            <li class="number4">
                                <a href="javascript:;" data-type="hotelLandscape">酒店+景点</a>
                                <a href="javascript:;" data-type="youxue">游学</a>
                                <a href="javascript:;" data-type="day">一日游</a>
                            </li>
                        </ul>
                    </div>
                    <div class="advanced_prostyle border1px_scale_t advance_search_product_type_tuan hidden">
                        <h3>产品类型</h3>
                        <ul class="advanced_prostyle_list">
                            <li class="number3">
                                <a href="javascript:;" data-type="no">不限</a>
                                <a href="javascript:;" data-type="depart">出发地参团</a>
                                <a href="javascript:;" data-type="destination">目的地参团</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="body nofoot advance_search_destination_section hidden">
                    <div id="destionationSearch" class="search_header">
                        <div class="search_wrap2">
                            <div class="search_p">
                                <form action="#vacationslist">
                                    <div class="search_box2">
                                        <input type="text" class="search_text nofastclick" placeholder="目的地、主题或关键词">
                                        <a href="javascript:;" class="clear_input2"></a>
                                        <a href="javascript:;" class="dest_search2 dest_search_btn2">确定</a>
                                    </div>
                                    <a href="javascript:;" class="cancel">取消</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search_content advance_search_destination_section hidden">
                    <ul class="search_history seahistory" style=""></ul>
                    <ul class="associate search_history" style=""></ul>
                    <div class="sub_box re_history" style="">清除搜索历史</div>
                    <div class="sub_box no_result" style="display:none"></div>
                    <div class="sub_box no_history" style="display:none">无搜索历史</div>
                </div>
                <div class="advanced_btnarea border1px_scale_t advance_search_action">
                    <a href="javascript:;" id="ctm_tour_advancesearch_s">搜索</a>
                </div>
            </div>
        </div>
        <div class="main-state"></div>
    </div>
</div>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<script>
    $(function(){
        $('.advanced_search_list .advanced_search_list_item a:not(".more,.close")').on('click',function () {
            var search = $(this).text();
            $(this).addClass("cursor").siblings().removeClass('cursor')
                .parent().siblings().find('a').removeClass('cursor');
            $('.keyword input').val(search);
        });
        $('.advanced_search_list .advanced_search_list_item a.more').on('click',function(){
            $('.advanced_search_list_item_hide').show();
            $('.advance_search_more_section').show().css('margin-right','0');
            $(this).hide();
        });
        $('.advanced_search_list .advanced_search_list_item a.close').on('click',function(){
            $('.advanced_search_list_item_hide').hide();
            $('.advance_search_more_section').hide();
            $('a.more').show();
        });
        $('.keyword input').on('click',function () {
            $('.nofoot').removeClass('hidden')
                .siblings().addClass('hidden');
            $('.nofoot .search_header').css('margin-top','50px');
            $('.search_text').val($(this).val())
            if($(this).val()){
                $('.clear_input2,.dest_search2').removeClass('hidden');
            }else {
                $('.clear_input2,.dest_search2').addClass('hidden');
            }
        });
        $('.cancel').on('click',cancel);
        function cancel() {
            $('.nofoot').addClass('hidden');
            $('.advanced_frame,.advanced_btnarea').removeClass('hidden');
        }
        $('.dest_search2').on('click',function () {
            var search = $('.search_text').val();
            $('.keyword input').val(search);
            cancel();
        });
        $('.clear_input2').on('click',function () {
            $('.search_text').val('');
            $('.clear_input2,.dest_search2').addClass('hidden');
        })
        $('.search_text').on('keyup',function(){
            if($(this).val()){
                $('.clear_input2,.dest_search2').removeClass('hidden');
            }else {
                $('.clear_input2,.dest_search2').addClass('hidden');
            }
        });
        //补0函数
        function digit(num) {
            return num < 10 ? "0" + (num | 0) :num;
        }
        var newDate = new Date(),
            toTime = [ newDate.getFullYear(), newDate.getMonth() + 1, newDate.getDate(), newDate.getHours(), newDate.getMinutes(), newDate.getSeconds() ],
            minDate = toTime[0] + '-' + digit(toTime[1]) + '-' + toTime[2],
            maxDate = toTime[0]+100 + '-' + digit(toTime[1]) + '-' + toTime[2];
        $.jeDate("#starttime",{
            format:"YYYY-MM-DD",
            isTime:false,
            minDate:$.nowDate(0),
            position:[193,10],
//            maxDate:maxDate
        })
        $.jeDate("#endtime",{
            format:"YYYY-MM-DD",
            isTime:false,
            minDate:$.nowDate(0),
//            maxDate:maxDate
        });
        var X = 0, x = 0, start_x = 0, price_ranges={0:['','','不限'],1:[0,500,'￥500以内'],2:[500,1000,'￥500-￥1000'],3:[1000,5000,'￥1000-￥5000'],4:[5000,10000,'￥5000-￥10000'],5:[10000,'','￥10000']},day_ranges={0:['','','不限'],1:['1','1','1'],2:['2','2','2'],3:['3','3','3'],4:['4','4','4'],5:['5','6','5-6'],6:['7','8','7-8'],7:['9','10','9-10'],8:['10','','10+']},price_change=0,day_change=0;
        $(".guide_detail_budget_section div.mark").on('touchmove',function (event) {
            start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            x = -(X - start_x);
            $(this).css({display:'block',transform:'translate3d('+x+'px,0px,0px)'});
            //            $(this).css('transform',"translate("+x+"px,0px)")
        }).on('touchstart',function (event) {
            start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            X = start_x;
        }).on('touchend',function (event) {
            var _this = $(this),body_width=document.body.clientWidth;
            var items = $('.guide_detail_budget_section .item'),
                width = parseInt(items.width()) / 2;
            items.parent().removeClass('enough current');
            _this.css({display:'',transform:'translate3d(0px,0px,0px)'});

            for (var i = 0;i<items.length;i++){
                var item = items.eq(i);
                item.parent().addClass('enough');
                var z = item.offset().left;
                console.log(width,start_x-z);

                if(start_x-z<width && body_width > start_x){
                    item.parent().addClass('enough current');
                    price_change = item.parent().index();
                    $('.guide_detail_budget_text').text(price_ranges[price_change][2]);
                    break;
                }else {
                    if(body_width < start_x)
                        items.eq(items.length - 1 ).parent().addClass('enough current');
                }
            }
        });
        $(".guide_detail_days_section div.mark").on('touchmove',function (event) {
            start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;

            x = -(X - start_x);
            $(this).css({display:'block',transform:'translate3d('+x+'px,0px,0px)'});
            //            $(this).css('transform',"translate("+x+"px,0px)")
        }).on('touchstart',function (event) {
            start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            X = start_x;
        }).on('touchend',function (event) {
            var _this = $(this),body_width=document.body.clientWidth;
            var items = $('.guide_detail_days_section .item'),
                width = parseInt(items.width()) / 2;
            items.parent().removeClass('enough current');
            _this.css({display:'',transform:'translate3d(0px,0px,0px)'});
            for (var i = 0;i<items.length;i++){
                var item = items.eq(i);
                item.parent().addClass('enough');
                var z = item.offset().left;
                if(start_x-z<width  && body_width > start_x){
                    item.parent().addClass('enough current');
                    day_change = item.parent().index();
                    $('.guide_detail_days_day').text(day_ranges[day_change][2]);
                    break;
                }else {
                    if(body_width < start_x)
                    items.eq(items.length - 1 ).parent().addClass('enough current');
                }
            }
        });
        $('#ctm_tour_advancesearch_s').on('click',function () {
            var searchArr = {};
            if($('.keyword input').val()){
                searchArr['keyword'] = $('.keyword input').val();
            }
            if($.cookie('location_city')){
                searchArr['setout'] = $.cookie('location_city');
            }
            if($("#starttime").val()){
                searchArr['start'] = $("#starttime").val();
            }
            if($('#endtime').val()){
                searchArr['end'] = $('#endtime').val();
            }
            if(price_change){
                if(price_ranges[price_change][0]){
                    searchArr['min'] = price_ranges[price_change][0];
                }
                if(price_ranges[price_change][1]){
                    searchArr['max'] = price_ranges[price_change][1];
                }
            }
            if(day_change){
                if(day_ranges[day_change][0]){
                    searchArr['day_min'] = day_ranges[day_change][0];
                }
                if(day_ranges[day_change][1]){
                    searchArr['day_max'] = day_ranges[day_change][1];
                }
            }
            $url = "{:url('Index/trip_list')}"+'?'+url_key(searchArr);
            location.href = $url;
        });
        $('.advanced_place .insure_gray').on('click',function(){
            location.href = "{:url('Index/location')}"
        });
        function url_key(searchArr) {
            var str = '';
            for(var key in searchArr){
                str += key + '=' + searchArr[key] + '&';
            }
            str = str.slice(0,-1)
            return str;
        }
        $('.trave_tab li').on('click',function () {
            $(this).addClass('cur').siblings().removeClass('cur');
            var index = $(this).index();
            $('.trave_name_'+index).show().siblings('.trave_name').hide();
        });
    });
</script>