{volist name="comments" id="comment"}
<div class="ttd-comment-item ttd-hairline-bottom">
    <div class="ttd-user ttd-flex">
        <div class="ttd-user-score">
            <span>{$comment.score}</span>分</div>
        <div class="ttd-user-info">
            <p>用户名<span>{$comment.uname | enstr }</span>
            </p>
            <p>{$comment.addtime |date="Y-m-d",###}</p>
        </div>
    </div>
    <div class="js_user_comment ttd-user-comment" data-pidx="1">{$comment.content}</div>
    <div class="ttd-comment-more" data-action="extend" style="display:none">
        展开完整内容<span class="f-chevron-down"></span>
    </div>
    <div class="ttd-comment-like" id="ticket-comment-like-4002823">

    </div>
</div>
{/volist}