{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
{load file="__INDEX__/css/addon.css" /}
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>点评</h1>
</header>
<div style="height:1rem;">
</div>

<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1503122622113" data-view-name="comment">
                <div class="ttd-comment-body">
                    <div data-ctr="main">
                        <div class="ttd-comment-head ttd-hairline-bottom" data-ctr="score">
                            <div class="ttd-comment-total ttd-flex">
                                <div class="ttd-comment-score">
                                    <span>{$score.score | sprintf = '%.1f' ,###}</span>分
                                </div>
                            </div>
                            <div class="ttd-comment-act ttd-flex">
                                <div class="ttd-col-auto">导游讲解<span class="score">{$score.guide | sprintf="%.1f" ,###}分</span>
                                </div>
                                <div class="ttd-col-auto">行程安排<span class="score">{$score.scheduling | sprintf="%.1f" ,###}分</span>
                                </div>
                                <div class="ttd-col-auto">好评率<span class="score">{$score.good/$score.count*100}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ctr="comment" style="">
                        <div class="ttd-comment-list ttd-hairline-top  ttd-mt10 ">
                            <div data-ctr="list" id="list">
                            </div>
                            <div class="js_load_succ g-list-loading" style="">
                                <span class="g-loading"><i></i></span>加载中
                            </div>
                            <div class="js_load_none nomore" style="display: none;">没有更多点评了</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-state">
        </div>
    </div>
</div>
<style>
    nav {
        display: -webkit-box;
    }
    .nomore {
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #999;
    }
</style>
{include file="base/footer"}
<script>
    $(function(){
        // 异步分页获取行程
        $(document).on('scroll',ajax_trips);
        var body_height = $('body').height();
        var win_height = window.screen.height,page = 1 ;
        var datas = "tid={:input('tid')}";
        function ajax_trips() {
            var scroll = $(this).scrollTop();
            body_height = $('body').height();

            if(scroll >= body_height-win_height){
                get_comment();
            }
        }
        get_comment();
        function get_comment() {
            datas  += "&page="+page++;
            $.ajax({
                url:'{:url("Index/ajax_comment")}',
                type:'GET',
                async:false,
                data:datas,
                dataType:'text',
                //请求前
                beforeSend:function () {
                    $('.js_load_succ').show();
                },
                //请求错误
                error:function(){
                    $('.js_load_succ').show();
                },
                //请求成功
                success:function (html) {
//                    alert(html);
                    $('.js_load_succ').hide();
                    html = eval('('+html+')');
                    if(!html){
                        $('.nomore').show();
                        $(document).unbind('scroll');
                    }
                    $('#list').append(html);
                },
            });
        }

    });
</script>