{include file="base/header" /}

<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>找回密码</h1>
</header>
<div style="height:1rem;"></div>
<form action="{:url('Index/comment_edit')}" id="forms" method="post">
    <input type="hidden" name="oid" value="{:input('oid')}">
    <input type="hidden" name="type" value="{:input('type')}">
    <ul class="formarea">
        <li class="star">
            <label for="star1"><input type="radio" name="star" id="star1" value="1" />好评</label>
            <label for="star2"><input type="radio" name="star" id="star2" value="2" />中评</label>
            <label for="star3"><input type="radio" name="star" id="star3" value="3" />差评</label>
        </li>
        <li>
            <textarea type="text" placeholder="请输入评论内容" name="common" class="txtbox"></textarea>
        </li>
        <li class="score">
            <span>整体评分</span>
            <label for="score1" class="stars" >
                <input type="radio" name="score" id="score1" value="1" class="hide" />❤
            </label>
            <label for="score2" class="stars">
                <input type="radio" name="score" id="score2" value="2" class="hide" />❤
            </label>
            <label for="score3" class="stars">
                <input type="radio" name="score" id="score3" value="3" class="hide" />❤
            </label>
            <label for="score4" class="stars">
                <input type="radio" name="score" id="score4" value="4" class="hide" />❤
            </label>
            <label for="score5" class="stars">
                <input type="radio" name="score" id="score5" value="5" class="hide" />❤
            </label>
        </li>
        <li class="guide">
            <span>导游讲解</span>
            <label for="guide1" class="stars">
                <input type="radio" name="guide" id="guide1" value="1" class="hide" />❤
            </label>
            <label for="guide2" class="stars">
                <input type="radio" name="guide" id="guide2" value="2" class="hide" />❤
            </label>
            <label for="guide3" class="stars">
                <input type="radio" name="guide" id="guide3" value="3" class="hide" />❤
            </label>
            <label for="guide4" class="stars">
                <input type="radio" name="guide" id="guide4" value="4" class="hide" />❤
            </label>
            <label for="guide5" class="stars">
                <input type="radio" name="guide" id="guide5" value="5" class="hide" />❤
            </label>
        </li>
        <li class="scheduling">
            <span>行程安排</span>
            <label for="scheduling1" class="stars">
                <input type="radio" name="scheduling" id="scheduling1" value="1" class="hide" />❤
            </label>
            <label for="scheduling2" class="stars">
                <input type="radio" name="scheduling" id="scheduling2" value="2" class="hide" />❤
            </label>
            <label for="scheduling3" class="stars">
                <input type="radio" name="scheduling" id="scheduling3" value="3" class="hide" />❤
            </label>
            <label for="scheduling4" class="stars">
                <input type="radio" name="scheduling" id="scheduling4" value="4" class="hide" />❤
            </label>
            <label for="scheduling5" class="stars">
                <input type="radio" name="scheduling" id="scheduling5" value="5" class="hide" />❤
            </label>
        </li>

        <li>
            <input type="button" value="立即提交" id="sub"/>
        </li>
    </ul>
</form>
<style>
    .hide{display:none;}
    .stars{width: 20px;height: 20px;display: inline-block;font-size: 20px;}
    .red{color: red;}
</style>
{include file="base/footer" /}
<style>
    .formarea li .txtbox {
        width: 94%;
        padding: .3rem 3%;
        border: none;
        /*text-indent: 1.5rem;*/
    }
    .star label{
        width: 30%;
        display: inline-block;
    }
</style>
<script>
    $(function(){
        $('#sub').on('click',function () {
            $('#forms').submit();
        });
        $('.score>.stars,.guide>.stars,.scheduling>.stars').on('click',function () {
            $(this).removeClass('red').siblings().removeClass('red');
            $(this).addClass('red').prevAll('label').addClass('red');
        });
    });
</script>

