{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
{load file="__INDEX__/css/flt_htl_h5.css" /}
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>选择日期和人数</h1>
</header>
<div style="height:1rem;"></div>
<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1497951741874" page-url="" data-view-name="sdp.confirm" hpage-id="411022" page-id="234022">
                <div class="body n_pro_b">
                    <div class="n_pro_main" id="J_confirm_wrap">
                        <div>
                            {php}
                            /*
                            <!--react-empty: undefined-->
                            <div class="mod_flt_choose" style="display: none;">
                                <p>
                                    <img src="https://pic.c-ctrip.com/h5/taocan/loading_s_03.gif" alt="loading">
                                    <span>正在为您挑选高性价比机票资源</span>
                                </p>
                            </div>
                            <div class="jsBatchTip mod_flt_choose" style="display: none;">
                                <p class="algin_l">
                                    <i class="flt_ok">
                                    </i>
                                    <span>已用更低价的航班替换原默认推荐航班</span>
                                    <em>点击查看</em>
                                </p>
                            </div>
                            <div class="mod_order_tips" style="display: none;">
                            </div>
                            <div class="flt_single_out_tip" style="display: none;">
                            </div>
                            <!--react-empty: undefined-->
                            <div>
                            </div>
                            */
                            {/php}
                            {notempty name="trip"}
                            <div class="mod_pub_b trafic" data-key="03XS-17006175-22-37">
                                <div class="mod_tit_b">
                                    <h4>行程</h4>
                                </div>
                                <div class="mod_con_b">
                                    <ul class="routen_ul">
                                        <li>
                                            <h4>{$trip.title}</h4>
                                            <div class="time">{$dates}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {/notempty}
                            {notempty name="safes"}
                            <div class="mod_pub_b yc_info ttd">
                                <div class="mod_tit_b">
                                    <h4>保险</h4>
                                </div>
                                <div class="mod_con_b surance">
                                    <div class="pro_item">
                                        <div>
                                            <ul class="pro_item_ul">
                                                {volist name="safes" id="safe"}
                                                <li data-key="" class="jsXResItem" >
                                                    <i data-sk-eid="hy_ctr_ins_sel" data-key="{$safe.key}"  data-price="{$safe.price}" class="check_box_b cur" data-must="{$safe.must}"></i>
                                                    <h4 data-sk-eid="hy_ctr_ins_sel" data-sk-edata="">
                                                        <!--<i class="label_insure_main"></i>-->
                                                        {$safe.title}
                                                    </h4>
                                                    <div class="pro_num">
                                                        <div class="prices">
                                                            <span class="price">
                                                            <dfn>¥</dfn>{$safe.price}</span>
                                                            <span class="num">
                                                                ({php}echo (!empty($man)?$man:0)+(!empty($child)?$child:0){/php}份)
                                                            </span>
                                                        </div>
                                                        <em class="s_down">说明</em>
                                                    </div>
                                                </li>
                                                {/volist}
                                            </ul>
                                        </div>
                                    </div>
                                    <!--<a class="ex_pro_a">重选保险</a>-->
                                </div>
                            </div>
                            {/notempty}
                            {if condition="!empty($trip) and $trip.single"}
                            <div class="mod_pub_b yc_info ttd">
                                <div class="mod_tit_b">
                                    <h4>单房差</h4>
                                </div>
                                <div class="mod_con_b">
                                    <div class="pro_item">
                                        <div>
                                            <ul class="pro_item_ul">
                                                <li data-key="03XO-17006176-30-37" class=" jsXResItem">
                                                    <h4>单房差</h4>
                                                    <div class="pro_num">
                                                        <div class="prices">
                                                            <span class="price">
                                                            <dfn>¥</dfn>{$trip.single}</span>
                                                            <span class="num">/人</span>
                                                        </div>
                                                        <em class="s_down">说明</em>
                                                    </div>
                                                    <div class="date_num has_num_box">
                                                        <div data-count="0" class="cm_num_box J_xre_num_box">
                                                            <div class="cm-num-adjust" data-price="{$trip.single}">
                                                                <span class="cm-adjust-minus js_num_minus disabled">
                                                                </span>
                                                                <span class="cm-adjust-view js_cur_num">0</span>
                                                                <span class="cm-adjust-plus js_num_plus ">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/if}
                            {php}
                            /*
                            {notempty name='trip'}
                            <div class="mod_pub_b yc_info ttd">
                                <div class="mod_tit_b">
                                    <h4>限时赠送</h4>
                                </div>
                                <div class="mod_con_b">
                                    <div class="pro_item">
                                        <h5 class="pro_item_tit">联运段</h5>
                                        <div>
                                            <ul class="pro_item_ul">
                                                <li data-key="03XO-15726120-46-34" class=" jsXResItem">
                                                    <h4>一价全含 景点全</h4>
                                                    <div class="pro_num">
                                                        <div class="prices">
                                                            <span>
                                                            <del>
                                                            <span>原价</span> <dfn>¥</dfn> 0/份</del>
                                                            </span>
                                                            <span class="price">免费</span>
                                                        </div>
                                                        <em class="s_down">说明</em>
                                                    </div>
                                                    <div class="date_num has_num_box">
                                                        <div data-count="2" class="cm_num_box J_xre_num_box">
                                                            <div class="cm_num_box single_num">2份</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/notempty}
                            */
                            {/php}

                            <!--react-empty: undefined-->
                            <footer class="detail_bottom jsNextBtn" style="z-index: 100001;height: 50px;">
                                <div class="detail_bottom_box">
                                    <span class="detail_pro_price" data-sk-eid="hy_ctr_costdetail">

                                    </span>
                                    <span data-sk-eid="hy_ctr_next_confirm" class="detail_btn_orange">
                                        下一步：<s>填写信息</s>
                                    </span>
                                </div>
                            </footer>
                            <!--react-empty: undefined-->
                            <!--react-empty: undefined-->
                            <div class="textarea_mask" style="display: none;">
                                <div class="mask_lay">
                                </div>
                                <div class="hide_div_b">
                                    <div class="hd_tit">
                                        <a class="btn_cancle">取消<i>
                                        </i>
                                        </a>
                                        <a class="btn_confirm">确定<i>
                                        </i>
                                        </a>
                                    </div>
                                    <div class="textarea_box">
                                        <textarea class="textarea" placeholder="请输入undefined">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="new_mask" style="display: none;">
                                <div class="new_bg">
                                </div>
                                <div class="new_con">
                                    <div class="flt_loading_box">
                                        <img src="https://pic.c-ctrip.com/h5/taocan/loading_big.gif" alt="">
                                        <p>正在为您实时查询低价组合，等待有惊喜哦~</p>
                                    </div>
                                    <span class="flt_loading_btn">不等了，返回推荐组合</span>
                                </div>
                            </div>
                            <!--react-empty: undefined-->
                        </div>
                    </div>
                    <div id="J_xresource_error">
                    </div>
                    <div class="jsCostDetailMask">
                    </div>
                    <div data-node="roomDetailPop">
                    </div>
                    <div class="jsCalendarContainer">
                    </div>
                    <div id="confirmFlightPolicy">
                    </div>
                    <div id="confirmFlightPlaneDetail">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-state">
        </div>
    </div>
</div>

{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<script>
    $(function(){
        {empty name="trip"} $('.detail_btn_orange').addClass('detail_btn_disable'); {/empty}
        var datas = '{$trip.offer}';
        datas = eval('('+datas+')');
        var dates = "{$dates??''}",man = "{$man??0}",child = "{$child??0}",offer_type = "{$trip.offer_type}",peoples = "{$peoples??0}";
        dates = datasng(Date.parse(dates),'yyyyMMdd');
        var take = parseFloat("{$userinfo.type == '3'?'0':($userinfo.clerk == '1'?getCache('take')['core_take']:getCache('take')['salesman_take'])}"),
            core_plus = parseFloat("{:getCache('take')['core_plus']}"),
            prices = 0,
            temp_price = 0;
        var days = "{$trip.line.days??'0'}",type="{$trip.type??'1'}";
        var domestic_safe_price = [[1,1,1.5],[2,2,2],[3,3,2.5],[4,7,3.5],[8,15,6],[16,30,12]];
        var exit_safe_price = [[4,7,12],[8,15,30],[16,30,50]];
        var safe = 0;
        if(type == '1'){
            for (var x in domestic_safe_price){
                if (domestic_safe_price[x][0] <= days && days <=domestic_safe_price[x][1]){
                    safe = domestic_safe_price[x][2];
                    break;
                }
            }
        }else {
            for (var x in exit_safe_price){
                if (exit_safe_price[x][0] <= days && days <=exit_safe_price[x][1]){
                    safe = exit_safe_price[x][2];
                    break;
                }
            }
        }
        if(offer_type == '2'){
            var people = peoples.split(',');
            for (var x = 0;x<people.length;x++){
                prices += toFixed2(datas[dates][x].balance,people[x]) + toFixed2(safe,people[x]);

            }
            temp_price = prices;
        }else {
            prices += toFixed2(datas[dates].adult_balance,man) + toFixed2(datas[dates].children_balance,child)+toFixed2(safe,man) + toFixed2(safe,child);

            temp_price = prices;
        }
        var lis = $('.pro_item_ul .jsXResItem');
        var temp_l_price = 0,temp_s_price = 0;
        lis.find('.check_box_b').each(function () {
            if($(this).is('.cur')){
                var safe_price = $(this).data('price');
                temp_l_price +=  parseFloat(safe_price) * (parseFloat(man)+parseFloat(child));
            }
        });
        //抽成比例
        function balance(balance) {
//            var bl = parseFloat("{:getCache('take')['s_take']}");
            var bl = 0;
            return parseFloat(balance) + parseFloat(balance * bl / 100);
        }
        // 抽成总数
        function toFixed2(val,peo) {
            return parseFloat((parseFloat(balance(val)) * parseFloat(peo)).toFixed(2));
        }
        //操作费
        function op_cost(balance,take) {
            return Math.ceil(parseFloat((( parseFloat(balance) ) * parseFloat(take) / 100).toFixed(2)));
        }
        function plus_cost(balance,take){
            return Math.ceil(parseFloat(balance) + op_cost(balance,take))
        }
//        function op_cost(market,balance,take) {
//            return ( parseFloat(market) - parseFloat(balance) ) * parseFloat(take) / 100;
//        }
        //总操作费
        function op_sum_cost(cost,num) {
            return cost * num;
        }

        //价格计算
        peices();
        $('.pro_item_ul .jsXResItem .check_box_b').on('click',function () {
            temp_l_price = 0;
            var must = $(this).data('must');
            if(must == 1){
                return;
            }
            if($(this).is('.cur')){
                $(this).removeClass('cur');
            }else {
                $(this).addClass('cur');
            }
            lis.find('.check_box_b').each(function () {
                if($(this).is('.cur')){
                    var safe_price = $(this).data('price');
                    temp_l_price += parseFloat(safe_price) * (parseFloat(man)+parseFloat(child));
                }
            });
            peices();
        });
        $('.cm-num-adjust .js_num_minus ').on('click',function () {
            temp_s_price = 0;
            var num = $('.cm-num-adjust .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num -= 1;
            if(num < 0){
                $(this).addClass('disabled');
                $('.cm-num-adjust .js_cur_num').text(0);
                return false;
            }else {
                if(num < (parseFloat(man)+parseFloat(child))){
                    $('.cm-num-adjust .js_num_plus').removeClass('disabled');
                }
            }
            $('.cm-num-adjust .js_cur_num').text(num);
            var single = $('.cm-num-adjust .js_cur_num').text(),
                single_price = $('.cm-num-adjust').data('price');
            temp_s_price = parseFloat(single)*parseFloat(single_price);
            peices();
        });
        $('.pro_item_ul .jsXResItem .cm-num-adjust .js_num_plus').on('click',function () {
            temp_s_price = 0;
            var num = $('.cm-num-adjust .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num += 1;
            if(num > 0){
                $('.cm-num-adjust .js_num_minus').removeClass('disabled');
                if(num == (parseFloat(man)+parseFloat(child)+1)){
                    $('.cm-num-adjust .js_num_plus').addClass('disabled');
                    return ;
                }
            }
            $('.cm-num-adjust .js_cur_num').text(num);
            var single = $('.cm-num-adjust .js_cur_num').text(),
                single_price = $('.cm-num-adjust').data('price');
                temp_s_price = parseFloat(single)*parseFloat(single_price);
            peices();
        });
        function peices() {
            temp_price = (temp_l_price + prices + temp_s_price).toFixed(2);
            var html = '<em class="price">合计<dfn>¥</dfn>'+temp_price+'</em>';//<s>明细</s>
            $('.detail_pro_price').html(html);
        }
        // 下一步填写信息
        $('.detail_btn_orange').on('click',function(){
            if($(this).is('.detail_btn_disable')){
                return;
            }
            var url = "{:url('Index/order')}";
            var safes = '';
            var single = $('.cm-num-adjust .js_cur_num').text();
            $('.check_box_b').each(function () {
                if($(this).is('.cur')){
                    safes += $(this).data('key')+',';
                }
            });
            var contract= '',contract_price = '';

            var shopid = "{$shopid??''}";
            var shop_data = {shopid:shopid,price:temp_price};
            $.get("{:url('Index/ajax_shop')}",shop_data,function(){

                var gets = 'pid={$trip.id??""}&man={$man??""}&child={$child??""}&safes='+safes+'&single='+single + '&dates='+"{$dates??''}&shopid="+shopid;
                location.href = url + '?' + gets;
            });

        });
        // 时间戳转换字符串
        function datasng(sng,fmat)
        {
            // (new Date(parseInt(sng) * 1000))  把时间戳转换成时间对象。
            return  (new Date(parseInt(sng))).format(fmat);
        }

    });
    Date.prototype.format = function(format) {
        var date = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S+": this.getMilliseconds()
        };
        if (/(y+)/i.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
        }
        for (var k in date) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1
                    ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
            }
        }
        return format;
    };

</script>