{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
{load file="__INDEX__/css/detail_merge.css" /}
<div id="main">
    <div class="main-frame" data-pid="{$trip.id}">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1497690854706" page-url="" data-view-name="detail">
                <div class="body trip_page">
                    <div class="m_header" id="detail_header" style="display: block;">
                        <a href="javascript:history.go(-1);"><span class="m_icon_back fl js_back"></span></a>
                        <h1 style="display: none;">{$trip.title}</h1>
                    </div>
                    <div class="m_banner">
                        <div class="js_pic_content" style="height: 210px; overflow: hidden;">
                            <div class="cm-slide cm-slide--full-img" id="ui-view-6" style="height: 210px;">
                                <ul class="cm-slide-list js_scroller " style="position: absolute;  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(-1500px, 0px) translateZ(0px);">
                                    {volist name="$trip.pics" id="pic" key="k"}
                                    <li class="cm-slide-item" data-key="{$k}" style="">
                                        <img src="{:img_url($pic,414,256)}" data-sk-eid="hy_ctr_slideslip" data-sk-edata="{index:4}" onerror="this.src='https://pic.c-ctrip.com/vacation_v2/h5/group_travel/pic_none.png'">
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                        <span class="m_gopic"></span>
                        <div class="m_proinfo">
                            <p class="m_pronum">编号：{$trip.id}</p>
                            <p>{$trip.setout}出发<span class="m_linet"></span>{$trip.merchant.name}</p>
                        </div>
                    </div>
                    <div class="m_profile">
                        <div class="m_bigtitle">
                            <h2>
                                {$trip.title}<i class="m_diamond m_diamond_0"></i>
                            </h2>
                            <div class="m_bigprice">
                                <!--<span class="m_dbi js_compare" data-compare="">对比</span>-->
                                <span class="m_price">
                                    <dfn>¥</dfn>{$trip.maxprice == $trip.minprice ?$trip.maxprice:$trip.minprice . '~' . $trip.maxprice}<em>/人</em>
                                </span>
                                {php}/*
                                {if condition="$userinfo.type"}
                                <span class="m_price">
                                    结算价：<dfn>¥</dfn>{:take_b($trip.min_balance,getCache('take')['s_take'])}<em>/人起</em>
                                </span>
                                {/if}
                                */{/php}
                            </div>
                            <div style="display: none;">
                                保险
                                <ul>
                                    {volist name="$trip.safes" id="safe"}
                                    <li>
                                        {$safe.title}<span>￥{$safe.price}元</span>
                                        {if condition="$safe.must eq '1'"}
                                        <span style="float: right; color: brown;">必须购买</span>
                                        {/if}
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                            <!--react-empty: 36-->
                        </div>
                        <!--react-empty: 37-->
                        {notempty name="$trip.sixscon"}
                        <div class="m_sixslogo js_tag_list">
                            <div class="m_sixscon">
                                <em>成团保障</em>
                            </div>
                        </div>
                        {/notempty}
                    </div>
                    <!--react-empty: 39-->
                    <!--react-empty: 40-->
                    {if condition="$trip.score.count > 0"}
                    <!--{php}dump($trip['score']);{/php}-->
                    <div class="m_comment">
                        <dl class="m_scorebox">
                            <dt>
                                <em class="m_score"><b>{$trip.score.score | sprintf="%.1f" ,###}</b>分点评</em>新产品
                            </dt>
                            <dd data-type="导游讲解">
                                <span class="m_scoretit">导游讲解</span>
                                <div class="m_procell">
                                    <div class="m_process">
                                        <i style="width: {$trip.score.guide/5*100}%;">
                                        </i>
                                    </div>
                                </div>
                                <span class="m_fen">{$trip.score.guide | sprintf="%.1f" ,###}</span>
                            </dd>
                            <dd data-type="行程安排">
                                <span class="m_scoretit">行程安排</span>
                                <div class="m_procell">
                                    <div class="m_process">
                                        <i style="width: {$trip.score.scheduling/5*100}%;">
                                        </i>
                                    </div>
                                </div>
                                <span class="m_fen">{$trip.score.scheduling | sprintf="%.1f" ,###}</span>
                            </dd>
                            <dd data-type="好评率">
                                <span class="m_scoretit">好评率</span>
                                <div class="m_procell">
                                    <div class="m_process">
                                        <i style="width: {$trip.score.good/$trip.score.count*100}%;">
                                        </i>
                                    </div>
                                </div>
                                <span class="m_fen">{$trip.score.good/$trip.score.count*100}%</span>
                            </dd>
                        </dl>
                        <div class="m_comrank">
                            <h4>
                                {$trip.score.uname}
                                <span class="m_type"></span>
                                <span class="m_time">{$trip.score.addtime | date="Y-m-d",###}</span>
                            </h4>
                            <div class="m_comcon">{$trip.score.content}</div>
                            <a href="javascript:;" class="m_combtn js_comment" data-sk-eid="hy_ctr_allcomment">查看全部评价</a>
                        </div>
                    </div>
                    {/if}
                    <div class="m_cityset">
                        <!--<a href="{:url('Index/location')}" class="m_more_set js_more_depart_cities" data-sk-eid="hy_ctr_dep_more" style="z-index: 9;">切换出发地</a>-->
                        <div class="m_city_hd" data-city="1840">
                            <h3>{$trip.setout}出发</h3>
                        </div>
                        <div class="m_city_bd">
                            <div class="m_city_list_box">
                                <div class="m_city_list" style="width: 100%; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                                    {$trip.offer | show_group=$trip.offer_type,$userinfo.type}
                                    <!--<div name="dates" id="dates" >查看行程班期</div>-->
                                </div>
                            </div>
                            <a href="javascript:;" class="m_more" id="dates" data-sk-eid="hy_ctr_date_all" data-schedule="">更多班期</a>
                        </div>
                    </div>
                    <div class="m_agent2">
                        <div class="m_agent2_hd">
                            <h3 class="m_agent2name js_vendor_entry">{$trip.merchant.name}</h3>
                        </div>
                        <div class="m_agent2_bd">
                            <p>本产品由具有此类产品经营资质的零售商提供。<br>服务时间：周一至周日：00:00至23:59</p>
                        </div>
                        <i class="m_agent2_phone js_vendor_phone" data-phone="{$op.phone ?? ''}"></i>
                        <!--<i class="m_agent2_phone js_vendor_phone" data-phone="{:getCache('basic')['operator']}"></i>-->
                    </div>
                    <div class="m_detail">
                        <div id="detail_tab" style="height: 44px;">
                            <div class="m_hd_box" style="z-index: 9;">
                                <div class="m_tab">
                                    <div class="m_tabitem cur" id="product_feature">产品特色</div>
                                    <div class="m_tabitem" id="product_route">{$trip.threads |count}日行程<span id="day_count"></span>
                                    </div>
                                    <div class="m_tabitem" id="product_note">须知</div>
                                    <i class="m_tabline m_tabline3">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div id="product_feature_content">
                            <div class="m_mod m_feature">
                                {if condition="strip_tags($trip.line.recommend) neq ''"}
                                <div>
                                    <div class="m_mod_hd">
                                        <h3>产品经理推荐</h3>
                                    </div>
                                    <div class="m_mod_bd">
                                        <div class="m_pro_con">
                                            {$trip.line.recommend}
                                        </div>
                                    </div>
                                </div>
                                {/if}
                                <div>
                                    <div class="m_mod_hd">
                                        <h3>产品特色</h3>
                                    </div>
                                    <div class="m_mod_bd m_recom_detail m_mod_open">
                                        {if condition="$userinfo.type neq '0'"}
                                        {notempty name="$trip.poster"}
                                        <a href="{:water_img_url($trip['poster'],$trip.id)}">
                                            <img src="{:img_url($trip['poster'],900,2000)}" alt="{$trip.title}">
                                        </a>
                                        <section class="_135editor" data-tools="135编辑器" data-id="87560" style="border: 0px none; padding: 0px; position: relative;">
                                            <p style="text-align:center;">
                                                <img data-id="87560" data-role="guide-img" title="分割线" src="__INDEX__images/fenge.gif" style="display: inline;"/>
                                            </p>
                                        </section>
                                        {/notempty}
                                        {/if}
                                        {$trip.line.feature}
                                    </div>
                                    <!--<div class="m_close js_description_closer">点击收起</div>-->
                                </div>
                            </div>
                            <!--react-empty: 46-->
                            <!--react-empty: 47-->
                            {php}
                            /*
                            <div class="m_mod m_summary">
                                <div class="m_mod_hd">
                                    <h3>产品概要</h3>
                                </div>
                                <div class="m_mod_bd">
                                    <ul>
                                        <li>
                                            <i class="m_sumicon">住宿</i>
                                            <dl class="m_sumlist">1晚6钻,3晚5钻</dl>
                                        </li>
                                        <li>
                                            <i class="m_sumicon">景点</i>
                                            <dl class="m_sumlist">
                                                <dd>
                                                    <em>29个</em>
                                                    <span class="m_sumlist_tips">总共</span>
                                                </dd>
                                                <dd>
                                                    <em>12个</em>
                                                    <span class="m_sumlist_tips">
                                                        <s class="m_dot">经典</s>
                                                        <s class="m_dot">石林</s>
                                                        <s class="m_dot">阿诗玛化身石</s>
                                                        <s class="m_dot">月湖</s>
                                                        <s class="m_dot">大理古城</s>
                                                        <s class="m_dot">洱海</s>
                                                        <s class="m_dot">洱海</s>
                                                        <s class="m_dot">双廊</s>
                                                        <s class="m_dot">南诏风情岛</s>
                                                        <s class="m_dot">丽江古城</s>
                                                        <s class="m_dot">木府</s>
                                                        <s class="m_dot">玉龙雪山</s>
                                                        <s class="m_dot">束河古镇</s>
                                                    </span>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <i class="m_sumicon">用餐</i>
                                            <dl class="m_sumlist">
                                                <dd>
                                                    <em>11次</em>
                                                    <span class="m_sumlist_tips">
<s class="m_dot">团餐</s>
</span>
                                                </dd>
                                            </dl>
                                        </li>
                                        <!--react-empty: 258-->
                                        <li>
                                            <i class="m_sumicon">交通</i>
                                            <p>0.7小时<span class="detail_summary_tips">用车</span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="m_sumicon">自由活动</i>
                                            <p>3次<span class="detail_summary_tips">约10小时</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            */
                            {/php}
                        </div>
                        <div class="m_mod" id="product_route_content">
                            <div class="m_mod_hd">
                                <h3>详细行程</h3>
                            </div>
                            <div class="m_mod_bd" id="day_list">
                                {if condition="$trip.line.type neq 1"}
                                {php}$i=1; {/php}
                                {volist name="$trip.threads" id="thread" key="k"}
                                <div class="m_trip_tuan" id="day_1">
                                    <h3 class="m_trip_tuan_tit">
                                        <i class="m_day">D{$i++}</i>
                                        <span>{$thread.title}</span>
                                    </h3>
                                    <ul class="m_trip_tuan_dot">
                                        <li class="m_icon_4">
                                            <h3>交通：{$thread.traffic ??''}<br/>就餐：{:meals(!empty($thread.meal)?$thread.meal:'')}<br/>住：{$thread.live??''}<br/>交通时长：{$thread.duration??''}</h3>
                                            <div>
                                                {$thread.desc}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {/volist}
                                {else /}
                                {$trip.line.simple??''}
                                {/if}
                            </div>
                        </div>
                        <div class="m_mod m_guide" id="product_note_content">
                            <div class="m_mod_hd">
                                <h3>须知</h3>
                            </div>
                            <div class="m_mod_bd">
                                {if condition="strip_tags($trip.line.contain) neq ''"}
                                <div class="m_guidecon">
                                    <h4>费用包含</h4>
                                    <div>
                                        {$trip.line.contain}
                                    </div>
                                </div>
                                {/if}
                                {if condition="strip_tags($trip.line.notcontain) neq ''"}
                                <div class="m_guidecon">
                                    <h4>自理费用</h4>
                                    <div>
                                        {$trip.line.notcontain}
                                    </div>
                                </div>
                                {/if}
                                {if condition="strip_tags($trip.line.visas) neq ''"}
                                <div class="m_guidecon">
                                    <h4>签证/签注</h4>
                                    <div>
                                        {$trip.line.visas}
                                    </div>
                                </div>
                                {/if}
                                {if condition="strip_tags($trip.line.notice) neq ''"}
                                <div class="m_guidecon">
                                    <h4>预定须知</h4>
                                    <div>
                                        {$trip.line.notice}
                                    </div>
                                </div>
                                {/if}
                                {if condition="strip_tags($trip.line.reminder) neq ''"}
                                <div class="m_guidecon">
                                    <h4>温馨提示</h4>
                                    <div>
                                        {$trip.line.reminder}
                                    </div>
                                </div>
                                {/if}

                            </div>
                        </div>
                        {php}$purchase = json_decode($trip['line']['purchase'],true);{/php}
                        {if condition="!empty($purchase)"}
                        <div class="m_mod m_guide" id="product_content">
                            <div class="m_mod_hd">
                                <h3>购物/自费</h3>
                            </div>
                            <div class="m_mod_bd">
                                <table style="width: 100%; text-align: center; border: 1px solid silver">
                                    <thead>
                                    <tr>
                                        <th>项目名称</th>
                                        <th>简介</th>
                                        <th>停留时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="$purchase" id="purcha"}
                                    <tr style="border: 1px solid silver">
                                        <td width="100">{$purcha.project}</td>
                                        <td width="100">{$purcha.present}</td>
                                        <td width="100">{$purcha.duration}</td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {/if}
                        {php}
                        /*
                        <div class="m_mod m_trip">
                            <div class="m_mod_hd">
                                <h3>相关游记</h3>
                            </div>
                            <div class="m_mod_bd">
                                <ul class="m_triplist">
                                    <li data-ename="Lijiang" data-did="32" data-id="3483837">
                                        <div class="m_pic">
                                            <img src="https://dimg02.c-ctrip.com/images/10010h0000008vbrt4511_R_150_150.jpg">
                                        </div>
                                        <h4>丽江，一个矛盾体杂糅的古城</h4>
                                        <p class="m_trip_num">
                                            <span>3145</span>
                                            <em>4</em>
                                        </p>
                                    </li>
                                    <li data-ename="Lijiang" data-did="32" data-id="3479698">
                                        <div class="m_pic">
                                            <img src="https://dimg09.c-ctrip.com/images/100w0h0000008v5lx3171_R_150_150.jpg">
                                        </div>
                                        <h4>带上你们去说走就走的旅行——迷之云南</h4>
                                        <p class="m_trip_num">
                                            <span>2673</span>
                                            <em>5</em>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m_mod m_moreroute">
                            <div class="m_mod_hd">
                                <h3>更多线路</h3>
                            </div>
                            <div class="m_mod_bd">
                                <ul class="more_list">
                                    <li data-pid="16971351" data-sid="376" data-did="1">
                                        <p>五星酒店+温泉SPA 景点全 一价全包 赠美食</p>
                                        <span>
<strong class="more_price">
<dfn>¥</dfn>2600</strong>起</span>
                                    </li>
                                    <li data-pid="16971532" data-sid="376" data-did="1">
                                        <p>五星酒店+温泉SPA 景点全 一价全包 赠美食</p>
                                        <span>
<strong class="more_price">
<dfn>¥</dfn>2600</strong>起</span>
                                    </li>
                                    <li data-pid="16971644" data-sid="376" data-did="1">
                                        <p>五星酒店+温泉SPA 景点全 一价全包 赠美食</p>
                                        <span>
<strong class="more_price">
<dfn>¥</dfn>2600</strong>起</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--react-empty: 56-->
                        <div class="m_viporder js_dingzhi">
                            <i class="m_viporder_icon">
                            </i>
                            <a href="javascript:;" class="m_viporder_btn">立即定制</a>
                            <h3>定制旅行</h3>
                            <p>不跟团不做攻略，4000位专属定制师免费为您设计行程，轻松出游！</p>
                        </div>
                        <ul class="m_sixslogo2 js_six">
                            <li>特殊原因退订保障</li>
                            <li>自然灾害保障金</li>
                            <li>旅游预警机制</li>
                            <li>应急援助体系</li>
                            <li>一站式旅游保险</li>
                            <li>透明团(限跟团游)</li>
                        </ul>
                        */
                        {/php}

                    </div>
                    <div id="compare_container">
                        <div class="contrast_fixed_btn js_go_compare" style="display: none;">比<i>0</i>
                        </div>
                    </div>
                    {if condition="$userinfo.type"}
                    <footer class="m_toolbar" style="z-index: 99999">
                        <div class="m_toolbar_con">
                            <span class="m_collect js_collect">收藏</span>
                            <span class="m_btn_orange js_booking" data-sk-eid="hy_ctr_buynow">开始预订</span>
                        </div>
                    </footer>
                    {/if}
                    <div id="fix_icon_container">
                        <!--<div class="m_fixed_btn m_simple js_route_switcher">简单行程</div>-->
                        <div class="m_fixed_btn m_multi js_travel_summary">行程概要</div>
                    </div>
                    <div>
                        <div class="m_fixed_route hide">
                            <div class="m_route_scroll">
                                <h2>行程概要</h2>
                                <div class="m_route_dot">
                                    <h3>
                                    </h3>
                                    <ul>
                                        {php}$j=1;{/php}
                                        {volist name="$trip.threads" id="thread" key="k"}
                                        <li data-target-day="1" data-sk-eid="hy_ctr_schedule_close">
                                            <h4>第{$j++}天</h4>
                                            <p>{$thread.title}</p>
                                        </li>
                                        {/volist}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-state">
        </div>
    </div>
</div>
<style>
    .jedatebox {
        width: calc(100% - 2px)!important;
        left: 0!important;
    }
</style>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
{load file="__ARTDIALOG4.1.7__jquery.artDialog.js"}
{load file="__ARTDIALOG4.1.7__skins/blue.css"}
<script>
    $(function () {
        //m_hd_box m_fix_hd sticky
        var hd_box = $('.m_hd_box');
        var top_box = hd_box.offset().top,
            top_product_feature = $('#product_feature_content').offset().top,
            top_product_route = $('#product_route_content').offset().top,
            top_product_note = $('#product_note_content').offset().top,
            scroll = $('body').scrollTop();
        scrolls(scroll);
        if(top_box <= scroll){
            hd_box.addClass('m_fix_hd sticky').css('top','44px');
        }
        $(document).on('scroll',function () {
            scroll = $(this).scrollTop();
            scrolls(scroll);
        });
        function scrolls(scroll) {
            if(scroll>0){
                //m_header m_scroll sticky
                $('.m_header').addClass('m_scroll sticky')
                    .find('h1').show();
            }else {
                $('.m_header').removeClass('m_scroll sticky')
                    .find('h1').hide();
            }
            if(top_product_note <= scroll){
                $('#product_note').addClass('cur').siblings().removeClass('cur');
            }else if(top_product_route <= scroll){
                $('#product_route').addClass('cur').siblings().removeClass('cur');
            }else if(top_product_feature <= scroll){
                $('#product_feature').addClass('cur').siblings().removeClass('cur');
            }
            if(top_box <= scroll){
                hd_box.addClass('m_fix_hd sticky').css('top','44px');
            }else{
                hd_box.removeClass('m_fix_hd sticky').css('top',null);
            }
        }
        $('.m_tab .m_tabitem').on('click',function () {
            var idStr = $(this).attr('id');
            var height = $('#'+idStr+'_content').offset().top ;
            $("html,body").animate({scrollTop:height-77},1000);
        });
        var X = 0, x = 0, start_x = 0;
        $('.m_city_bd .m_city_list_box .m_city_list').on('touchmove',function (event) {
            start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            x = -(X - start_x);
            $(this).css({transform:'translate3d('+x+'px,0px,0px)'});
            //            $(this).css('transform',"translate("+x+"px,0px)")
        }).on('touchstart',function (event) {
            start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            X = start_x-x;
        }).on('touchend',function (event) {
            var _this_left = $(this).offset().left,
                _this_width = $(this).width(),
                _this_p_width = $(this).parent().width();
            if(_this_left > 0){
                x = 0;
                $(this).css({transform:'translate3d(0px,0px,0px)'});
            }else if(_this_p_width - x > _this_width){
                x = _this_p_width-_this_width;
                $(this).css({transform:'translate3d('+x+'px,0px,0px)'});
            }
        });
        var body_width = $('body').width(),scro_ul = $('.js_scroller'),scro_li = scro_ul.find('li'),ul_width=0,i = 2,ul_pos;
        scro_li.css({width:body_width+'px',height:"210px"});
        var ul_a = setTimeout(ul_scro,1500);
        var ul_b = 0,w=i * body_width,s_w=(i-1) * body_width;
        scro_ul.prepend(scro_li.eq(scro_li.length-1).clone());
        scro_ul.append(scro_li.eq(0).clone());
        scro_li = scro_ul.find('li');
        ul_width = body_width * scro_li.length;
        ul_pos = -(i-1) * body_width;
        scro_ul.css({width:ul_width + 'px',transform: "translate("+ul_pos+"px, 0px)"});
        function ul_scro() {
            w = i * body_width ;
            s_w = (i-1) * body_width;
            ul_b = setTimeout(ul_scroller,1) ;
            function ul_scroller() {
                if (w >= s_w){
                    var temp = - s_w;
                    scro_ul.css({transform: "translate("+temp+"px, 0px)"});
                    s_w += 2;
                    ul_b = setTimeout(ul_scroller,0.1)
                }else {
                    if(i == scro_li.length - 2){
                        i = 0;
                    }else if(i == scro_li.length - 1){
                        i = 1;
                    }
                    i++;
                    ul_a = setTimeout(ul_scro,1500);
                }
            }
        }
        var l_click = 0,end_x=0;
        scro_ul.on('touchmove',function (event) {
            clearTimeout(ul_a);
            clearTimeout(ul_b);
            end_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            var temp = -(s_w+l_click - end_x);
            $(this).css({transform:'translate('+temp+'px,0px)'});
        }).on('touchstart',function (event) {
            end_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            l_click = end_x;
        }).on('touchend',function (event) {
            if((l_click - end_x) > 0){
                if((l_click - end_x) > body_width/3){
                    if(i == scro_li.length - 2){
                        i = 0;
                    }
                    i++;
                    var temp = -(i-1) * body_width;
                    s_w = (i-1) * body_width;
                    $(this).css({transform: "translate("+temp+"px, 0px)"});
                }else {
                    var temp = -(i-1) * body_width;
                    s_w = (i-1) * body_width;
                    $(this).css({transform: "translate("+temp+"px, 0px)"});
                }
            }else {
                if((end_x - l_click) > body_width/3){
                    if(i == 2){
                        i = scro_li.length;
                    }
                    i--;
                    var temp = -(i-1) * body_width;
                    s_w = (i-1) * body_width;
                    $(this).css({transform: "translate("+temp+"px, 0px)"});
                }else {
                    var temp = -(i-1) * body_width;
                    s_w = (i-1) * body_width;
                    $(this).css({transform: "translate("+temp+"px, 0px)"});
                }
            }
            ul_a = setTimeout(ul_scro,1500);
        });
        //行程概要
        $('.m_multi').on('click',function () {
            var route = $('.m_fixed_route');
            if(route.is('.hide')){
                route.removeClass('hide');
            }else {
                route.addClass('hide');
            }
            route.on('click',function(){
                route.addClass('hide');
            })
        });
        var data = eval('('+"{:addslashes($trip.offer)}"+')');
        $('#dates').jeDate({
            format:"YYYY-MM-DD",
            isTime:false,
            isToday:false,
        {if condition="$trip.offer_type eq 2"}
        mode2val: true,
        {else /}
        dataval : true,
        {/if}
            data:data,
            minDate: $.nowDate({DD:0}),
            choosefun:function(elem, val, date) {
                $('#dates').text('更多班期')
        }
        });
        // 开始预订
        $('.js_booking').on('click', function () {
            var pid = $('.main-frame').data('pid');
            var url = "{:url('Index/pricecalendar')}" + '?pid=' + pid;
            location.href = url;
        });
        $('.js_vendor_phone').on('click',function () {
            var str = '';
            {if condition="$userinfo.type == 2 || $userinfo.type == 3" /}
            var supplier = "{$trip.supplier !='' ??$trip.merchant.name}",
                supplier_phone = "{$trip.supplier_phone != ''??$trip.merchant.phone}";
            str = '<h3 class="aui_buttons">'+supplier+':'+supplier_phone+' <button class="aui_state_highlight"><a href="tel:'+supplier_phone+'" style="color: white">拨打</a></button></h3>';
            {elseif condition="$userinfo.type == 1 && $userinfo.clerk == 1"}
            var supplier = "{$trip.merchant.name}",
                supplier_phone = "{$trip.merchant.phone}";
            str = '<h3 class="aui_buttons">'+supplier+':'+supplier_phone+' <button class="aui_state_highlight"><a href="tel:'+supplier_phone+'" style="color: white">拨打</a></button></h3>';
            {elseif condition="$userinfo.type == '1'"}
            var _this = $(this);
            var phone=_this.data('phone');
            str = '<h3 class="aui_buttons">'+phone+' <button class="aui_state_highlight"><a href="tel:'+phone+'" style="color: white">拨打</a></button></h3>';
            {else /}
            str = '请联系您的旅游顾问';
            {/if}
            art.dialog({
                content: str ,
                lock: true,
                drag: false, //禁止弹出层拖动
                resize: false, //禁止弹出层放大缩
                title:'',
            });
        });
        var city_a = $('.m_city_list a'),
            a_width = city_a.width(),
            a_margin = city_a.css('marginRight'),
            a_len = city_a.length,
            m_list_len = $('.m_city_list_box').width(),
            m_width = (a_width + parseInt(a_margin))* a_len,
            final = m_width<m_list_len?'100%':m_width;
        $('.m_city_list').css('width',final);
        console.log(parseInt(m_list_len));
        $('.js_comment').on('click',function(){
            location.href = "{:url('Index/comment_list')}?tid={$trip.id}";
        })

    });
</script>