{include file="base/header" /}
<!--header-->
<header>
    <a href="{:url('Index/location')}" class="location">{$location.location_city?$location.location_city:(!empty($location.location_province)?$location.location_province:'自动定位...')}</a>
    <h1 class="logoIcon" style="font-size:.85rem;">
        {php}/*
        <a href="{:url('Index/index')}">
            <img src="{$cache_config.web_logo ??'/favicon.ico'}" alt="小惠猫旅游平台" style="height: calc(100% - 10px) ; margin: 5px 0">
        </a>
        */{/php}
    </h1>
    <a href="{:url('Index/search')}" class="rt_searchIcon">&#37;</a>
</header>
<div style="height:1rem;"></div>
<!--slide-->
<div id="slide">
    <div class="swiper-wrapper">
        {volist name="ly_tops" id="ly_top"}
        <div class="swiper-slide">
            <a href="{$ly_top.url}">
                <img src="{:img_url($ly_top.pic,414,160)}"/>
            </a>
        </div>
        {/volist}
    </div>
    <div class="pagination"></div>
</div>
<!--高级搜索入口-->
<div id="advanced_search" class="advaced">
    <span>高级搜索</span>目的地、出发时间、预算、天数
</div>
<!--导航栏-->
<div id="index_wrap">
    <ul class="icon_list">
        {volist name="navs" id="nav"}
        <li class="icon">
            <a href="{$nav.hrefstr}">
                <span class="icon-circle">
                    <img src="{$nav.pic}" alt="" />
                </span>
                <span class="icon-desc">{$nav.desc}</span>
            </a>
        </li>
        {/volist}
    </ul>
    <div class="hr"></div>
    {php}/*
    <div class="weather_vane">
        <div class="weather_vane_title">
            出行标签
        </div>
        <div class="weather_vane_pic" id="wrapper">
            <ul style="width: 492px; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                <li>
                    <a href="{:url('index/trip_list',['pro_type'=>'weekend'])}">
                        <img src="__INDEX__images/djcx_145_145_app.png"  data-titlestr="排行榜-低价尝鲜" data-waveflag="true" data-index="4" data-load="1">
                    </a>
                </li>
                <li>
                    <a href="{:url('index/trip_list',['pro_type'=>'weekend'])}">
                        <img src="https://images3.c-ctrip.com/dj/201611/fc/zmcy_145_145_app.png" data-titlestr="排行榜-周末出游" data-waveflag="true" data-index="5" data-load="1">
                    </a>
                </li>

            </ul>
        </div>
    </div>
    */{/php}
    <!--广告入口-->
    <div class="abtesting_ad border1px_scaley">
        {volist name="ly_contents" id="ly_content" key="k"}
        {if condition="$k eq 1"}
        <div class="pic_left ads" data-index="{$k}" id="pkg_BeijingHome_New{$k}_app"  data-hrefstr="{$ly_content.url}">
            <img src="{$ly_content.pic}" alt="{$ly_content.subtitle}">
        </div>
        {else /}
        <div class="pic_right ads" data-index="{$k}" id="pkg_BeijingHome_New{$k}_app"  data-hrefstr="{$ly_content.url}">
            <img src="{$ly_content.pic}" alt="{$ly_content.subtitle}">
        </div>
        {/if}
        {/volist}
    </div>
    <div class="preference">
        <div class="hr"></div>
        <div class="trave_box">
            <p class="trave_title"><span>旅游推荐</span></p>
            <div class="trave_tab_content">

                <div class="trave_lines">
                    <div class="trave_noting" style="display:none;">暂时没有为您推荐的旅游行程</div>
                    {volist name="trips" id="trip"}
                    <div class="trave_item" data-lineid="{$trip.id}">
                        <div class="trave_item_pic">
                            <span class="trave_choiceness">为您精选</span>
                            <img src="{:img_url($trip.pic,414,160)}" style="height: 160px;">
                            <div class="trave_item_bg" style="height: 100%">
                                <img src="__INDEX__images/img/picbg.png" style="height: 100%">
                            </div>
                            <p><span>{$trip.destination}</span></p>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/footer"}
{load file="__INDEX__/js/js.js" /}
<script>
    $(function(){
        var mySwiper = new Swiper('#slide',{
            autoplay:5000,
            visibilityFullFit : true,
            loop:true,
            pagination : '.pagination',
        });
        //product list:Tab
        $(".tab_proList dd").eq(0).show().siblings(".tab_proList dd").hide();
        $(".tab_proList dt a").eq(0).addClass("currStyle");
        $(".tab_proList dt a").click(function(){
            var liindex = $(".tab_proList dt a").index(this);
            $(this).addClass("currStyle").siblings().removeClass("currStyle");
            $(".tab_proList dd").eq(liindex).fadeIn(150).siblings(".tab_proList dd").hide();
        });
        $('#advanced_search').click(function () {
            location.href = "{:url('Index/advanced')}";
        });

        var X = 0,
            x = 0,
            state = 0;
        $("#wrapper ul").on('touchmove',function (event) {
            var start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            x = -(X - start_x);
            $(this).css('transform',"translate("+x+"px,0px)")
        }).on('touchstart',function (event) {
            var start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            X = start_x;
        }).on('touchend',function (event) {
            var wrip_width = $('#wrapper').width(),
                ul_width = $('#wrapper ul').width(),
                cha_width = wrip_width - ul_width;
            if(x>0){
                x = 0;
                $(this).css('transform',"translate("+x+"px,0px)")

            }
            if(x<0 && x < cha_width){
                x = cha_width;
                $(this).css('transform',"translate("+x+"px,0px)")
            }
        });
        $('.trave_tab li').on('click',function () {
            $(this).addClass('cur').siblings().removeClass('cur');
            var index = $(this).index();
            $('.trave_name_'+index).show().siblings('.trave_name').hide();
        });
        var item = $('.trave_item');
        if(item.length == 0){
            $('.trave_noting').show();
        }
        item.on('click',function () {
            var lineid = $(this).data('lineid');
            location.href = "{:url('index/details')}?pid="+lineid;
        });
        $('.abtesting_ad .ads').on('click',function () {
            location.href = $(this).data('hrefstr');
        });
        var type = "{$userinfo.type}";
    });
</script>