{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
{load file="__INDEX__/css/process.css" /}
{load file="__INDEX__/css/flt_htl_h5.css" /}

<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>订单填写</h1>
</header>
<div style="height:1rem;"></div>
<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1498025393298" page-url="" data-view-name="order" style="">
                <div>
                    <div class="mod_body order_box_bg js_body">
                        <ul class="order_person_options" style="display: none; z-index: 9999; position: fixed;">
                            <li class="selected">成人</li>
                            <li>儿童</li>
                        </ul>
                        <div class="mod_company_info">
                            <div class="hd order_vendor v_arrow_down">由<span class="name">{$merchant.name}</span>直售</div>
                            <div class="bd order_vendor_info hidden">
                                <p class="tips">本产品由零售商提供，有关资源确认、合同签署、行程安排等事宜，可咨询客服</p>
                                <p class="tips">服务时间：周一至周日：08:30至23:00</p>
                                <!--<div class="tel">咨询电话<span class="phones_num">4008663333转55432</span>
                                </div>-->
                                <div class="tips">您提交订单后，商家会与您联系确认</div>
                            </div>
                        </div>
                        <div class="order_rn_passenger">
                            <div class="order_rn_box order_topbanner">
                                <div class="order_rn_info">
                                    <div class="item item_date">
                                        出发日期<span class="time">{$shop.outtime | date="Y-m-d",###}</span>
                                    </div>
                                    {if condition="$shop.man"}
                                    <div class="item item_adult">成人<span class="numb">{$shop.man}</span></div>
                                    {/if}
                                    {if condition="$shop.child"}
                                    <div class="item item_adult">儿童<span class="numb">{$shop.child}</span></div>
                                    {/if}
                                    <!--<div class="item item_restrict js_show_limited" data-sk-eid="hcc_tra_notice">预订限制</div>-->
                                </div>
                                {if condition="empty($peoples)"}
                                <div class="order_rn_traveller">
                                    <span class="btn order_sel_passenger" data-sk-eid="hcc_tra_chose">去选择出行人</span>
                                    <p class="guarantee_tips">为了您顺利出行，请务必保证填写项与出游所持证件一致</p>
                                </div>
                                {else /}
                                <ul class="order_rn_list">
                                    {volist name="peoples" id="people"}
                                    <li>
                                        <div class="name_title">
                                            <span class="order_person " data-id="{$people.id}">成人</span>
                                        </div>
                                        <div class="name_box rn_arrow_r" data-type="0" data-id="{$people.id}">
                                            <span>{$people.name}</span>
                                        </div>
                                    </li>
                                    {/volist}
                                </ul>
                                <div class="order_change_traveller">
                                    <p class="guarantee_tips">为了您顺利出行，请务必保证填写项与出游所持证件一致</p>
                                    <div class="btn order_sel_passenger" data-sk-eid="hcc_tra_change">更换出行人</div>
                                </div>
                                {/if}
                            </div>
                            <div class="order_rn_box">
                                <div class="info_title">
                                    <span class="title_name">合同选择</span>
                                </div>
                                <ul class="order_rn_list">
                                    <li>
                                        <div class="name_title">
                                            <span>选择合同</span>
                                        </div>
                                        <div class="name_content">
                                            <select name="contract" id="contract" class="rn_input_text form-select">
                                                <option value="">请选择合同</option>
                                                {volist name="contracts" id="contract"}
                                                <option value="{$contract.id}">{$contract.number}</option>
                                                {/volist}
                                            </select>
                                            <a class="default-a" href="javascript:;">
                                            </a>
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                            <span>
                                            </span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="china_phone">
                                        <div class="name_title">
                                            <span class="phone_title">合同金额</span>
                                        </div>
                                        <div class="name_content">
                                            <input name="contract_price" id="contract_price" class="form-select rn_input_text" placeholder="请输入合同金额" value="{$cid?$contracts.0.price:''}" />

                                            <a class="default-a" href="javascript:;">
                                            </a>
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                            <span>
                                            </span>
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="order_rn_box">
                                <div class="info_title">
                                    <span class="title_name">联系人信息</span>
                                </div>
                                <ul class="order_rn_list">
                                    <li>
                                        <div class="name_title">
                                            <span>联系人</span>
                                        </div>
                                        <div class="name_content">
                                            <input type="text" data-type="ContactName" class="rn_input_text" placeholder="填写联系人姓名" id="contact_name" value="{$shop.contact_name??''}">
                                            <a class="default-a" href="javascript:;">
                                            </a>
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                            <span>
                                            </span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="china_phone">
                                        <div class="name_title">
                                            <span class="phone_title">大陆手机</span>
                                        </div>
                                        <div class="name_content">
                                            <input type="tel" data-type="ContactMobile" class="rn_input_text" placeholder="必填，用于接收短信" id="contact_phone" value="{$shop.contact_phone??''}">
                                            <a class="default-a" href="javascript:;">
                                            </a>
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                            <span>
                                            </span>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name_title">
                                            <span>邮箱</span>
                                            <i class="info_edit_tips order_email_tip">
                                            </i>
                                        </div>
                                        <div class="name_content" style="min-height: 42px;">
                                            <input type="text" data-type="ContactEmail" class="rn_input_text" data-prompt="v_input_text" placeholder="非必填，用于接收确认单" id="contact_email" style="position: absolute; z-index: 1;"value="{$shop.contact_email??''}">
                                            <input type="text" class="js-prompt-input v_input_text" style="color: rgb(102, 102, 102); position: absolute; z-index: 0; height: 42px;">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                                <span>
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name_title">
                                            <span>备注</span>

                                        </div>
                                        <div class="name_content" style="min-height: 42px;">
                                            <input type="text" placeholder="非必填，备注信息" id="contact_remark" style="position: absolute; z-index: 1;" value="{$shop.remark??''}">
                                            <input type="text" class="js-prompt-input v_input_text" style="color: rgb(102, 102, 102); position: absolute; z-index: 0; height: 42px;">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                                <span>
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
<!--
                            <div class="order_rn_box">
                                <ul class="order_rn_list">
                                    <li class="js_coupon" data-sk-eid="hcc_tra_coupon">
                                        <div class="name_title">
                                            <span>优惠券</span>
                                        </div>
                                        <div class="name_box rn_arrow_r">
                                            <span class="grey">使用优惠券</span>
                                        </div>
                                    </li>
                                    <li class="fstore_hidden">
                                        <div class="name_title">
                                            <span>发票</span>
                                        </div>
                                        <div class="name_box">
                                            <span class="row_hidden js_retail_tip">
                                                由零售商开具<i class="info_edit_tips"></i>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="order_rn_box">
                                <div class="info_title rn_arrow_r" data-sk-eid="hcc_require">
                                    <span class="title_name">特殊需求</span>无</div>
                            </div>
                            -->

                            <div class="order_rn_box">
                                <div class="order_condition">
                                    <div class="p_bottom_tips02 hidden">
                                        <p class="default selected">70岁以上的出行人需确保身体健康适宜出行旅游，本次旅游活动中，若由于自身身体原因发生不适或人身意外及任何不良后果，均由本人承担全部责任。</p>
                                    </div>
                                    <div class="p_bottom_notice02">
                                        <p class="order_tips">点击下一步表示已阅读并同意<a href="{:url('Index/order_contract',['id'=>$trip.contract])}" class="v_blue" data-id="{$trip.contract}">预订须知和重要条款</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="weixin_txt02">
                                <dl class="list">
                                    <dt>关注小惠猫旅行网【xhmlx】微信并绑定账号，即时获得订单提醒，还可享受更多优惠。</dt>
                                </dl>
                            </div>
                        </div>
                        <footer class="mod_foot_order js_footer" style="z-index: 100001;height: 50px">
                            <div class="foot_order_box">
                                <div class="item item_col1 js_show_price" data-sk-eid="hcc_costdetail">
                                    <span class="ft_sum_name">总额：</span>
                                    <span class="foot_order_price">
                                        <span class="foot_price">
                                        <dfn>¥</dfn>{$shop.sumprice??'0'}</span>
                                        <span class="foot_sheng" style="display: none;">省
                                            <dfn>¥</dfn>0
                                        </span>
                                    </span>
                                    {php}
                                    /*
                                    {notempty name="$shop.earnest"}
                                    <span class="ft_sum_name">定金：</span>
                                    <span class="foot_order_price">
                                        <span class="foot_price">
                                        <dfn>¥</dfn>{$shop.earnest??'0'}</span>
                                        <span class="foot_sheng" style="display: none;">省
                                            <dfn>¥</dfn>0
                                        </span>
                                    </span>
                                    {/notempty}
                                    */
                                    {/php}
                                    <span class="price_detail" style="display: none;">明细</span>
                                </div>
                                <div class="item item_col2 js_to_payment " data-sk-eid="hcc_next_pay">去支付</div>
                            </div>
                        </footer>
                    </div>
                    <div id="order_pricedetail" class="p_popup_mod order_pricedetail fellow_prise" style="display: none;">
                        <div>
                            <i class="mask_mod_rgba9">
                            </i>
                            <h2 class="p_hd_title">费用明细</h2>
                            <div class="popup order_details_pop">
                                <div class="popup_con">
                                    <ul class="order_details_pop_list">
                                        <li>
                                            <h3>
                                                <span class="name">基本团费</span>
                                                <span class="base_price">
<dfn>¥</dfn>14700</span>
                                            </h3>
                                            <div class="order_details_rows">
                                                <p>成人</p>
                                                <p>
                                                <span class="base_price">
                                                <dfn>¥</dfn>14700</span>/人x1</p>
                                            </div>
                                        </li>
                                        <li>
                                            <h3>
                                                <span class="name">保险</span>
                                                <span class="base_price">
<dfn>¥</dfn>200</span>
                                            </h3>
                                            <div class="order_details_rows">
                                                <p>美亚“携”游天下境外旅行保险 畅享计划</p>
                                                <p>x1</p>
                                            </div>
                                        </li>
                                        <li class="delivery_li" style="display: none;">
                                            <h3>
                                                <span class="name">配送费</span>
                                                <span class="base_price postage">
<dfn>¥</dfn>0</span>
                                            </h3>
                                        </li>
                                        <li class="coupon_li" style="display: none;">
                                            <h3>
                                                <span class="name">优惠</span>
                                                <span class="txt_icon">惠</span>
                                                <span class="base_price base_price2 discount">-<dfn>¥</dfn>0</span>
                                            </h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="total_price2">
                                <div class="amount">
                                    <span class="total_price_hd">总额：</span>
                                    <span class="base_price total">
<dfn>¥</dfn>14900</span>
                                    <span class="total_price_label js_price_save" style="display: none;">
<span class="label">省<dfn>¥</dfn>0</span>
</span>
                                </div>
                                <i class="popup_costs_close">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-state">
        </div>
    </div>
</div>
<style>
    .form-select{
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        border: none;
    }
</style>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<script>
    $(function () {
        $('.order_vendor').on('click',function () {
            var info = $('.order_vendor_info');
            if(info.is(".hidden")){
                info.removeClass('hidden');
                $(this).addClass('v_arrow_up').removeClass('v_arrow_down');
            }else {
                info.addClass('hidden');
                $(this).addClass('v_arrow_down').removeClass('v_arrow_up');
            }
        });
        $('.order_sel_passenger').on('click',function(){
            var url = "{:url('Index/passengerselect')}";
            location.href = url + '?shopid='+ "{$shop.id}";
        })
        $('.foot_order_box .js_to_payment').on('click',function () {
            var out_people = "{$shop.people}".split(',').length;
            var man = parseInt("{$shop.man ?? 0}"),child = parseInt("{$shop.child ?? 0}"),sumpeo = man+child;
            if(out_people < sumpeo){
                alert('请选择'+sumpeo +"出行人");
                return;
            }
            var name = $('#contact_name').val(),
                phone = $('#contact_phone').val(),
                email = $("#contact_email").val(),
                remark = $('#contact_remark').val();
            var contract = $('#contract').val();
            if(contract == ''){
                alert('请绑定合同下单！');
                return ;
            }
            var contract_price = $('#contract_price').val();
            if(contract_price == ''){
                alert('请输入合同金额');
                return ;
            }
            if(name == ''){
                alert('请输入联系人姓名！');
                return;
            }
            if(phone == ''){
                alert('清输入联系人手机号码！');
                return;
            }

            var shop_data = {name:name,phone:phone,email:email,shopid:"{$shop.id}",act:"order",remark:remark,contract:contract,contract_price:contract_price};
            $.ajax({
                url:"{:url('Index/ajax_shop')}",
                data:shop_data,
                error:function (text) {
                  console.log(text);
                },
                success:function (text) {
                    location.href = "{:url('Index/order_pay',['oid'=>$shop.id])}";
                }
            });
        });
        $('#contract').val("{$cid?$contracts.0.id:''}");
        $('.order_tips').on('click',function () {

        })
    })
</script>