{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
{load file="__INDEX__/css/process.css" /}
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <a href="javascript:void (0);" class="rt_searchIcon" style="font-size: .3rem;">完成</a>
    <h1>修改用户</h1>
</header>
<div style="height:1rem;"></div>
<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_4_1498038557793" page-url="" data-view-name="passengeredit">
                <div>
                    <div class="body nofoot js_body" id="travaller_wrapper" tabindex="-1">
                        <div class="info_edit_passenger">
                            <div class="info_edit_content">
                                <div class="info_title">旅客姓名<i class="info_edit_tips">
                                </i>
                                </div>
                                <ul class="list">
                                    <li>
                                        <div class="name_title">
                                            <span>中文姓名</span>
                                        </div>
                                        <div class="name_content en-cn-input">
                                            <input type="text" class="input_text" placeholder="与证件姓名一致" value="{$passeng.name ?? ''}">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                                <span></span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name_title">
                                            <span>英文姓</span>
                                        </div>
                                        <div class="name_content last-input">
                                            <input type="text" class="input_text" placeholder="拼音姓" value="{$passeng.last ?? ''}">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                                <span></span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name_title">
                                            <span>英文名</span>
                                        </div>
                                        <div class="name_content first-input">
                                            <input type="text" class="input_text" placeholder="拼音名" value="{$passeng.first ?? ''}">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                                <span></span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="info_edit_content">
                                <div class="info_title">证件信息</div>
                                <ul class="list">
                                    <li class="pkage_arrows_down">
                                        <div class="name_title">
                                            <span>证件类型</span>
                                        </div>
                                        <div class="name_content name_type" data-type="">
                                            <span class="name">选择证件类型</span>
                                            <p class="v_error_tips flash animated" style="display: none;">请选择证件类型</p>
                                        </div>
                                    </li>
                                    <li class="idcard">
                                        <div class="name_title">
                                            <span>证件号码</span>
                                        </div>
                                        <div class="name_content ">
                                            <input type="text" class="input_text" placeholder="所持证件号码" value="">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                                <span></span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                    <li class="handle">
                                        <div class="name_title">
                                            <span>证件起始时间</span>
                                        </div>
                                        <div class="name_content ">
                                            <!--<input type="text" class="input_text" id="handle" placeholder="证件起始时间" value="{$passeng.handle ?date('Y-m-d',$passeng.handle):''}" readonly="readonly">-->
                                            <span class="name" id="handle">
                                                {$passeng.handle ?date('Y-m-d',$passeng.handle):''}
                                            </span>
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                                <span></span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                    <li class="expir_in">
                                        <div class="name_title">
                                            <span>证件到期时间</span>
                                        </div>
                                        <div class="name_content ">
                                            <!--<input type="text" class="input_text" id="expir_in" placeholder="证件到期时间" value="{$passeng.expir_in ?date('Y-m-d',$passeng.expir_in):''}"  readonly="readonly">-->
                                            <span class="name" id="expir_in">
                                                {$passeng.expir_in ?date('Y-m-d',$passeng.expir_in):''}
                                            </span>
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                                <span></span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                    <li class="pkage_arrows_down">
                                        <div class="name_title">
                                            <span>国籍</span>
                                        </div>
                                        <div class="name_content js_nal_select" data-type="1">
                                            <span class="name">中国大陆</span>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="info_edit_content">
                                <div class="info_title">其他信息</div>
                                <ul class="list">
                                    <li>
                                        <div class="name_title">
                                            <span>性别</span>
                                        </div>
                                        <div class="name_content">
                                            <div class="v_check_list">
                                                <a data-value="男" href="javascript:;" class="cur">男</a>
                                                <a data-value="女" href="javascript:;" class="">女</a>
                                                <b class="slide_border">
                                                </b>
                                            </div>
                                            <p class="v_error_tips flash animated" style="display: none;">请选择性别</p>
                                        </div>
                                    </li>
                                    <li class="pkage_arrows_down">
                                        <div class="name_title">
                                            <span>出生日期</span>
                                        </div>
                                        <div class="name_content" data-btd="">
                                            <span class="name" id="dates">
                                                {php}echo empty($passeng['birthday'])?'':date("Y-m-d",$passeng['birthday']){/php}
                                            </span>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                    <li class="china_phone">
                                        <div class="name_title">
                                            <span class="phone_title">大陆手机</span>
                                        </div>
                                        <div class="name_content ">
                                            <input type="text" class="input_text" placeholder="出行人的手机号码" value="{$passeng.china_phone ?? ''}">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                                <span>
                                                </span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input class="js_input_upload" type="file" style="visibility: hidden; position: absolute;">
                    </div>
                    <div class="p_popup_mod popup_anima popup_assist_reason js_national_layer hidden">
                        <i class="mask_mod js_mask">
                        </i>
                        <div class="anima" id="js_national_select">
                            <div class="popup_country_select js_national_list">
                                <h3>请选择国籍</h3>
                                <ul class="traveller_clist">
                                    <li data-id="CN" class="js_normal curr">
                                        <span class="cityname">中国大陆</span>
                                    </li>
                                    <!--<li data-id="US" class="js_normal ">
                                        <span class="cityname">美国</span>
                                    </li>
                                    <li data-id="GB" class="js_normal ">
                                        <span class="cityname">英国</span>
                                    </li>
                                    <li data-id="JP" class="js_normal ">
                                        <span class="cityname">日本</span>
                                    </li>
                                    <li data-id="CA" class="js_normal ">
                                        <span class="cityname">加拿大</span>
                                    </li>
                                    <li data-id="FR" class="js_normal ">
                                        <span class="cityname">法国</span>
                                    </li>
                                    <li data-id="KR" class="js_normal ">
                                        <span class="cityname">韩国</span>
                                    </li>
                                    <li data-id="DE" class="js_normal ">
                                        <span class="cityname">德国</span>
                                    </li>
                                    <li class="more js_more">
                                        <span class="cityname">更多</span>
                                    </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="p_popup_mod popup_anima popup_assist_reason hidden" id="radioControl">
                        <i class="mask_mod"></i>
                        <div class="anima">
                            <div class="popup_assist_item js_con_list">
                                <ul class="popup_select_list">
                                    {volist name="papers" id="paper"}
                                    <li data-index="{$paper.id}">{$paper.paper_name}<i class="animate_select2"></i></li>
                                    {/volist}
                                    <li data-index="" class="selected">请选择证件<i class="animate_select2"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--
            <div id="client_id_viewport_5_1498033321246" page-url="" data-view-name="passengeredit">
                <div>
                    <div class="body nofoot js_body" id="travaller_wrapper" tabindex="-1">
                        <div class="info_edit_passenger">
                            <div class="info_edit_content">
                                <div class="info_title">旅客姓名<i class="info_edit_tips">
                                </i>
                                </div>
                                <ul class="list">
                                    <li>
                                        <div class="name_title">
                                            <span class="english_name">英文姓<br>Last name</span>
                                        </div>
                                        <div class="name_content en-cn-input">
                                            <input type="text" class="input_text" placeholder="如：张小明，填：ZHANG">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
<span>
</span>
                                            </a>
                                            <span data-type="C" class="en_cn_change">
<em class="cn">中</em>
<em class="en on">En</em>
</span>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name_title">
                                            <span class="english_name">英文名<br>First name</span>
                                        </div>
                                        <div class="name_content ">
                                            <input type="text" class="input_text" placeholder="如：张小明，填：XIAOMING">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
<span>
</span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="info_edit_content">
                                <div class="info_title">证件信息</div>
                                <ul class="list">
                                    <li class="pkage_arrows_down">
                                        <div class="name_title">
                                            <span>证件类型</span>
                                        </div>
                                        <div class="name_content" data-index="1" data-type="2">
                                            <span class="name">护照</span>
                                            <p class="v_error_tips flash animated" style="display: none;">请选择证件类型</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="name_title">
                                            <span>证件号码</span>
                                        </div>
                                        <div class="name_content ">
                                            <input type="text" class="input_text" placeholder="所持证件号码">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
<span>
</span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                    <li class="pkage_arrows_down">
                                        <div class="name_title">
                                            <span>国籍</span>
                                        </div>
                                        <div class="name_content js_nal_select">
                                            <span class="name">中国大陆</span>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="info_edit_content">
                                <div class="info_title">其他信息</div>
                                <ul class="list">
                                    <li>
                                        <div class="name_title">
                                            <span>性别</span>
                                        </div>
                                        <div class="name_content">
                                            <div class="v_check_list">
                                                <a data-value="M" href="javascript:;" class="cur">男</a>
                                                <a data-value="F" href="javascript:;" class="">女</a>
                                                <b class="slide_border">
                                                </b>
                                            </div>
                                            <p class="v_error_tips flash animated" style="display: none;">请选择性别</p>
                                        </div>
                                    </li>
                                    <li class="pkage_arrows_down">
                                        <div class="name_title">
                                            <span>出生日期</span>
                                        </div>
                                        <div class="name_content" data-index="66-9-17" data-btd="">
                                            <span class="name">1996年10月18日</span>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                    <li class="china_phone">
                                        <div class="name_title">
                                            <span class="phone_title">大陆手机</span>
                                        </div>
                                        <div class="name_content ">
                                            <input type="text" class="input_text" placeholder="至少输入一位出行人的手机号码">
                                            <a class="pkg-clear-input" href="javascript:;" style="display: none;">
<span>
</span>
                                            </a>
                                            <p class="v_error_tips flash animated" style="display: none;">
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input class="js_input_upload" type="file" style="visibility: hidden; position: absolute;">
                    </div>
                    <div class="p_popup_mod popup_anima popup_assist_reason js_national_layer hidden">
                        <i class="mask_mod js_mask">
                        </i>
                        <div class="anima" id="js_national_select">
                            <div class="popup_country_select js_national_list">
                                <h3>请选择国籍</h3>
                                <ul class="traveller_clist">
                                    <li data-id="CN" class="js_normal curr">
                                        <span class="cityname">中国大陆</span>
                                    </li>
                                    <li data-id="US" class="js_normal ">
                                        <span class="cityname">美国</span>
                                    </li>
                                    <li data-id="GB" class="js_normal ">
                                        <span class="cityname">英国</span>
                                    </li>
                                    <li data-id="JP" class="js_normal ">
                                        <span class="cityname">日本</span>
                                    </li>
                                    <li data-id="CA" class="js_normal ">
                                        <span class="cityname">加拿大</span>
                                    </li>
                                    <li data-id="FR" class="js_normal ">
                                        <span class="cityname">法国</span>
                                    </li>
                                    <li data-id="KR" class="js_normal ">
                                        <span class="cityname">韩国</span>
                                    </li>
                                    <li data-id="DE" class="js_normal ">
                                        <span class="cityname">德国</span>
                                    </li>
                                    <li class="more js_more">
                                        <span class="cityname">更多</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
        </div>
        <div class="main-state">
        </div>
    </div>
</div>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
{load file="__MYDATE__WdatePicker.js"}
{load file="__JQUERY__chars.js" /}
<script>
    $(function(){
        var papers = ['身份证','护照','港澳通行证','台湾通行证','回乡证','台胞证','军官证','稍后提供'],
            nationality = [''];
        $('nav').addClass('hidden');
        $('.foo').addClass('hidden');
        $('.rt_searchIcon').on('click',function () {
            //姓名
            var name = $('.en-cn-input .input_text').val();
            if(name == ''){
                $('.en-cn-input .v_error_tips').show().text('请输入姓名');
                return;
            }else {
                $('.en-cn-input .v_error_tips').hide()
            }
            var last = $('.last-input .input_text').val();
            if(last == ''){
                $('.last-input .v_error_tips').show().text('请输入英文姓');
                return;
            }else {
                $('.last-input .v_error_tips').hide();
            }
            var first = $('.first-input .input_text').val();
            if(first == ''){
                $('.first-input .v_error_tips').show().text('请输入英文名');
                return;
            }else {
                $('.first-input .v_error_tips').hide();
            }
            // 证件类型
            var type = $('.name_type').data('type');
            if(type == '' && type != 0){
                $('.name_type .v_error_tips').show().text('请选择证件类型');
                return;
            }else {
                $('.name_type .v_error_tips').hide();
            }
            //证件号码
            var idcard = $('.idcard .input_text').val();
            if(idcard == ''){
                $('.idcard .v_error_tips').show().text('请输入正确的证件号码');
                return;
            }else {
                $('.idcard .v_error_tips').hide();
            }
            if(type != '1'){
                var handle = $('#handle').text();
                if(handle == ''){
                    $('.handle .v_error_tips').show().text('请输入办理时间');
                    return;
                }else {
                    $('.handle .v_error_tips').hide();
                }
                var expir_in = $('#expir_in').text();
                if(expir_in == ''){
                    $('.expir_in .v_error_tips').show().text('请输入有效时间');
                    return;
                }else {
                    $('.handle .v_error_tips').hide();
                }
            }
            var county = $('.js_nal_select').data('type');
            if(county == ''){
                $('.js_nal_select .v_error_tips').show().text('请选择国家');
                return;
            }else {
                $('.js_nal_select .v_error_tips').hide();
            }
            //性别
            var sex = $('.v_check_list a[class="cur"]').data('value');
            if(!sex && sex == ''){
                $('.v_check_list .v_error_tips').show().text('请选择性别');
                return;
            }else {
                $('.v_check_list .v_error_tips').hide();
            }
            //生日
            var dates = $('#dates').text();
            if(dates == ''){
                $('#dates').siblings('.v_error_tips').show().text('请选择您的生日');
                return;
            }else {
                $('#dates').siblings('.v_error_tips').hide();
            }
            //手机号码
            var china_phone = $('.china_phone .input_text').val();
            if(china_phone == ''){
                $('.china_phone .v_error_tips').show().text('请输入手机号码');
                return;
            }else {
                $('.china_phone .v_error_tips').hide();
            }
//            console.log("{:url('Index/passenger_edit')}?act={$act}&passid={:input('passid')}&name=" + name + "&type=" + type+ '&idcard=' + idcard + "&sex=" + sex + "&dates=" + dates + "&phone=" + china_phone + '&from={$url}');
            location.href = "{:url('Index/passenger_edit')}?act={$act}&passid={:input('passid')}&name=" + name + "&last=" + last + "&first=" + first + "&type=" + type+ '&idcard=' + idcard  + "&handle=" + handle + "&expir_in=" + expir_in + "&county=" + county + "&sex=" + sex + "&dates=" + dates + "&phone=" + china_phone + '&from={$url}';
        });
        $('.en-cn-input .input_text').change(function () {
            var name = $(this).val();
            var last = pinyin.getFullChars(name.substr(0,1)),
                first = pinyin.getFullChars(name.substr(1));
            $('.last-input .input_text').val(last);
            $('.first-input .input_text').val(first);
        });
        $('.name_type').on('click',function () {
            $('#radioControl').removeClass('hidden');
        });
        $('#radioControl').on('click',function () {
            $(this).addClass('hidden');
        });
        $('#radioControl .anima .popup_select_list li').on('click',function () {
            var index = $(this).data('index'),
                text = $(this).text();
            $(this).addClass('selected').siblings().removeClass('selected');
            $('.name_type').data('type',index);
            $('.name_type .name').text(text);
            traveller_clist();
        });
        $('.v_check_list a').on('click',function () {
            $(this).addClass('cur').siblings('a').removeClass('cur');
        });
        $('.v_check_list a[data-value="{$passeng.sex??'男'}"]').addClass('cur').siblings('a').removeClass('cur');
        $('#handle ,#expir_in, #dates').on('click',WdatePicker);

        $('.js_nal_select').parents('.pkage_arrows_down').on('click',function(){
            $('.js_national_layer').removeClass('hidden');
        });
        $('.js_national_layer').on('click',function () {
            $(this).addClass('hidden');
        });
        $('.js_normal').on('click',function () {
            $(this).addClass('curr').siblings().removeClass('curr');
            var id = $(this).data('id');
            var city = $(this).children('.cityname').text();
            $('.js_nal_select').data('id',id).find('.name').text(city);
        });
        traveller_clist();
        function traveller_clist() {
            var type = $('.name_type').data('type');
            var data = {pid:"{$passeng.id ?? ''}",type:type};
            $.get('{:url("Index/passports")}',data,function (json) {
                var datas = {};
                if(type == '1'){
                    $('.handle,.expir_in').hide();
                }else {
                    $('.handle,.expir_in').show();
                }
                if(json != ''){
                    datas = eval('('+json+')');
                    $('.idcard .input_text').val(datas.idnumber);
                    $('#handle').text(datas.handle);
                    $('#expir_in').text(datas.expir_in);
                }else {
                    $('.idcard .input_text').val('');
                    $('#handle').text('');
                    $('#expir_in').text('');
                }
            });
        }
        //证件信息
        function a() {
            
        }
    });
</script>