{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
<!--header-->
<div id="headerview">
    <div id="ui-view-5" class="">
        <div class="search_destination_box">
            <span class="go_back js_back"> <a href="javascript:history.go(-1);"><i class="goback_icon"></i></a></span>
            <div class="search_destination_heard">
                <div class="search_destination_col">
                    <div class="search_destination_starting js_depart"><span id="search_depart" data-id="0">{:substr($location.location_city,0,-3)}站</span></div>
                    <div class="search_destination_mod js_dest" style="text-align: left;">
                        <input class="search_destination_search" readonly="" style="width:100%; color: #999;" type="text" value="{:input('keyword')?input('keyword'):'关键字'}" >
                    </div>
                </div>
            </div>
            <span class=" cm-header-icon fr  js_search" style="visibility: hidden;">
                <i class="icon-search"></i>
            </span>
        </div>
    </div>
</div>
<div style="height:1rem;"></div>
<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1497668711768"  data-view-name="list">
                <div class="content_list">

                    <div class="product_list_box " style="padding:0px 0 43px">
                        <div class="product_list_col">
                            <!--<div class="youxue_tab3" style="">
                                <div class="youxue_tab_box" style="width: 365px;">
                                    <div class="youxue_search_tab" style="width: 267.688px; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                                        <p data-type="pb" data-key="1999999" data-flag="prefer" class="" data-hot="true" data-pre="">
                                            <span>携程国旅</span>
                                        </p>
                                        <p data-type="g" data-key="4" data-flag="prefer" class="" data-hot="true" data-pre="">
                                            <span>4钻</span>
                                        </p>
                                        <p data-type="l" data-key="67" data-flag="prefer" class="" data-hot="true" data-pre="">
                                            <span>两国连游</span>
                                        </p>
                                        <p data-type="l" data-key="66" data-flag="prefer" class="" data-hot="true" data-pre="">
                                            <span>一国深度</span>
                                        </p>
                                    </div>
                                </div>
                            </div>-->
                            <div class="flag_prod_container">
                                <div class="vacation_diy_tip2" style="display:none">
                                    <span class="pic"></span>
                                    <span class="diy_dp">点击预订</span>
                                    <div class="text">
                                        <h2 class="h2_tit"></h2>
                                        <p class="x_box"></p>
                                        <p class="tag_s" id="tag1" style="display:none">
                                            <span class="tab_red_b">赠</span>
                                        </p>
                                        <p class="tag_s" id="tag2" style="display:none">
                                            <span class="tab_red_b">赠</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="error" style="display: none">
                                    <i class="error_ico"></i>
                                    <p>没有找到符合条件的结果，<br>请修改条件重新查询</p>
                                </div>
                                <div class="tour_allproduct  basic_list">
                                    <ul class="tour_list">
                                        <div class="tour_also_search" style="display: none"><p>搜“欧洲”的客人还搜过</p><div class="dest_search"></div></div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="no_more tour_no_more" style="display:none">没有更多结果了</div>
                        <div class="base_loading" style="display:none">
                            <i></i>加载中
                        </div>
                    </div>
                    <div class="look_else_box" style="display:none">
                        <h4>看看其他热门目的地</h4>
                    </div>
                    <div class="warp_z" style="display:none"></div>
                    <span class="list_index_tip" style="display:none">
                        定位失败，可点击<br>页面左上角选择出发城市
                    </span>
                    <div class="grade_explain" style="display: none; position: absolute">
                        <h2>钻级说明</h2>
                        <i class="close" id="diamondSpecClose"></i>
                        <ul class="grade_content">
                            <li><h3>2钻<i class="diamond_2"></i></h3><div class="grade_font"><span>住宿：</span>入住当地经济型酒店、客栈、民宿等。</div><div class="grade_font"><span>交通：</span>旅游用车每人一正座。（景区特别要求用车除外）</div></li>
                            <li><h3>3钻<i class="diamond_3"></i></h3><div class="grade_font"><span>住宿：</span>入住携程网站评定的3钻酒店。目的地如无此等级酒店，选用当地最高钻级酒店。</div><div class="grade_font"><span>交通：</span>旅游用车每人一正座。（景区特别要求用车除外）</div></li>
                            <li><h3>4钻<i class="diamond_4"></i></h3><div class="grade_font"><span>住宿：</span>入住携程网站评定的3.5钻及以上的酒店，入住天数至少占产品行程总入住天数的70%。目的地如无此等级酒店，选用当地最高星/钻级酒店。可选用无钻级和星级评定的特色体验型住宿场所（如别墅、庄园、蒙古包等）</div><div class="grade_font"><span>交通：</span>旅游用车空座率不低于10％。（景区特别要求用车及接送机用车除外）</div></li>
                            <li><h3>5钻<i class="diamond_5"></i></h3><div class="grade_font"><span>住宿：</span>入住携程网站评定的4.5钻及以上的酒店，入住天数至少占产品行程总入住天数的70%。目的地如无此等级酒店，选用当地最高星/钻级酒店。 可选用无钻级和星级评定的特色体验型住宿场所（例如别墅、庄园、蒙古包等）。</div><div class="grade_font"><span>交通：</span>旅游用车空座率不低于15% 或配备专用行李车。（景区特别要求用车及接送机用车除外）</div></li>
                            <li><h3>6钻<i class="diamond_6"></i></h3><div class="grade_font"><span>住宿：</span>入住全球高端品牌酒店，部分目的地还会选用旅游业内权威评选的获奖酒店。可选用安排入住皇宫，城堡改建的特色酒店，私家庄园等。</div><div class="grade_font"><span>交通：</span>国际航线安排商务舱，头等舱可选项，行程内的火车、轮船安排不低于二等座/舱，不使用红眼航班。 旅游用车空座率不低于百分之四十或专用商务车配行李车，保证空间宽敞。（景区特别要求用车及接送机用车除外）</div></li>
                        </ul>
                    </div>
                </div>
                <div class="footer">
                    <ul class="search_filter_tab tab4" id="searchFilterTabs">
                        <li class="lineplay ">线路玩法</li>
                        <li class="days ">行程天数</li>
                        <li class="filter new">特色筛选</li>
                        <li class="sequence_down">综合排序</li>
                    </ul>
                    <div class="filter_pop_wrap" style="display:none; transform: translateZ(0px)">
                        <div class="filter_result_pop"><div class="mpty_filter">
                            <span id="ctm_vacation_list_tab_all_deleteall" class="btn_clear">清空筛选</span>
                        </div>
                            <p class="num"></p>
                            <span id="ctm_vacation_list_tab_all_go" class="list_btn_ok">确定</span>
                            <span id="ctm_tour_grouptravel_deleteall" class="list_btn_off">取消</span>
                        </div>
                        <div id="filtersSub">
                            <div class="double_column_pop" style="display:none; height:400.2px; overflow:hidden">
                                <div class="double_column_content">
                                    <div class="left_column">
                                        <div class="iscroll" style="overflow:hidden; margin-right:-1px; height:400.2px">
                                            <ul style="height:auto">
                                                <li data-type="l" class="">游玩线路</li>
                                                <li data-type="aod" class="">途经地</li>
                                                <li data-type="dc" class="">出发城市</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="right_column">
                                        <div class="iscroll" data-type="l" style="overflow:hidden;display:none;height:400.2px">
                                            <ul style="height:auto">
                                                <li class="selected" data-type="l" data-key="0">
                                                    <strong>不限</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-top="1" data-key="1050" data-index="0" data-type="l">
                                                    <strong> <i class="top_1"></i>  德法意瑞</strong>
                                                    <i class="select_input"></i>
                                                </li>
                                                <li class="" data-top="2" data-key="70" data-index="1" data-type="l"><strong> <i class="top_2"></i>  多国连游</strong> <i class="select_input"></i></li>

                                            </ul>
                                        </div>
                                        <div class="iscroll right_column_mc three_column_box" data-type="aod">
                                            <div class="three_column_one" style="height:400.2px">
                                                <ul style="overflow-x: hidden">
                                                    <li data-layer="1" data-key="100083">
                                                        <strong>俄罗斯</strong>
                                                    </li>
                                                    <li data-layer="1" data-key="20354">
                                                        <strong>英国</strong>
                                                    </li>
                                                    <li data-layer="1" data-key="100025">
                                                        <strong>德国</strong>
                                                    </li>
                                                    <li data-layer="1" data-key="100036">
                                                        <strong>希腊</strong>
                                                    </li>
                                                    <li data-layer="1" data-key="100094">
                                                        <strong>捷克</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                            <ul data-layer="2" data-supkey="100083" data-type="aod" class="filter_sub" style="height:400.2px">
                                                <div>
                                                    <li data-layer="2" data-supkey="100083" data-suptext="俄罗斯" data-key="100083" data-type="aod" data-index="0" class="">
                                                        <a href="###">所有</a>
                                                        <i class="select_input"></i>
                                                    </li>
                                                    <li data-layer="2" data-supkey="100083" data-suptext="俄罗斯" data-key="358" data-type="aod" data-index="1" class="">
                                                        <a href="###">莫斯科</a>
                                                        <i class="select_input"></i>
                                                    </li>
                                                    <li data-layer="2" data-supkey="100083" data-suptext="俄罗斯" data-key="359" data-type="aod" data-index="2" class="">
                                                        <a href="###">圣彼得堡</a>
                                                        <i class="select_input"></i>
                                                    </li>
                                                </div>
                                            </ul>
                                            <ul data-layer="2" data-supkey="20354" data-type="aod" class="filter_sub" style="height:400.2px">
                                                <div>
                                                    <li data-layer="2" data-supkey="20354" data-suptext="英国" data-key="20354" data-type="aod" data-index="0" class="">
                                                        <a href="###">所有</a>
                                                        <i class="select_input"></i>
                                                    </li>
                                                    <li data-layer="2" data-supkey="20354" data-suptext="英国" data-key="309" data-type="aod" data-index="1" class="">
                                                        <a href="###">伦敦</a>
                                                        <i class="select_input"></i>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="iscroll" data-type="dc" style="overflow:hidden;display:none;height:400.2px">
                                            <ul style="height:auto">
                                                <li class="selected" data-type="dc" data-key="0">
                                                    <strong>不限</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="376" data-index="0" data-type="dc">
                                                    <strong>南昌</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="2" data-index="1" data-type="dc">
                                                    <strong>上海</strong> <i class="select_input"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list_timedays iscroll" style="display:none; height:400.2px; overflow:hidden">
                                <div class="time-panel" style="height: auto">
                                    <div class="playgo_time">
                                        <h3>行程天数</h3>
                                        <ul data-type="u" class="playgo_list">
                                            <li data-type="u" data-key="0" class="selected">不限</li>
                                            <li data-type="u" data-index="0" data-key="3" class="  " style=""> 3日 </li>
                                            <li data-type="u" data-index="1" data-key="4" class="  " style=""> 4日 </li>
                                            <li data-type="u" data-index="2" data-key="5" class="  " style=""> 5日 </li>
                                            <li data-type="u" data-index="3" data-key="6" class="  " style=""> 6日 </li>
                                        </ul>
                                    </div>
                                    <div class="playgo_time">
                                        <h3>出发日期</h3>
                                        <ul data-type="dd" class="playgo_list">
                                            <li data-type="dd" data-key="0" class="selected">不限</li>
                                            <li data-type="dd" data-index="0" data-key="20171001_20171008" class="  " style=""> 国庆 </li>
                                            <li data-type="dd" data-index="1" data-key="20171004_20171004" class="  " style=""> 中秋 </li>
                                            <li data-type="dd" data-index="2" data-key="20170601_20170630" class="  " style=""> 6月 </li>
                                            <li data-type="dd" data-index="3" data-key="20170701_20170731" class="  " style=""> 7月 </li>
                                            <li data-type="dd" data-index="4" data-key="20170801_20170831" class="  " style=""> 8月 </li>
                                            <li data-type="dd" data-index="5" data-key="20170901_20170930" class="  " style=""> 9月 </li>
                                        </ul>
                                    </div>
                                    <div class="playgo_time">
                                        <div class="custom_time">
                                            <span class="up">自定义出发时间</span>
                                        </div>
                                        <div class="gotime_input">
                                            <div class="input_popselect02">
                                                <input id="ea" type="text" readonly="" data-flag="extra" data-type="ea" data-key="" placeholder="最早出发时间" class="ea datepicker " value="">
                                                <span class="veiw"></span>
                                            </div>
                                            <div class="input_popselect02">
                                                <input id="fa" type="text" readonly="" data-flag="extra" data-type="fa" data-key="" placeholder="最晚出发时间" class="fa datepicker " value="">
                                                <span class="veiw"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="double_column_pop" style="display:none; height:400.2px; overflow:hidden">
                                <div class="filter_option" data-type="tag">
                                    <ul class="filter_option_content">
                                        <li class="" data-type="tag" data-key="971" data-index="0">
                                            <i></i>成团保障
                                        </li>
                                        <li class="" data-type="tag" data-key="99999152" data-index="1">
                                            <i></i>无自费
                                        </li>
                                        <li class="" data-type="tag" data-key="99999151" data-index="2">
                                            <i></i>无购物
                                        </li>
                                        <li class="" data-type="tag" data-key="1041" data-index="3">
                                            <i></i>精致小团
                                        </li>
                                    </ul>
                                    <i class="right"></i>
                                </div>
                                <div class="double_column_content">
                                    <div class="left_column">
                                        <div class="iscroll" style="overflow:hidden; margin-right:-1px; height:358.2px">
                                            <ul style="height:auto">
                                                <li data-type="n" class="">产品类型</li>
                                                <li data-type="g" class="">产品等级</li>
                                                <li data-type="pp" class="new">价格与优惠</li>
                                                <li data-type="pb" class="">供应商</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="right_column">
                                        <div class="iscroll" data-type="n" style="overflow:hidden;display:none;height:358.2px">
                                            <ul style="height:auto">
                                                <li class="selected" data-type="n" data-key="0">
                                                    <strong>不限</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="1" data-index="0" data-type="n">
                                                    <strong>跟团游</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="3" data-index="1" data-type="n">
                                                    <strong>半自助游</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="4" data-index="2" data-type="n">
                                                    <strong>私家团</strong> <i class="select_input"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="iscroll" data-type="g" style="overflow:hidden;display:none;height:358.2px">
                                            <ul style="height:auto">
                                                <li class="selected" data-type="g" data-key="0">
                                                    <strong>不限</strong>
                                                    <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="5" data-index="0" data-type="g">
                                                    <strong>5钻</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="4" data-index="1" data-type="g">
                                                    <strong>4钻</strong>
                                                    <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="3" data-index="2" data-type="g">
                                                    <strong>3钻</strong> <i class="select_input"></i>
                                                </li>

                                            </ul>
                                            <div class="double_grade" id="diamondSpec">
                                                <i></i>钻级说明
                                            </div>
                                        </div>
                                        <div class="select_price iscroll" data-type="pp" style="overflow:hidden;display:none;height:358.2px">
                                            <div>
                                                <h3>价格范围</h3>
                                                <p class="pricerange">
                                                <span class="price_input_wrap">
                                                    <input id="min" type="tel" pattern="\d*" class="pricenumber startnum price_input " data-flag="extra" data-type="min" data-key="" value="">
                                                </span>
                                                    ~
                                                    <span class="price_input_wrap">
                                                    <input id="max" type="tel" pattern="\d*" class="pricenumber endnum price_input selected" data-flag="extra" data-type="max" data-key="500" value="500">
                                                </span>
                                                </p>
                                                <p id="onsale" class="only_onsale onsaleonly " data-flag="extra" data-type="o" data-key="">
                                                    <i class="blue_checkbox "></i>限时特卖
                                                </p>
                                                <p id="discount" class="only_onsale onsaleonly " data-flag="extra" data-type="y" data-key="">
                                                    <i class="blue_checkbox "></i>优惠立减</p>
                                                <p class="botton_wrap">
                                                    <a class="clear clearprice" href="###" style="">清空价格</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="iscroll" data-type="pb" style="overflow:auto;display:none;height:358.2px">
                                            <ul style="height:auto; ">
                                                <li class="selected" data-type="pb" data-key="0">
                                                    <strong>不限</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="1999999" data-index="0" data-type="pb">
                                                    <strong>携程国旅</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="1899998" data-index="1" data-type="pb"><strong>联合发团</strong> <i class="select_input"></i></li>
                                                <li class="" data-key="15467" data-index="2" data-type="pb">
                                                    <strong>黑龙江省中旅</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="1215" data-index="3" data-type="pb">
                                                    <strong>翔龙万里行</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="960" data-index="4" data-type="pb">
                                                    <strong>全景旅游</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="13701" data-index="5" data-type="pb">
                                                    <strong>享行之旅</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="18143" data-index="6" data-type="pb">
                                                    <strong>全域旅游</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="20995" data-index="7" data-type="pb">
                                                    <strong>朋悦假期</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="20995" data-index="7" data-type="pb">
                                                    <strong>朋悦假期</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="20995" data-index="7" data-type="pb">
                                                    <strong>朋悦假期</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="20995" data-index="7" data-type="pb">
                                                    <strong>朋悦假期</strong> <i class="select_input"></i>
                                                </li>
                                                <li class="" data-key="20995" data-index="7" data-type="pb">
                                                    <strong>朋悦假期</strong> <i class="select_input"></i>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="rank_pop rankpop rightfilter" style="display:none;-webkit-transform: translateZ(0px);">
                                <p data-key="8" class="selected" data-type="s" data-flag="extra">
                                    综合排序
                                    <i class="animate_select" data-key="8"></i>
                                </p>
                                <p data-key="2" class="" data-type="s" data-flag="extra">
                                    近期销量最高
                                    <i class="" data-key="2"></i>
                                </p>
                                <p data-key="4" class="" data-type="s" data-flag="extra">
                                    产品评分最高
                                    <i class="" data-key="4"></i>
                                </p>
                                <p data-key="6" class="" data-type="s" data-flag="extra">
                                    价格从高到低
                                    <i class="" data-key="6"></i>
                                </p>
                                <p data-key="5" class="" data-type="s" data-flag="extra">
                                    价格从低到高
                                    <i class="" data-key="5"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="calendarMask" class="list_popup_warp" style="height: 1000px; display: none;"></div>
                    <div class="calendar_wrapper sdp_calendar_wrapper" style="display:none"></div>
                </div>
                <!--
                                <div class="tour_footer_btn">
                                    <a class="tour_foot_print text_lin3" href="###">浏览历史</a>
                                    <a class="tour_foot_print text_lin4" href="###" style="display: none;"></a>
                                    <a class="tour_foot_contrast js_go_compare" href="javascript:void(0);" style="display: none;">比
                                        <i>0</i>
                                    </a>
                                </div>
                -->
            </div>
        </div>
        <div class="main-state"></div>
    </div>
</div>
<style>
    .tour_pop_type a{
        float: left;
        /*width: 65px;*/
        margin-right: 10px;
        padding: 2px 2px;
        margin-bottom: 1px;
        text-align: center;
        border-radius: 4px;
        /*height: 40px;*/
        line-height: 16px;
        font-size: 12px;
        position: relative;
        box-sizing: border-box;
        color: #333;
    }
    /*.tour_pop_type span{*/
    /*display: block;*/
    /*}*/
    .tour_pop_type .price {
        font-size: 12px;
        margin-top: -2px;
        color: #f90;
        font-weight: normal;
    }
    .tour_pop_type a:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border: #ccc 1px solid;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        width: 200%;
        height: 200%;
        border-radius: 6px;
        box-sizing: border-box;
    }
    .tour_list li {
        padding: 0;
        border: 0 none;
    }
    .tour_list li img{
        width: 100%;
    }
</style>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<script>
    $(function(){
        //收藏显示
        $('.tour_list').on('click','.tour_pop',function () {
            $(this).siblings('.tour_pop_box').show();
            return false;
        })
        // 收藏隐藏
            .on('click','.tour_close',function () {
                $(this).parents('.tour_pop_box').hide();
                return false;
            })
            // 收藏操作
            .on('click','.tour_collect',function () {
                if($(this).is('.cur')){
                    $(this).removeClass('cur').text('收藏');
                }else {
                    $(this).addClass('cur').text('已收藏');
                }
                return false;
            })
        var pop_index = 0,filter_pop=$('.filter_pop_wrap'),filters = $('#filtersSub>div');
        $('#searchFilterTabs li:not(3)').on('click',function () {
            filter_pop.show();
            pop_index = $(this).index();
            filters.eq(pop_index).show(200);
        });
//        初始值

        filters.eq(0).find('.left_column li').on('click',fi0);
        fi0();
        function fi0() {
            var f1_type = $(this).data('type') || '' || 'l';
            filters.eq(0).find('.left_column li[data-type="'+f1_type+'"]')
                .addClass('current').siblings().removeClass('current');
            filters.eq(0).find('.right_column>div[data-type="'+f1_type+'"]')
                .show().siblings().hide();
        }
        filters.eq(0).find('.right_column>div[data-type="l"]').on('click',function () {

        })
        $('.list_timedays .playgo_list li').on('click',fi1);
        var days = 3,date='';
        fi1();
        function fi1() {
            var type = $(this).data('type');
            if(type == 'u'){
                days = $(this).data('key');
            }else if(type == 'dd'){
                date = $(this).data('key');
            }
            $('.list_timedays .playgo_list li[data-type="u"][data-key="'+days+'"]')
                .addClass('selected').siblings().removeClass('selected');
            $('.list_timedays .playgo_list li[data-type="dd"][data-key="'+date+'"]')
                .addClass('selected').siblings().removeClass('selected');
        }
        //补0函数
        function digit(num) {
            return num < 10 ? "0" + (num | 0) :num;
        }
        var newDate = new Date(),
            toTime = [ newDate.getFullYear(), newDate.getMonth() + 1, newDate.getDate(), newDate.getHours(), newDate.getMinutes(), newDate.getSeconds() ],
            maxNewDate = new Date(toTime[0],toTime[1],toTime[2]+30),
            toMTime = [ maxNewDate.getFullYear(), maxNewDate.getMonth() + 1, maxNewDate.getDate(), maxNewDate.getHours(), maxNewDate.getMinutes(), maxNewDate.getSeconds() ],
            minDate = toTime[0] + '-' + digit(toTime[1]) + '-' + toTime[2],
//            maxDate = toTime[0] + '-' + digit(toTime[1]) + '-' + toTime[2],
            maxDate = toMTime[0] + '-' + digit(toMTime[1]) + '-' + toMTime[2];
        $.jeDate("#ea",{
            format:"YYYY-MM-DD",
            isTime:false,
            minDate:minDate,
            maxDate:maxDate,
            zIndex:999999999
        })
        $.jeDate("#fa",{
            format:"YYYY-MM-DD",
            isTime:false,
            minDate:minDate,
            maxDate:maxDate,
            zIndex:999999999
        });
        filters.eq(2).find('.left_column li').on('click',fi3);
        fi3();
        function fi3() {
            var f1_type = $(this).data('type') || '' || 'l';
            filters.eq(2).find('.left_column li[data-type="'+f1_type+'"]')
                .addClass('current').siblings().removeClass('current');
            filters.eq(2).find('.right_column>div[data-type="'+f1_type+'"]')
                .show().siblings().hide();
        }
        filters.eq(2).find('.right_column>div ul li').on('click',function () {
            if(!$(this).index()){
                $(this).addClass('selected').siblings().removeClass('selected');
            }else {
                if($(this).is('.selected')){
                    $(this).removeClass('selected');
                    console.log($(this).siblings('.selected').length);
                    if($(this).siblings('.selected').length == 0){
                        $(this).siblings().eq(0).addClass('selected');
                    }
                }else {
                    $(this).siblings().eq(0).removeClass('selected');
                    $(this).addClass('selected')
                }
            }
//            $(this).addClass('selected').siblings().removeClass('selected');
        });
        $('.filter_option .filter_option_content li').on('click',function () {
            if($(this).is('.selected')){
                $(this).removeClass('selected');
            }else {
                $(this).addClass('selected')
            }

        });
        $('#ctm_vacation_list_tab_all_go').on('click',search);
        function search() {
            var lines = $('.list_timedays .playgo_list li[class="selected"]').data('key'),
                after = '';
        }
        $('#ctm_tour_grouptravel_deleteall').on('click',function () {
            filter_pop.hide();
            filters.eq(pop_index).hide(200);
        });
        // 跳转详情链接
        $('.tour_list').on('click','li',function () {
            var pinfo = $(this).data('pinfo');
            var pinfoa = pinfos(pinfo);
            location.href = "{:url('Index/details')}"+'?' + pinfo;
            console.log(pinfoa);
        });
        function pinfos(info) {
            var temps = {},
                obj = {};
            temps = info.split('&');
            for (var key in temps){
                var temp = temps[key].split('=');
                obj[temp[0]] = temp[1];
            }
            return obj;
        }
        // 异步分页获取行程
        $(document).on('scroll',ajax_trips);
        var body_height = $('body').height();
        var win_height = window.screen.height,page = 1 ;
        var datas = "{$where??'x'}";
        function ajax_trips() {
            var scroll = $(this).scrollTop();
            body_height = $('body').height();

            if(scroll >= body_height-win_height){
                get_trip();
            }
        }
        get_trip();
        function get_trip() {
            datas  += "&page="+page++;
            $.ajax({
                url:'{:url("Index/ajax_poster")}',
                type:'GET',
                async:false,
                data:datas,
                dataType:'html',
                //请求前
                beforeSend:function () {
                    $('.base_loading').show();
                },
                //请求错误
                error:function(){
                    $('.base_loading').show();
                },
                //请求成功
                success:function (html) {
                    console.log(html);
//                    alert(html);
                    $('.base_loading').hide();
                    html = eval('('+html+')');
                    if(!html){
                        $('.tour_no_more').show();
                        $(document).unbind('scroll');
                    }
                    $('.tour_list').append(html);
                },
            });
        }
        $('.search_destination_search').on('click',function () {
            location.href = '{:url("Index/search")}';
        });
        $('.singletab').on('click',function () {
            $(this).addClass('on cur').siblings().removeClass('on cur');
            var otype = $(this).data('type');
            datas += '&otype='+otype;
            $('.tour_list').html('');
            page=1;
            $(document).unbind('scroll').on('scroll',ajax_trips);
            get_trip();
        });
    })
</script>