{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>关键字搜索</h1>
</header>
<div style="height:1rem;"></div>
<!--slide-->

<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1497604864222" data-view-name="advance_search">
                <div class="body nofoot advance_search_destination_section">
                    <div id="destionationSearch" class="search_header" style="margin-top: 50px;">
                        <div class="search_wrap2">
                            <div class="search_p">
                                <form action="#vacationslist">
                                    <div class="search_box2">
                                        <input type="text" class="search_text nofastclick" placeholder="目的地、主题或关键词">
                                        <a href="javascript:;" class="clear_input2"></a>
                                        <a href="javascript:;" class="dest_search2 dest_search_btn2">确定</a>
                                    </div>
                                    <a href="javascript:;" class="cancel">取消</a>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
                {if condition="$userinfo.id eq '16'"}

                <div class="search_content advance_search_destination_section dest_search_btn2">
                    <ul class="search_history seahistory" style="">
                        <li>
                            <span class="dest_search2 ">行程搜索</span>
                            <span class="dest_search1 ">海报单页搜索</span>
                        </li>
                    </ul>
                </div>
                {/if}

            </div>
        </div>
        <div class="main-state"></div>
    </div>
</div>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<script>
    $(function(){
        $('.clear_input2,.dest_search_btn2').addClass('hidden');
        $('.search_text').on('keyup',function(){
            if($(this).val()){
                $('.clear_input2,.dest_search_btn2').removeClass('hidden');
            }else {
                $('.clear_input2,.dest_search_btn2').addClass('hidden');
            }
        });
        $('.dest_search2').on('click',function () {
            var search = $('.search_text').val();
            location.href = "{:url('Index/trip_list')}?keyword="+search ;
        });
        $('.dest_search1').on('click',function () {
            var search = $('.search_text').val();
            location.href = "{:url('Index/poster')}?keyword="+search ;
        });
        $('.clear_input2').on('click',function () {
            $('.search_text').val('');
            $('.clear_input2,.dest_search_btn2').addClass('hidden');
        });
    });
</script>