{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div  class="form-horizontal form-stripe">
                                        {if condition='$bill.otype eq "1"'}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">订单号</label>
                                            <div class="col-sm-6">
                                                {$bill.order.onumber ?? ''}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">行程信息</label>
                                            <div class="col-sm-6">
                                                <div class="form-control bg-success h">行程编号：{$bill.order.tid}</div>
                                                <div class="form-control bg-success h">行程标题：{$bill.order.title}</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">出发日期</label>
                                            <div class="col-sm-6">
                                                {$bill.order.outtime | date="Y-m-d" ,###}
                                            </div>
                                        </div>
                                        {if condition="$bill.order.offer_type eq '2'"}
                                        {php}$pos= explode(',',$bill['order']['peoples']);{/php}
                                        {volist name="$bill.order.offer" id="o" key='k'}

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{$o.kind}</label>
                                            <div class="col-sm-6">
                                                数量：{$pos[$k-1] ?? '0'} | 市场价：{$o.market} | 结算价：{$o.balance} | 抽成：{php}echo ($o['balance'] - take_m($o['balance'],getCache('take')['m_take']));{/php}
                                                <!--数量：{$order.man ?? '0'} | 单价：{$offer.adult}-->
                                            </div>
                                        </div>
                                        {/volist}
                                        {else /}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">成人</label>
                                            <div class="col-sm-6">
                                                数量：{$bill.order.man ?? '0'} | 市场价：{$bill.order.offer.adult}/结算价：{$bill.order.offer.adult_balance}/抽成：{php}echo ($bill['order']['offer']['adult_balance'] - take_m($bill['order']['offer']['adult_balance'],getCache('take')['m_take']));{/php}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">儿童</label>
                                            <div class="col-sm-6">
                                                数量：{$bill.order.child ?? '0'} | 市场价：{$bill.order.offer.children}/结算价：{$bill.order.offer.children_balance}/抽成：{php} echo ($bill['order']['offer']['children_balance'] - take_m($bill['order']['offer']['children_balance'],getCache('take')['m_take']));{/php}
                                            </div>
                                        </div>
                                        {/if}

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">支付状态</label>
                                            <div class="col-sm-6">
                                                {:pay_status($bill.order.pay_status)}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">支付时间</label>
                                            <div class="col-sm-6">
                                                {$bill.order.paytime | date="Y-m-d H:i:s",###}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">确认状态</label>
                                            <div class="col-sm-6">
                                                <select name="confirm" id="confirm" class="form-control">
                                                    <option value="1">待确认</option>
                                                    <option value="2">已确认</option>
                                                    <option value="3">拒绝</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sumprice" class="col-sm-3 control-label">订单总金额</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="sumprice" name="sumprice" required value="{$bill.mer_give ?? '0'}">
                                            </div>
                                        </div>
                                        <!--<div class="form-group">
                                            <label class="col-sm-3 control-label">保险购买</label>
                                            <div class="col-sm-6">
                                                {volist name="safes" id="safe"}
                                                <div class="form-control bg-success h">保险编号：{$safe.key} | 保险名：{$safe.title} | 价钱：{$safe.price}</div>
                                                {/volist}
                                            </div>
                                        </div>-->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">出游人信息</label>
                                            <div class="col-sm-6">
                                                {volist name="bill.order.travels" id="travel"}
                                                <div class="form-control bg-success h">
                                                    姓名：{$travel.name} |
                                                    {volist name="$travel.pass" id="pass"}
                                                    {$pass.paper_name}：{$pass.idnumber} |
                                                    {/volist}
                                                    电话：{$travel.china_phone}
                                                </div>
                                                {/volist}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">联系人信息</label>
                                            <div class="col-sm-6">
                                                <div class="form-control bg-success h">姓名：{$bill.order.contact_name}</div>
                                                <div class="form-control bg-success h">电话：{$bill.order.contact_phone}</div>
                                                <div class="form-control bg-success h">邮箱：{$bill.order.contact_email}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {/if}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .h{
        height: auto;
    }
</style>
{include file="base/artlog_footer"}
<script>
    $(function(){
        var confirm = "{$bill.order.confirm ?? '0'}";
        $('#confirm').val(confirm);
        var pay_status = '{$bill.order.pay_status ?? ""}';
        $('#confirm').attr('disabled','disabled');
    });
</script>