{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">商城管理</a></li>
                <li><a>商户管理</a></li>
                <li><a>个人资料</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form  class="form-horizontal form-stripe" action="{:url('Merchant/edit')}" id="formq" method="post">
                                <input type="hidden" name="act" value="{$act??'update'}">
                                <div class="form-group">
                                    <label for="account" class="col-sm-3 control-label">商户账号<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="account" name="account"  placeholder="请输入商户账号" class="form-control" value="{$merchant.account ?? ''}" required />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passwd" class="col-sm-3 control-label">商户密码<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="password" id="passwd" name="passwd" placeholder="请输入商户密码" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">商户名称<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="name" name="name" required placeholder="商户公司名" class="form-control" value="{$merchant.name ?? ''}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="col-sm-3 control-label">联系电话<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="phone" name="phone" required placeholder="商户联系电话" class="form-control" value="{$merchant.phone ?? ''}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">联系邮箱<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="email" name="email" validate="required email" placeholder="联系邮箱" class="form-control" value="{$merchant.email ?? ''}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">所在区域<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" required name="province" id="province"></select>
                                        <select class="form-control" required name="city" id="city"></select>
                                        <select class="form-control" required name="county" id="county"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="base/form_footer" /}
<script>
    $(function(){
        new PCAS('province','city','county', "{$merchant.province ?? ''}","{$merchant.city ?? ''}","{$merchant.county ?? ''}"); //地址
        $('#expire').click(function () {
            $(this).prop('readonly',true);
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})
        }); //时间插件
        $("#formq").validate(); //表单验证
        $('[name="status"]').val("{$merchant.status ?? ''}");
        $('input[name="auth"][value="{$merchant.auth ?? ''}"]').prop('checked',true);
        $('input[name="sign"][value="{$merchant.sign ?? ''}"]').prop('checked',true);
        {$code == '1' ? 'var win = art.dialog.open.origin;win.location.reload();':''}
        $('#account').attr('readonly',true);
    });
</script>