{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-paper-plane" aria-hidden="true"></i><a href="#">问价</a></li>
                <li><a>问价列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-6 col-md-4">
            <h4 class="section-subtitle"><b>业务员</b> 发布的问价</h4>
            <div class="panel">
                <div class="panel-content">
                    <div class="widget-list list-left-element">
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="publishs">
                                    {volist name="publishs" id="publish"}
                                    <li>
                                        {php}
                                        $times = time() - strtotime( date('Y-m-d H:i:s',$publish['addtime']). ' +12 hour');
                                        {/php}
                                        <a href="javascript:void (0);"{if condition=" $times < 0"} class="msg"{/if} data-uid="{$publish.uid}">
                                            <div class="left-element">
                                                <img alt="{$publish.nickname}" src="{$publish.headimg}" />
                                            </div>
                                            <div class="text">
                                                <span class="title">{$publish.nickname}

                                                </span>
                                                <span class="subtitle">{$publish.content}</span>
                                                <span>:{:gettime(time(),date('Y-m-d H:i:s',strtotime( date('Y-m-d H:i:s',$publish.addtime). ' +12 hour'))) }</span>
                                            </div>
                                        </a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">
                                    {$page ?? ''}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-8">
            <div class="row fixed-chat">
                <div class="col-md-12">
                    <!--<div class="timeline">
                        <div class="timeline-box">
                            <div class="chat-icon bg-primary">
                                <img src="/static/index/images/icon/DefaultAvatar.jpg" alt="">

                            </div>
                            <div class="chat-content">
                                <h4 class="tl-title">纯简</h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio illo impedit iusto minima nisi quo tempora ut!
                            </div>
                            <div class="chat-footer">
                                <span>Today. 14:25</span>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="button-addon" placeholder="说点什么吧...">
                        <span class="input-group-btn" id="send_msg">
                            <button class="btn btn-primary" type="button">发送</button>
                        </span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="section-subtitle pt-xl"><b>业务员</b> 联系列表</h4>
                    <div class="panel">
                        <div class="panel-content">
                            <div class="widget-list list-left-element list-sm">
                                <ul id="message">
                                    {volist name="messages" id="message"}
                                    <li>
                                        <a href="javascript:void (0);" data-uid="{$message.uid}">
                                            <div class="left-element">
                                                <img alt="{$message.nickname}" src="{$message.headimg}">
                                            </div>
                                            <div class="text">
                                                <span class="title">{$message.nickname}</span>
                                                <span class="subtitle">{$message.message}</span>
                                            </div>
                                        </a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="base/footer" /}
<script>
    $(function () {
        var merchan = '{:json_encode(empty($merchan)?"":$merchan)}';
        var merchant = eval('('+merchan+')');
        var user = {},
            fixed_chat = $('.fixed-chat'),
            ws ,
            page = 1,
            scoll_height = 0;
        $('#send_msg').on('click',send_msg);
        fixed_chat.on('scroll',function () {
            var scroll = $(this).scrollTop()
            if(scroll == 0){
                scoll_height = 0;
                var is = $(this).find('.timeline').eq(0);
                init_msg(is);
            }
        });
        $('#publishs li a.msg,#message li a').on('click',choice_contact);
        // 选择要聊天的用户
        function choice_contact() {
            var uid = $(this).data('uid');
            page = 1;
            $.get('{:url("Ask/ajax_user")}',{uid:uid},function (data) {
                user = eval('('+data+')');
                fixed_chat.children('.col-md-12').html('');
                var is = false;
                init_msg(is);
            });
        }
        // 消息初始化
        function init_msg(is) {
            var datas = {uid:user.id,mid:merchant.id,page:page};
            console.log(datas);
            $.post("{:url('Ask/ajax_messages')}",datas,function (messages) {
                messages = eval('('+messages+')');
                console.log(messages);
                for (var m in messages){
                    view_msg(messages[m],is);
                }
                page ++ ;
            });
        }
        // 连接socket
        socket_link();
        function socket_link() {
            ws = new WebSocket("ws://wenwen.xhmlxw.com:2346");
            // 建立连接回调
            ws.onopen = function() {
                var t = {mid:merchant.id,direction:'2',open:true};
                t = JSON.stringify(t);
                ws.send(t);
            };
            // 检测消息回调
            ws.onmessage = function(e) {
                var msg = eval('('+e.data+')');
                if(msg.code && msg.code == '1'){
                    return false;
                }
                if(msg.uid != user.id){
                    //不是选中用户发来的消息
                    return ;
                }
                view_msg(msg);
            };
            // 连接关闭连接
            ws.onclose = function(event) {
                if(event.code == 1006){
                    socket_link();
                }
            };
        }
        //发送消息
        function send_msg() {
            var content = $('#button-addon').val();
            if(content == ''){return false}
            if(!user.id){
                alert('请选择您要聊天的对象');
                return ;
            }
            var msg = {mid:merchant.id,uid:user.id,direction:2,message:content};
            var t = JSON.stringify(msg);
            ws.send(t);
            view_msg(msg);
            $('#button-addon').val('');
        }
        // 消息视图
        function view_msg(msg,is) {
            var html = '',
                logo = '/static/index/images/icon/DefaultAvatar.jpg',
                name = '',
                tl = '';
            if(msg.direction == '1'){
                logo = user.headimg;
                name = user.nickname;
                tl = '';
            }else if(msg.direction == '2'){
                logo = merchant.logo;
                name = '我';
                tl = 'tl-right';
            }
            html = '<div class="timeline '+tl+'">'+
                '<div class="timeline-box">'+
                '<div class="bg-primary chat-icon" >'+
                '<img src="'+logo+'" alt="'+name+'">'+
                '</div>'+
                '<div class="chat-content">'+
                '<h4 class="tl-title">'+name+'</h4>' + msg.message +
                '</div>'+
                '</div>'+
                '</div>';
            var col_md = fixed_chat.children('.col-md-12')
            if(is){
                is.before(html)
                scoll_height += col_md.find('.timeline:first').height();
                fixed_chat.scrollTop(scoll_height);
            }else {
                col_md.append(html);
                fixed_chat.scrollTop(fixed_chat[0].scrollHeight);
            }
        }

    });
</script>