{include file="base/artlog_header"}
<!--

-->
<div class="wrap">
    <div class="page-body" style="padding: 0;">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#basicinfo" data-toggle="tab">选择身份</a>
                                            </li>
                                            <li><a href="#deta" data-toggle="tab">填写公司信息</a></li>
                                            <li><a href="#spec" data-toggle="tab">填写资质信息</a></li>
                                            <li><a href="#inte" data-toggle="tab">填写账户信息</a></li>
                                        </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="basicinfo">
                                                    <div class="form-horizontal form-stripe">

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">身份绑定<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" required name="identity" value="1" checked> 供应商
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">经营范围<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <label class="checkbox-inline">
                                                                    <input type="checkbox" id="manage" required name="manage[]" value="1"> 旅游线路
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input type="checkbox" required name="manage[]" value="2"> 在线商城
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input type="checkbox" required name="manage[]" value="3"> 旅游休闲卡
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input type="checkbox" required name="manage[]" value="4"> 景点门票
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="deta">
                                                    <div class="form-horizontal form-stripe">
                                                        <div class="form-group">
                                                            <label for="company_name" class="col-sm-3 control-label">公司名称<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="company_name" name="company_name" placeholder="请输入公司名称" class="form-control" required value="{$aptitude.company_name ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="company_product" class="col-sm-3 control-label">主营业务产品<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="company_product" name="company_product" placeholder="请输入业务名称 如：国内游" required class="form-control" value="{$aptitude.company_product ?? ''}" />

                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">公司地址<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control" required id="company_province" name="company_province"></select>
                                                                <select class="form-control" required id="company_city" name="company_city"></select>
                                                                <select class="form-control" required id="company_county" name="company_county"></select>
                                                                <input type="text" id="company_address" name="company_address" placeholder="请输入详细地址" class="form-control" required value="{$aptitude.company_address ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="company_tel" class="col-sm-3 control-label">总机/固定电话<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="company_tel" name="company_tel" placeholder="请输入包括区号的固定电话" class="form-control" required value="{$aptitude.company_tel ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="contacts_name" class="col-sm-3 control-label">联系人姓名<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="contacts_name" name="contacts_name" placeholder="请输入联系人姓名" class="form-control" required value="{$aptitude.contacts_name ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="contacts_phone" class="col-sm-3 control-label">联系人手机号码<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="contacts_phone" name="contacts_phone" placeholder="请输入联系人手机号码" class="form-control" required value="{$aptitude.contacts_phone ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="contacts_email" class="col-sm-3 control-label">联系人邮箱<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="contacts_email" name="contacts_email" placeholder="请输入联系人邮箱" class="form-control" required value="{$aptitude.contacts_email ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">联系人QQ</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="contacts_qq" name="contacts_qq" placeholder="请输入联系人QQ" class="form-control" value="{$aptitude.contacts_qq ?? ''}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="spec">
                                                    <div class="form-horizontal form-stripe">
                                                        <div class="form-group">
                                                            <label for="company_name" class="col-sm-3 control-label">是否为分公司<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" name="isbranch" required value="1" checked> 是
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" name="isbranch" required value="0"> 否
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="company_product" class="col-sm-3 control-label">营业执照<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" required name="business_licence_type" value="1" checked> 旧版三证
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" required name="business_licence_type" value="2" > 新版三证合一
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" required name="business_licence_type" value="3" > 特殊合作
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="business_licence_no" class="col-sm-3 control-label">营业执照号</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="business_licence_no" name="business_licence_no" placeholder="请输入营业执照号" class="form-control" required value="{$aptitude.business_licence_no ?? ''}" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="upfiles">
                                                                    <a href="{$aptitude.business_licence_file ?? ''}" target="_blank"><img src="{:img_url($aptitude.business_licence_file,200,200)}" alt="图片" title="{$aptitude.business_licence_file ?? ''}" height="42">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">营业执照有效期</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" required id="business_licence_start" name="business_licence_start" placeholder="营业起始时间" class="form-control" value="{$aptitude.business_licence_start ? date('Y-m-d',$aptitude.business_licence_start) : '' }" />
                                                                <input type="text" id="business_licence_end" name="business_licence_end" placeholder="营业有效时间" class="form-control" required value="{$aptitude.business_licence_end ? date('Y-m-d',$aptitude.business_licence_end) : '' }" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="business_certificate_no" class="col-sm-3 control-label">经营许可证</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="business_certificate_no" name="business_certificate_no" placeholder="请输入经营许可证号码" class="form-control" required value="{$aptitude.business_certificate_no ?? ''}" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="upfiles">
                                                                    <a href="{$aptitude.business_certificate_file ?? ''}" target="_blank"><img src="{:img_url($aptitude.business_certificate_file,200,200)}" alt="图片" title="{$aptitude.business_certificate_file ?? ''}" height="42">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tax_no" class="col-sm-3 control-label">税务登记证</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="tax_no" name="tax_no" placeholder="请输入税务登记证号" class="form-control" required value="{$aptitude.tax_no ?? ''}" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="upfiles">
                                                                    <a href="{$aptitude.tax_file ?? ''}" target="_blank"><img src="{:img_url($aptitude.tax_file,200,200)}" alt="图片" title="{$aptitude.tax_file ?? ''}" height="42">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--<div class="form-group">
                                                            <label for="put_no" class="col-sm-3 control-label">备案登记证<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="put_no" name="put_no" placeholder="请输入备案登记证号" class="form-control" required value="{$aptitude.put_no ?? ''}" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="upfiles">
                                                                    <a href="{$aptitude.put_file ?? ''}" target="_blank"><img src="{$aptitude.put_file ?? ''}" alt="图片" title="{$aptitude.put_file ?? ''}" height="42">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                        <div class="form-group">
                                                            <label for="policy_no" class="col-sm-3 control-label">责任保险单<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="policy_no" name="policy_no" placeholder="请输入责任保险单号" class="form-control" required value="{$aptitude.policy_no ?? ''}" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="upfiles">
                                                                    <a href="{$aptitude.policy_file ?? ''}" target="_blank"><img src="{:img_url($aptitude.policy_file,200,200)}" alt="图片" title="{$aptitude.policy_file ?? ''}" height="42">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">责任保险单有效期</label>
                                                            <div class="col-sm-6">
                                                                <input type="text"  id="policy_start" name="policy_start" placeholder="起始时间" required class="form-control" value="{$aptitude.policy_start ? date('Y-m-d',$aptitude.policy_start) : '' }" />
                                                                <input type="text" id="policy_end" name="policy_end" placeholder="有效时间" class="form-control" required value="{$aptitude.policy_end ? date('Y-m-d',$aptitude.policy_end) : '' }" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">运营人员证件号码</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="operator_no" name="operator_no" placeholder="请输入运营人员证件号码" class="form-control" required value="{$aptitude.operator_no ?? ''}" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <span>
                                                                    <div class="upfiles">
                                                                    <a href="{$aptitude.operator_just ?? ''}" target="_blank"><img src="{:img_url($aptitude.operator_just,200,200)}" alt="图片" title="{$aptitude.operator_just ?? ''}" height="42">
                                                                    </a>
                                                                    </div>
                                                                </span>
                                                                <span>
                                                                    <div class="upfiles">
                                                                    <a href="{$aptitude.operator_back ?? ''}" target="_blank"><img src="{:img_url($aptitude.operator_back,200,200)}" alt="图片" title="{$aptitude.operator_back ?? ''}" height="42">
                                                                    </a>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">说明</label>
                                                            <div class="col-sm-6">
                                                                <textarea name="explain" required placeholder="说明内容" class="form-control" id="explain">{$aptitude.explain ?? ''}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="inte">
                                                    <div class="form-horizontal form-stripe">

                                                        <div class="form-group">
                                                            <label for="open_bank" class="col-sm-3 control-label">开户银行<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="open_bank" name="open_bank"  placeholder="开户银行，精确到支行名称" class="form-control" required value="{$aptitude.open_bank ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="open_adderss" class="col-sm-3 control-label">开户地址<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="open_adderss" name="open_adderss"  placeholder="开户行地址，精确到支行XX路XX号" class="form-control" required value="{$aptitude.open_adderss ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <!--<div class="form-group">
                                                            <label for="open_no" class="col-sm-3 control-label">开户行行号<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="open_no" name="open_no"  placeholder="12位数字的开户行号请拨打相应银行客服电话落实" class="form-control" required value="{$aptitude.open_no ?? ''}" />
                                                            </div>
                                                        </div>-->
                                                        <div class="form-group">
                                                            <label for="house_name" class="col-sm-3 control-label">户名<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="house_name" name="house_name"  placeholder="请输入户名" class="form-control" required value="{$aptitude.house_name ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="house_no" class="col-sm-3 control-label">账号<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="house_no" name="house_no"  placeholder="请输入账号" class="form-control" required value="{$aptitude.house_no ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <!--<div class="form-group">
                                                            <label class="col-sm-3 control-label">税务信息<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" name="tax_type" value="1" checked> 一般纳税人
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" name="tax_type" value="2" checked> 小规模纳税人
                                                                </label>                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tax_register" class="col-sm-3 control-label">登记号<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="tax_register" name="tax_register"  placeholder="请输入登记号" class="form-control" required value="{$aptitude.tax_register ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tax_name" class="col-sm-3 control-label">纳税人名称<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="tax_name" name="tax_name"  placeholder="请输入纳税人名称" class="form-control" required value="{$aptitude.tax_register ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tax_address" class="col-sm-3 control-label">登记地址<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="tax_address" name="tax_address"  placeholder="请输入登记地址" class="form-control" required value="{$aptitude.tax_address ?? ''}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tax_tel" class="col-sm-3 control-label">登记电话<span class="required">*</span></label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="tax_tel" name="tax_tel"  placeholder="请输入登记电话" class="form-control" required value="{$aptitude.tax_tel ?? ''}" />
                                                            </div>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        <form class="" action="{:url('Merchant/merchant_edit')}" id="merchant_edit" method="post">
                                            <input type="hidden" name="mid" value="{:input('id')}">
                                            <div class="form-horizontal form-stripe">
                                                <div class="form-group" style="display: none">
                                                    <label class="col-sm-3 control-label">审核状态</label>
                                                    <div class="col-sm-6">
                                                        <select name="status" id="status" class="form-control" >
                                                            <option value="">审核状态</option>
                                                            <option value="0">注册未提交材料</option>
                                                            <option value="1">未审核</option>
                                                            <option value="2">通过</option>
                                                            <option value="3">不通过</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-3 col-sm-9">
                                                        <button type="button" class="btn btn-primary" id="submit">下一步</button>
                                                        <button type="submit" class="btn btn-primary" id="baocun" style="display: none;">保存</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}
{load file="__PCAS__PCASClass.js"/}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
{load file="__PUBLIC__jedate/jquery.jedate.min.js" /}
{load file="__PUBLIC__My97DatePicker/WdatePicker.js"}
<script>
    $(function () {
        $('[name="identity"][value="{$aptitude.identity ?? '1'}"]').prop('checked',true);
        $('[name="business_licence_type"][value="{$aptitude.business_licence_type ?? '1'}"]').prop('checked',true);
        $('[name="isbranch"][value="{$aptitude.isbranch ?? '1'}"]').prop('checked',true);
        licence_type_change();
        $('[name="tax_type"][value="{$aptitude.tax_type ?? '1'}"]').prop('checked',true);
        $('[name="status"]').val('{$status ?? ""}');
        tax_type();
        var manage = "{$aptitude.manage??''}",temps =new Array();
        temps = manage.split(',');
        for (var i in temps){
            $('[name="manage[]"][value="'+temps[i]+'"]').prop('checked',true);
        }
        // 地址
        new PCAS('company_province','company_city','company_county',"{$aptitude.company_province ?? ''}","{$aptitude.company_city ?? ''}","{$aptitude.company_county ?? ''}");
        $('#business_licence_start,#business_licence_end,#policy_start,#policy_end').on('focus',function () {
            WdatePicker({isShowWeek:true});
        });
        $('.nav-tabs li').on('click',function () {
                setTimeout(active_change,200);
        });
        $('#submit').on('click',function () {

                var active_next = $('.nav-tabs li.active').next();
                var href = active_next.find('a').attr('href');
                active_next.addClass('active').siblings().removeClass('active');
                $(href).addClass('in active').siblings().removeClass('in active');
            active_change();
        });
        $('#baocun').on('click',function () {
            $('#merchant_edit').submit();
        })
        function active_change() {
            var active_next = $('.nav-tabs li.active');
            var href = active_next.find('a').attr('href');
            if(href == '#inte'){
                $('#status').parents('.form-group').show()
                $('#submit').hide();
                $('#baocun').show();
            }else {
                $('#status').parents('.form-group').hide()
                $('#submit').show();
                $('#baocun').hide();
            }
        }
        $('[name="business_licence_type"]').on('change',licence_type_change);
        $('[name="isbranch"]').on('change',isbranch_change);
        $('[name="tax_type"]').on('change',tax_type);
        function licence_type_change() {
            var val = $('[name="business_licence_type"]:checked').val();
            if(val == '1'){
                $('#business_licence_no , #business_licence_start, #business_licence_end , #business_certificate_no, #put_no,#policy_no,#policy_start,#policy_end,#tax_no').parents('.form-group').show();
                $('#explain').parents('.form-group').hide();
                isbranch_change();
            }else if(val == '2'){
                $('#business_licence_no , #business_licence_start, #business_licence_end , #business_certificate_no, #put_no,#policy_no,#policy_start,#policy_end').parents('.form-group').show();
                $('#tax_no , #explain').parents('.form-group').hide();
                isbranch_change();
            }else if(val == '3'){
                $('#business_licence_no , #business_licence_start, #business_licence_end , #business_certificate_no, #put_no,#policy_no,#policy_start,#policy_end,#tax_no').parents('.form-group').hide();
                $('#explain').parents('.form-group').show();
            }
        }
        function isbranch_change() {
            if($('[name="business_licence_type"]:checked').val() == '3'){
                return ;
            }
            var val = $('[name="isbranch"]:checked').val();
            if(val == '0'){
                $('#put_no').parents('.form-group').hide();
            }else if(val == '1'){
                $('#put_no').parents('.form-group').show();
            }
        }
        function tax_type() {
            var val = $('[name="tax_type"]:checked').val();
            if(val == '1'){
                $('#tax_name,#tax_address,#tax_tel').parents('.form-group').show();
            }else if(val == '2'){
                $('#tax_name,#tax_address,#tax_tel').parents('.form-group').hide();
            }
        }

    })
</script>