{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">商城管理</a></li>
                <li><a>商户管理</a></li>
                <li><a>商户添加（修改）</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form  class="form-horizontal form-stripe" action="{:url('Merchant/merchantedit')}" id="formq" method="post">
                                <input type="hidden" name="id" value="{$id??''}">
                                <input type="hidden" name="act" value="{$act??'add'}">
                                <div class="form-group">
                                    <label for="account" class="col-sm-3 control-label">商户账号<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="account" name="account"  placeholder="请输入商户账号" class="form-control" value="{$merchant.account ?? ''}" required />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passwd" class="col-sm-3 control-label">商户密码<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="password" id="passwd" name="passwd" placeholder="请输入商户密码" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">商户名称<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="name" name="name" required placeholder="商户公司名" class="form-control" value="{$merchant.name ?? ''}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="col-sm-3 control-label">联系电话<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="phone" name="phone" required placeholder="商户联系电话" class="form-control" value="{$merchant.phone ?? ''}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">联系邮箱<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="email" name="email" validate="required email" placeholder="联系邮箱" class="form-control" value="{$merchant.email ?? ''}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">所在区域</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="province" id="province"></select>
                                        <select class="form-control" name="city" id="city"></select>
                                        <select class="form-control" name="county" id="county"></select>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label for="expire" class="col-sm-3 control-label">到期时间</label>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<input type="text" id="expire" name="expire" validate="required" placeholder="到期时间" class="form-control" required value="{$merchant.expire ? date('Y-m-d H:i:s',$merchant.expire) :''}" />-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">商户状态</label>
                                    <div class="col-sm-6">
                                        <select name="status" id="status" class="form-control" >
                                            <option value="">审核状态</option>
                                            <option value="0">注册未提交材料</option>
                                            <option value="1">未审核</option>
                                            <option value="2">通过</option>
                                            <option value="3">不通过</option>
                                        </select>

                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">认证商家</label>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<label class="radio-inline">-->
                                            <!--<input type="radio" name="auth" id="auth1" checked value="0">否-->
                                        <!--</label>-->
                                        <!--<label class="radio-inline">-->
                                            <!--<input type="radio" name="auth" id="auth2" value="1">是-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">签约商家</label>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<label class="radio-inline">-->
                                            <!--<input type="radio" name="sign" id="sign1" checked value="0">否-->
                                        <!--</label>-->
                                        <!--<label class="radio-inline">-->
                                            <!--<input type="radio" name="sign" id="sign2" value="1">是-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="base/form_footer" /}
<script>
    $(function(){
        new PCAS('province','city','county', "{$merchant.province ?? ''}","{$merchant.city ?? ''}","{$merchant.county ?? ''}"); //地址
        $('#expire').click(function () {
            $(this).prop('readonly',true);
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})
        }); //时间插件
        $("#formq").validate(); //表单验证
        $('[name="status"]').val("{$merchant.status ?? ''}");
        $('input[name="auth"][value="{$merchant.auth ?? ''}"]').prop('checked',true);
        $('input[name="sign"][value="{$merchant.sign ?? ''}"]').prop('checked',true);
        {$code == '1' ? 'var win = art.dialog.open.origin;win.location.reload();':''}
        var account = "{$act ?? ''}";
        if(account == 'update'){
            $('#account').attr('readonly',true);
        }
    });
</script>