<div class="left-sidebar">
    <div class="left-sidebar-header">
        <div class="left-sidebar-title">导航</div>
        <div class="left-sidebar-toggle c-hamburger c-hamburger--htla hidden-xs" data-toggle-class="left-sidebar-collapsed" data-target="html">
            <span></span>
        </div>
    </div>
    <div id="left-nav" class="nano">
        <div class="nano-content">
            <nav>
                <ul class="nav" id="main-nav">
                    <li class="active-item sub-menu"><a href="{:url('Index/index')}"><i class="fa fa-home" aria-hidden="true"></i><span>首页</span></a></li>
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-server" aria-hidden="true"></i><span>基本信息</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('User/userlist')}">个人资料</a></li>
                        </ul>
                    </li>
                    {php}//$power = in {/php}
                    {//if condition="isArray()"}
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-cog" aria-hidden="true"></i><span>系统设置</span></a>

                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('Config/basic')}">基本配置</a></li>
                            <li><a href="{:url('Adver/index')}">广告管理</a></li>
                            <li><a href="{:url('Nav/index')}">导航管理</a></li>
                            <!--<li><a href="{:url('Op/op_list')}">操作员管理</a></li>-->
                        </ul>
                    </li>
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-user" aria-hidden="true"></i><span>用户管理</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('User/userlist')}">用户列表</a></li>
                            <li><a href="{:url('User/wait_audit')}">业务员申请</a></li>
                            <li><a href="{:url('User/wait_store')}">门店申请</a></li>
                            <li><a href="{:url('User/play')}">门店账单</a></li>
                        </ul>
                    </li>
                    <!--<li class="has-child-item close-item">
                        <a><i class="fa fa-institution" aria-hidden="true"></i><span>操作员管理</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('Op/op_list')}">操作员列表</a></li>
                        </ul>
                    </li>-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-institution" aria-hidden="true"></i><span>商户管理</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('Merchant/merchantlist')}">商户列表</a></li>
                            <li><a href="{:url('Merchant/drawings')}">商户提款</a></li>
                        </ul>
                    </li>
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-shopping-bag" aria-hidden="true"></i><span>商城管理</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('Goods/goodslist')}">商品列表</a></li>
                            <li><a href="{:url('Types/typeslist')}">商城分类</a></li>
                            <li><a href="{:url('Orders/orderslist')}">订单列表</a></li>
                            {php}/*
                            <li><a href="{:url('Comment/commentlist')}">评论列表</a></li>
                            */{/php}
                        </ul>
                    </li>
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-street-view" aria-hidden="true"></i><span>旅游管理</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('Tourism/orders')}">产品订单</a></li>
                            <li><a href="{:url('Tourism/pro_type')}">产品类型</a></li>
                            <li><a href="{:url('Tourism/destination')}">目的地</a></li>
                            <li><a href="{:url('Tourism/setout')}">出发地</a></li>
                            <li><a href="{:url('Tourism/line')}">线路</a></li>
                            <li><a href="{:url('Tourism/trip')}">行程</a></li>
                            <li><a href="{:url('Tourism/safe')}">旅游保险</a></li>
                            <li><a href="{:url('Tourism/contract')}">旅游合同</a></li>
                            <li><a href="{:url('Strategy/strategy_list')}">攻略列表</a></li>
                        </ul>
                    </li>
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-comments-o" aria-hidden="true"></i><span>问价</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('Ask/temp_type')}">问价模板类型</a></li>
                            {php}/*
                            <li><a href="{:url('Ask/list')}">问价列表</a></li>
                            */{/php}
                        </ul>
                    </li>

                    <li class="has-child-item close-item">
                        <a><i class="fa fa-credit-card-alt" aria-hidden="true"></i><span>旅游休闲卡</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('Arder/Arder_list')}">休闲卡列表</a></li>
                        </ul>
                    </li>
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-ticket" aria-hidden="true"></i><span>景点门票</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('Ticket/piao_list')}">门票列表</a></li>
                            <li><a href="{:url('Ticket/piao_order')}">门票订单</a></li>
                        </ul>
                    </li>
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-cc-visa" aria-hidden="true"></i><span>签证管理</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{:url('Visa/visa_order')}">签证订单</a></li>
                            <li><a href="{:url('Visa/visa_list')}">签证列表</a></li>
                            <li><a href="{:url('Visa/visa_data')}">签证资料</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>