{volist name="orders" id="order"}
{php}
$data = user_show($order['status'],$order['delivery_status'],$order['refund_status'],$order['id']);

{/php}
<li>
    <dl>
        <dt>
            <span>订单：{$order.onumber}</span>
            <span>{$data.info}</span>
        </dt>
        {volist name="$order.carts" id="cart"}
        <dd>
            <h2>{$cart.gname}</h2>
            <strong>
                <em>{$cart.price}</em>
                <span>{$cart.sum}</span>
            </strong>
        </dd>
        {/volist}
        <dd>
            <span>商品数量：<b>{$order.sum}</b></span>
            <span>实付：<b>{$order.sumprice}</b></span>
        </dd>
        {$data.desc}
    </dl>
</li>
{/volist}
{php}
function user_show($status,$delivery_status,$refund_status,$id){
    $data = ['info'=>'','desc'=>''];
    switch ($status){
        case '0':
            $data['info'] = '未下单';
            break;
        case '1':
            $data['info'] = '未支付';
            $data['desc'] = '<dd> <a class="order_delBtn" data-id="'.$id.'">删除订单</a> <a class="order_payBtn" data-id="'.$id.'">付款</a> </dd>';
            break;
        case '2':
                switch ($delivery_status){
                    case '0':
                        $data['info'] = '未支付';
                        $data['desc'] = '<dd> <a class="order_delBtn" data-id="'.$id.'">删除订单</a> <a class="order_delBtn" data-id="'.$id.'">付款</a> </dd>';
                        break;
                    case '1':
                        $data['info'] = '待发货';
                        $data['desc'] = '<dd><a class="order_details" data-id="'.$id.'">查看</a></dd>';
                        break;
                    case '2':
                        $data['info'] = '已发货';
                        $data['desc'] = '<dd>  <a class="order_details" data-id="'.$id.'">查看</a><a class="order_conBtn" data-id="'.$id.'">确认收货</a> </dd>';
                        break;
                    case '3':
                        $data['info'] = '已完成';
                        $data['desc'] = '<dd><a class="order_details" data-id="'.$id.'">查看</a></dd>';
                        break;
                    default:
                        $data['info'] = '异常';
                        $data['desc'] = '<dd><a class="order_details" data-id="'.$id.'">查看</a></dd>';
                        break;
                }
                switch ($refund_status){
                case '0':
                    break;
                case '1':
                    $data['info'] = '申请退款';
                    $data['desc'] = '<dd><a class="order_details" data-id="'.$id.'">查看</a></dd>';
                    break;
                case '2':
                $info = '<em style="color: #477e6a">同意退款</em>';
                break;
                case '3':
                $info = '<em style="color: #477e47">不同意退款</em>';
                break;
                default :
                $info = '<em style="color: #7e171d">异常</em>';
                }
            break;
        default :
            $data['info'] = '异常';
            $data['desc'] = '<dd><a class="order_details" data-id="'.$id.'">查看</a></dd>';
            break;
    }
    return $data;
}
{/php}