{include file="base/header" /}
<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>购物车</h1>
</header>
<div style="height:1rem;"></div>
<form action="{:url('Mall/confirm_order')}" method="get" id="confirm_order" name="confirm_order">
    <dl class="cart">
        <dt>
            <label><input type="checkbox" class="whole"  />全选</label>
            <a class="edit">编辑</a>
        </dt>
        {volist name="carts" id="cart"}
        <dd>
            <input type="checkbox" class="cartid" name="cartid[]" value="{$cart.id}" data-num="{$cart.sum}" data-price="{$cart.price}"/>
            <a href="{:url('Mall/product',['id'=>$cart.gid])}" class="goodsPic"><img src="{$cart.pic}"/></a>
            <div class="goodsInfor">
                <h2>
                    <a href="{:url('Mall/product',['id'=>$cart.gid])}">{$cart.gname}</a>
                    <span>{$cart.sum}</span>
                </h2>
                <div class="priceArea">
                    <strong>{$cart.price}</strong>
                    <del>{$cart.ordprice}</del>
                    <span>返：{$cart.ratio}%积分</span>
                    <!--<span>返：{:integral($cart.price,$cart.ratio)}%积分</span>-->
                </div>

                <div class="numberWidget" data-gid="{$cart.gid}">
                    <input type="button" value="-" class="minus"/>
                    <input type="text" value="{$cart.sum}" disabled  class="number"/>
                    <input type="button" value="+"  class="plus"/>
                </div>
            </div>
            <a class="delBtn" data-id="{$cart.id}">删除</a>
        </dd>
        {/volist}
    </dl>
</form>
<!--bottom nav-->
<div style="height:1rem;"></div>
<aside class="btmNav" style="margin-bottom: 50px;">
    <a>合计：￥<span class="sumprice">0</span></a>
    <a href="javascript:void(0);" class="liji" style="background:#64ab5b;color:white;text-shadow:none;">立即下单</a>
</aside>
{include file="base/footer" /}
<script>
    $(function(){
        //show or hide:delBtn
        $(".edit").toggle(function(){
            $(this).parent().siblings("dd").find(".delBtn").fadeIn();
            $(this).html("完成");
            $(".numberWidget").show();
            $(".priceArea").hide();
        },function(){
            $(this).parent().siblings("dd").find(".delBtn").fadeOut();
            $(this).html("编辑");
            $(".numberWidget").hide();
            $(".priceArea").show();
        });
        //minus
        $(".minus").bind('click',editnum);
        //plus
        $(".plus").bind('click',editnum);
        //delBtn
        $(".delBtn").click(function(){
            var delBtn = $(this);
            var id = delBtn.data('id');
            var data = {'id':id};

            $.get('{:url("Mall/ajax_del_cart")}',data,function (msg) {
                var data = eval('('+msg+')');
                if(data.code == 1){
                    delBtn.parent().remove();
                    nullTips();
                }else{
                    alert(data.info);
                }
            });

        });
        //全选
        $('.whole').change(whole);
        // 勾选
        $('.cartid').click(function () {
            var checks = $('.cartid:checked');
            var cartid = $('.cartid');
            var sumprice = 0;
            if(checks.length == cartid.length){
                $('.whole').prop('checked',true);
            }else {
                $('.whole').prop('checked',false);
            }
            checks.each(function () {
                var price = parseFloat($(this).data('price'));
                var num = parseInt($(this).data('num'));
                sumprice += price * num;
            });
            $('.sumprice').html(sumprice);
        });
        //立即下单
        $(".liji").click(function(){
            var checks = $('.cartid:checked');
            if(checks.length <= 0){
                alert('请选择您要购买的商品。');
                return false;
            }
            $('#confirm_order').submit();
        });
        nullTips();
        //isNull->tips
        function nullTips(){
            if($(".cart dd").length==0){
                var tipsCont="<mark style='display:block;background:none;text-align:center;color:grey;'>购物车为空！</mark>";
                $(".cart").remove();
                $("body").append(tipsCont);
            }
        }
        //全选
        function whole() {
            var cartid = $('.cartid');
            var sumprice = 0;
            if($(this).is(':checked')){
                cartid.prop('checked',true);
            }else {
                cartid.prop('checked',false);
            }
            cartid.each(function(){
                if($(this).is(':checked')){
                    var price = parseFloat($(this).data('price'));
                    var num = parseInt($(this).data('num'));
                    sumprice += price * num;
                }
            });
            $('.sumprice').html(sumprice);
        }

        //修改数量
        function editnum() {
            var gid = $(this).parent().data('gid');
            var action = $(this).val();
            var data = {"gid": gid,"action":action};
            var self = $(this);
            $.ajaxSetup({async: false});
            $.get('{:url("Mall/ajax_cart")}', data, function (data) {
                var data = eval('(' + data + ')');
                $(".hoverCart a").html(data.sum);
                if (data.code == 1) {
                    var currNum= self.siblings(".number");
                    if(data.sum==0){
                        self.parents("dd").remove();
                        nullTips();
                    }else{
                        currNum.val(data.sum);
                    }
                    return true;
                } else if (data.code == -1) {
                    location.href = data.url;
                }
                alert(data.info);
                return false;
            });
        }
    });

</script>