{include file="base/header" /}

<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>动态分类名称</h1>
    <a href="search.html" class="rt_searchIcon">&#37;</a>
</header>
<div style="height:1rem;"></div>
<!--category list-->
<!--模板不变，异步处理，链接传参数，静态写过于累赘-->
<aside class="class_tree">
    <ul>
        {volist name="types" id="type"}
        <li class="ptype" data-id="{$type.id}">
            <a>
                <img src="{$type.pic}"/>
                <strong>{$type.types}</strong>
            </a>
        </li>
        {/volist}
    </ul>
</aside>
<!--category content-->
<ul class="category_cont">
</ul>
{include file="base/footer" /}
<script>
    $(function(){
        var category = "{:input('id')?input('id'):$types.0.id}";
        chtypes(category);
        $('.ptype').click(function () {
            category = $(this).data('id');
            chtypes(category);
        });
        function chtypes(category) {
            $('.ptype[data-id="'+category+'"]').addClass('current_style')
                .siblings().removeClass('current_style');
            $.get('{:url("Mall/ajax_types")}',{"id":category},function (data) {
                var data = eval('('+data+')');
                var types = data.data;
                var html = '<li><a href="'+"{:url('Mall/product_list')}?fid="+category+'">全部</a></li>';
                for(var i in types){
                    html += '<li><a href="'+"{:url('Mall/product_list')}?tid="+types[i].id+'">'+types[i].types+'</a></li>';
                }
                $('.category_cont').html(html);
            });
        }
    });
</script>