{include file="base/header" /}

<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>确认订单</h1>
</header>
<div style="height:1rem;"></div>
<form action="{:url('Mall/place_order')}" method="post" id="return">
    {if condition="!empty($address)"}
    <input type="hidden" value="{$address.id}" name="address" id="address" />
    <aside class="confirmAddr">
        <p>
            <span>收货人：{$address.consignee}</span>

            <span>{$address.phone}</span>
        </p>
        <address>{$address.province . $address.city . $address.county . $address.address}</address>
        {if condition="$type neq 'order'"}

        <a href="{:url('Mall/addresslist')}" class="iconfont">&#60;</a>
        {/if}
    </aside>
    {else /}
    <aside class="confirmAddr">
        <p>
            <span>您没有默认选择的地址</span>
            <span></span>
        </p>
        <address>去选择或添加</address>
        <a href="{:url('Mall/addresslist')}" class="iconfont">&#60;</a>
    </aside>
    {/if}
    <dl class="cart">
        <input type="hidden" name="oid" value="{$oid??''}">
        <input type="hidden" name="type" value="{$type}">
        {volist name="$carts" id="cart"}
        <dd>
            <input type="hidden" name="cartid[]" value="{$cart.id}" />
            <a href="javascript:void (0);" class="goodsPic"><img src="{$cart.pic}"/></a>
            <div class="goodsInfor">
                <h2>
                    <a href="javascript:void (0);">{$cart.gname}</a>
                    <span>{$cart.sum}</span>
                </h2>
                <div class="priceArea">
                    <strong>{$cart.price}</strong>
                    <del>{$cart.ordprice}</del>
                    <span>返积分：{:integral($cart.price,$cart.ratio,1,$cart.sum)}</span>
                </div>
            </div>
        </dd>
        {/volist}
    </dl>
    <dl class="payment">
        <dt>选择支付方式</dt>
        <dd>
            <label class="isTrue"><input type="radio" name="pay" value="1" checked/>微信支付</label>
            <label><input type="radio" name="pay" value="2" />支付宝支付</label>
        </dd>
    </dl>
    {if condition="$type neq 'order'"}
    <section class="order_msg">
        <h2>我要留言</h2>
        <textarea name="remarks" id="remarks" placeholder="选填(亲可以在这里添加想说的话)"></textarea>
    </section>
    {/if}
</form>
<!--bottom nav-->
<div style="height:1rem;"></div>
<aside class="btmNav" style="margin-bottom: 50px;">
    <a style="background:#64ab5b;color:white;text-shadow:none;">合计：￥<span>{$sumprice}</span></a>
    <a style="background:#6bc75f;color:white;text-shadow:none;">提交订单</a>
</aside>
{include file="base/footer" /}
<script>
    $(document).ready(function(){
        //payment style
        $(".payment dd label input[type='radio']").click(function(){
            $(this).parent().addClass("isTrue");
            $(this).parent().siblings().removeClass("isTrue");
        });
        //测试流程效果，程序对接可将其删除！
        $(".btmNav a:last").click(function(){
            var aid = $('#address').val();
            if(!aid){
                alert('请输入收货地址');
                return false;
            }
            var cardid = $('input[type="hidden"][name="cartid[]"]').val();
            if(!cardid){
                alert('请选择您要购买的商品！');
                return false;
            }
            $('#return').submit();
        });
    });
</script>

