{include file="base/header" /}
<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>订单列表</h1>
</header>
<div style="height:1rem;"></div>
<!--异步处理，此处不做TAB形式,注意当前状态样式currStyle-->
<aside class="orderSift">
    <a href="javascript:void(0);" data-type="0" class="currStyle" >全部订单</a>
    <a href="javascript:void(0);" data-type="1">待付款</a>
    <a href="javascript:void(0);" data-type="2" >待发货</a>
    <a href="javascript:void(0);" data-type="3" >待收货</a>
    <a href="javascript:void(0);" data-type="6" >已完成</a>
</aside>
<!--订单列表-->
<ul class="orderList">
    <!--订单循环li-->

</ul>
<style>
    .order_details{
        background-color: #00ADB2;
        color: white;
    }
</style>
{include file="base/footer" /}
<script>
    $(function(){
        $('.orderSift a').click(otype);
        otype();
        function otype() {
            var a = $(this);
            var type = a.data('type') || 0;
            var data = {'type':type};
            a.addClass('currStyle').siblings('a').removeClass('currStyle');
            $.get("{:url('Mall/ajax_order')}",data,function (data) {
//                var data = eval('('+data+')');
                $('.orderList').html(data);
            });
        }
        //付款
        $('.orderList').on('click','.order_payBtn',function(){
            var payurl = '{:url("Mall/confirm_order")}';
            var oid = $(this).data('id');
            location.href = payurl+'?oid='+oid;
        });
        //删除订单
        $('.orderList').on('click','.order_delBtn',function(){
            var payurl = '{:url("Mall/order_del")}';
            var oid = $(this).data('id');
            location.href = payurl+'?oid='+oid;
        });
        //查看订单
        $('.orderList').on('click','.order_details',function(){
//            var payurl = '{:url("Mall/confirm_order")}';
//            var oid = $(this).data('id');
//            location.href = payurl+'?oid='+oid;
        });
    });
</script>

