{include file="base/header" /}
<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>产品列表</h1>
    <a href="search.html" class="rt_searchIcon">&#63;</a>
</header>
<div style="height:1rem;"></div>
<!--asc->1[升序asc_icon];des->0[降序des_icon]-->
{php}/*
<ul class="sift_nav">
    <li><a class="des_icon">价格</a></li>
    <li><a class="des_icon">销量优先</a></li>
    <li>
        <a class="nav_li drop_icon">品牌筛选</a>
        <ul class="drop_list">
            <li><a>品牌名</a></li>
            <li><a>品牌名</a></li>
            <li><a>品牌名</a></li>
            <li><a>品牌名</a></li>
        </ul>
    </li>
</ul>
*/{/php}
<!--productList-->
<section class="productList">
    <ul>
        {volist name="goods" id="good"}
        <li>
            <a href="{:url('Mall/product',['id'=>$good.id])}" class="goodsPic">
                <img src="{$good.pic}"/>
            </a>
            <div class="goodsInfor">
                <h2>
                    <a href="{:url('Mall/product',['id'=>$good.id])}">{$good.tradename}</a>
                </h2>
                <p>
                    <del>{$good.oriprice}</del>
                </p>
                <p>
                    <strong class="price">{$good.ingprice}</strong>
                </p>
                <a class="addToCart" data-gid="{$good.id}">&#126;</a>
            </div>
        </li>
        {/volist}
    </ul>
    <a class="more_btn" data-page="2">加载更多</a>
</section>
<!--floatCart-->
<div class="hoverCart">
    <a href="{:url('Mall/cart')}">{$cartnum ?? 0}</a>
</div>
{include file="base/footer" /}
<script>
    $(document).ready(function(){
        $(".des_icon").click(function(){
            $(this).toggleClass("asc_icon");
        });
        $(".drop_icon").click(function(){
            $(".drop_list").toggle();
            $(".drop_list li a").click(function(){
                $(this).parents(".drop_list").hide();
            });
        });

    });
</script>