{include file="base/header" /}

<!--header-->
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>订单状态</h1>
</header>
<div style="height:1rem;"></div>
<section class="return_state">
    <!--订单状态图标：0为成功；1为失败-->
    <h2 class="state_{$status ?? '1'}">{if condition="$status eq '0'"}订单支付成功！{else /} 订单支付失败！{/if}</h2>
    <p>订单编号：{$order.onumber}</p>
    <p>订单金额：<strong>{$order.sumprice?$order.sumprice:$order.discount}</strong></p>
    <p>支付时间：<time>{$order.paytime|date="Y-m-d H:i:s",###}</time></p>
    <p>
        <a href="{:url('Index/order_list')}">查看订单</a>
        <a href="{:url('Index/index')}">返回首页</a>
    </p>
</section>
{include file="base/footer" /}

