<script src="__JQUERY__jquery-2.0.0.min.js"></script>
<script src="__HELSINKI__vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__HELSINKI__vendor/nano-scroller/nano-scroller.js"></script>
<script src="__HELSINKI__javascripts/template-script.min.js"></script>
<script src="__HELSINKI__javascripts/template-init.min.js"></script>
<script src="__HELSINKI__vendor/jquery_validation/jquery.validate.min.js"></script>
<script src="__HELSINKI__javascripts/examples/forms/validation.js"></script>
{load file="__UPLOADER__Uploader.js"}
{load file="__UPLOADER__uploader.css"}
</body>

</html>