{include file="base/right" /}
</div>
</div>
<script src="__JQUERY__jquery-2.0.0.min.js"></script>
<script src="__HELSINKI__vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__HELSINKI__vendor/nano-scroller/nano-scroller.js"></script>
<script src="__HELSINKI__javascripts/template-script.min.js"></script>
<script src="__HELSINKI__javascripts/template-init.min.js"></script>
<script src="__HELSINKI__vendor/bootstrap_max_lenght/bootstrap-maxlength.js"></script>
<script src="__HELSINKI__vendor/select2/js/select2.min.js"></script>
<script src="__HELSINKI__vendor/input-masked/inputmask.bundle.min.js"></script>
<script src="__HELSINKI__vendor/input-masked/phone-codes/phone.js"></script>
<script src="__HELSINKI__vendor/bootstrap_date_picker/js/bootstrap-datepicker.min.js"></script>
<script src="__HELSINKI__vendor/bootstrap_time_picker/js/bootstrap-timepicker.js"></script>
<!--<script src="__HELSINKI__vendor/bootstrap_color_picker/js/bootstrap_colorpicker.min.js"></script>-->
<!--<script src="__HELSINKI__javascripts/examples/forms/advanced.js"></script>-->
<script src="__HELSINKI__vendor/jquery_validation/jquery.validate.min.js"></script>
<script src="__HELSINKI__javascripts/examples/forms/validation.js"></script>
{load file="__UEDITOR__ueditor.config.js"}
{load file="__UEDITOR__ueditor.all.min.js"}
{load file="__JQUERY__localization/messages_zh.min.js"}
{load file="__JQUERY__additional-methods.min.js"}
{load file="__UPLOADER__Uploader.js"}
{load file="__UPLOADER__uploader.css"}
{load file="__ARTDIALOG4.1.7__skins/aero.css"}
{load file="__ARTDIALOG4.1.7__artDialog.js"}
{load file="__ARTDIALOG4.1.7__plugins/iframeTools.source.js"}
{load file="__PCAS__PCASClass.js"}
{load file="__MYDATE__WdatePicker.js"}
{load file="__JQUERY__jquery.cookie.js"}
{load file="__HELSINKI__javascripts/left_nav.js"}
</body>
</html>
