<div class="right-sidebar">
    <div class="right-sidebar-toggle" data-toggle-class="right-sidebar-opened" data-target="html">
        <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
    </div>
    <div id="right-nav" class="nano">
        <div class="nano-content">
            <div class="template-settings">
                <h4 class="text-center">设置主题</h4>
                <ul class="toggle-settings pv-xlg">
                    <li>
                        <h6 class="text">固定头部</h6>
                        <label class="switch">
                            <input id="header-fixed" type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li>
                        <h6 class="text">固定左侧边栏</h6>
                        <label class="switch">
                            <input id="left-sidebar-fixed" type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li>
                        <h6 class="text">左侧边栏开关</h6>
                        <label class="switch">
                            <input id="left-sidebar-collapsed" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li>
                        <h6 class="text">固定内容头部</h6>
                        <label class="switch">
                            <input id="content-header-fixed" type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </li>
                </ul>
                <!--<h4 class="text-center">主题颜色</h4>
                <ul class="toggle-colors">
                    <li>
                        <a href="index.html" class="on-click"> <img alt="Helsinki-green" src="__HELSINKI__images/helsinki-green.png" /></a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
</div>
<a href="#" class="scroll-to-top"><i class="fa fa-angle-double-up"></i></a>