<div class="page-header">
    <div class="leftside-header">
        <div class="logo">
            <a href="{:url('Index/index')}" class="on-click">
                <img alt="logo" src="{$cache_config.web_logo ??'/favicon.ico'}" />
            </a>
        </div>
        <div id="menu-toggle" class="visible-xs toggle-left-sidebar" data-toggle-class="left-sidebar-open" data-target="html">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="rightside-header">
        <div class="header-middle"></div>
        <!--<div class="header-section" id="search-headerbox">
            <input type="text" name="search" id="search" placeholder="Search...">
            <i class="fa fa-search search" id="search-icon" aria-hidden="true"></i>
            <div class="header-separator"></div>
        </div>-->
        <div class="header-section hidden-xs" id="notice-headerbox">
            <div class="notice" id="alerts-notice">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
                <span>{$trip_num + $shop_num }</span>
                <div class="dropdown-box basic">
                    <div class="drop-header">
                        <h3><i class="fa fa-bell-o" aria-hidden="true"></i>消息</h3>
                        <span class="number">{$trip_num + $shop_num }</span>
                    </div>
                    <div class="drop-content">
                        <div class="widget-list list-left-element list-sm">
                            <ul>
                                <li>
                                    <a href="{:url('Tourism/trip')}?status=1">
                                        <div class="left-element"><i class="fa fa-wheelchair-alt color-warning"></i></div>
                                        <div class="text">
                                            <span class="title">{$trip_num} 行程</span>
                                            <span class="subtitle">待审核</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('Tourism/orders')}?pay_status=2&confirm=1">
                                        <div class="left-element"><i class="fa fa-flag color-danger"></i></div>
                                        <div class="text">
                                            <span class="title">{$shop_num} 旅游订单</span>
                                            <span class="subtitle">待处理</span>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--<div class="drop-footer">
                        <a>查看所有通知</a>
                    </div>-->
                </div>
            </div>

            <div class="header-separator"></div>
        </div>
        <div class="header-section" id="user-headerbox">
            <div class="user-header-wrap">
                <div class="user-photo">
                    <img src="{$merchant.logo}" alt="{$merchant.name}" />
                </div>
                <div class="user-info">
                    <span class="user-name">{$merchant.name}</span>
                    <span class="user-profile">{$merchant.account}</span>
                </div>
                <i class="fa fa-plus icon-open" aria-hidden="true"></i>
                <i class="fa fa-minus icon-close" aria-hidden="true"></i>
            </div>
            <div class="user-options dropdown-box">
                <div class="drop-content basic">
                    <ul>
                        <li> <a href="{:url('merchant/info')}"><i class="fa fa-user" aria-hidden="true"></i>个人资料</a></li>
                        <!--<li> <a href="pages_lock-screen.html"><i class="fa fa-lock" aria-hidden="true"></i> Lock Screen</a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Configurations</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-separator"></div>
        <div class="header-section">
            <a href="{:url('restrict/login',['act'=>'sign_out'])}"><i class="fa fa-sign-out log-out" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
