{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">系统设置</a></li>
                <li><a>基本配置</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <h4 class="section-subtitle">
                {volist name="navs" id="nav"}
                <a href="{:url('Config/basic',['key'=>$nav.key])}">{$nav.info}</a>
                {/volist}
            </h4>
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="inline-validation" class="form-horizontal form-stripe" action="{:url('Config/edits')}" id="form" method="post">
                                <input type="hidden" name="key" value="{:input('key') ?input('key'): 'basic'}">
                                {$html.html}
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/form_footer" /}
<script>
    $(function() {
        {$html.js}
    });
</script>