{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
{load file="__INDEX__/css/detail_merge.css" /}
<div id="main">
    <div class="main-frame" data-pid="{$ticket.id}">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1497690854706" page-url="" data-view-name="detail">
                <div class="body trip_page">
                    <div class="m_header" id="detail_header" style="display: block;">
                        <a href="javascript:history.go(-1);"><span class="m_icon_back fl js_back"></span></a>
                        <h1 style="display: none;">{$ticket.title??''}</h1>
                    </div>
                    <div class="m_banner">
                        <div class="js_pic_content" style="height: 210px; overflow: hidden;">
                            <div class="cm-slide cm-slide--full-img" id="ui-view-6" style="height: 210px;">
                                <ul class="cm-slide-list js_scroller " style="position: absolute;  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(-1500px, 0px) translateZ(0px);">
                                    {volist name="$ticket.pics" id="pic" key="k"}
                                    <li class="cm-slide-item" data-key="{$k}" style="">
                                        <img src="{:img_url($pic,414,196)}" onerror="this.src='https://pic.c-ctrip.com/vacation_v2/h5/group_travel/pic_none.png'">
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                        <span class="m_gopic"></span>
                        <div class="m_proinfo">
                            <p class="m_pronum">编号：{$ticket.id}</p>
                            <p><span class="m_linet"></span>{$ticket.merchant.name}</p>
                        </div>
                    </div>
                    <div class="m_profile">
                        <div class="m_bigtitle">
                            <h2>
                                {$ticket.title}<i class="m_diamond m_diamond_0"></i>
                            </h2>
                            <div class="m_bigprice">
                                <span class="m_price">
                                    <dfn>¥</dfn>{$ticket.maxprice}<em>/人</em>
                                </span>
                            </div>
                        </div>
                        <!--react-empty: 37-->
                        {notempty name="$ticket.sixscon"}
                        <div class="m_sixslogo js_tag_list">
                            <div class="m_sixscon">
                                <em>成团保障</em>
                            </div>
                        </div>
                        {/notempty}
                    </div>
                    <div class="m_cityset">
                        <div class="m_city_bd">
                            <div class="m_city_list_box">
                                <div class="m_city_list">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="m_agent2">
                        <div class="m_agent2_hd">
                            <h3 class="m_agent2name js_vendor_entry">{$ticket.merchant.name}</h3>
                        </div>
                        <div class="m_agent2_bd">
                            <p>本产品由具有此类产品经营资质的零售商提供。<br>服务时间：周一至周日：00:00至23:59</p>
                        </div>
                        <i class="m_agent2_phone js_vendor_phone" data-phone="{$op.phone??''}"></i>
                    </div>
                    <div class="m_detail">
                        <div id="detail_tab" style="height: 44px;">
                            <div class="m_hd_box" style="z-index: 9;">
                                <div class="m_tab">
                                    <div class="m_tabitem cur" id="product_feature">景点门票</div>
                                    <div class="m_tabitem" id="product_route">须知</div>
                                    <div class="m_tabitem" id="product_note">景点简介</div>
                                    <i class="m_tabline m_tabline3">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div id="product_feature_content">
                            <div class="m_mod_hd">
                                <h3>门票种类</h3>
                            </div>
                            <div class="m_mod_bd" id="day_list">
                                {php}$i=1; {/php}
                                {volist name="$ticket.ticket_types" id="ticket_type" key="k"}
                                <div class="m_trip_tuan">
                                    <h3 class="m_trip_tuan_tit" style="line-height: 24px">
                                        <i class="m_day">{$i++}</i>
                                        <span>{$ticket_type.title}</span>
                                        {if condition="$userinfo['type']"}
                                        <span class="reserve" data-id="{$ticket_type.id}">预定</span>
                                        {/if}
                                        <em style="color: red;">￥{$ticket_type.mmin} ~ ￥{$ticket_type.mmax}</em>
                                    </h3>
                                    <ul class="m_trip_tuan_dot">
                                        <li class="">
                                            <div>
                                                {$ticket_type.desc}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {/volist}
                            </div>

                        </div>

                        <div class="m_mod" id="product_route_content">
                            <div class="m_mod_hd">
                                <h3>预定须知</h3>
                            </div>
                            <div class="m_mod_bd">
                                {if condition="strip_tags($ticket.notice) neq ''"}
                                <div class="m_guidecon">
                                    <div>
                                        {$ticket.notice}
                                    </div>
                                </div>
                                {/if}
                                {if condition="strip_tags($ticket.traffic) neq ''"}
                                <div class="m_guidecon">
                                    <h4>交通指南</h4>
                                    <div>
                                        {$ticket.traffic}
                                    </div>
                                </div>
                                {/if}
                            </div>

                        </div>

                        <div class="m_mod m_guide" id="product_note_content">
                            <div class="m_mod m_feature">
                                {if condition="strip_tags($ticket['desc']) neq ''"}
                                <div>
                                    <div class="m_mod_hd">
                                        <h3>景点简介</h3>
                                    </div>
                                    <div class="m_mod_bd m_recom_detail m_mod_open">
                                        {$ticket.desc}
                                    </div>
                                    <!--<div class="m_close js_description_closer">点击收起</div>-->
                                </div>
                                {/if}
                            </div>

                        </div>

                    </div>
                    {php}/*

                    {if condition="$userinfo.type eq '1'"}
                    <footer class="m_toolbar" style="z-index: 99999">
                        <div class="m_toolbar_con">
                            <span class="m_collect js_collect">收藏</span>
                            <span class="m_btn_orange js_booking" data-sk-eid="hy_ctr_buynow">开始预订</span>
                        </div>
                    </footer>
                    {/if}

                    */{/php}

                </div>
            </div>
        </div>
        <div class="main-state">
        </div>
    </div>
</div>
<style>
    .jedatebox {
        width: calc(100% - 2px)!important;
        left: 0!important;
    }
    .reserve{
        display: block;float: right; background-color: rgba(208,62,154,0.72);padding:0 5px; font-size: small;color: white;
    }
</style>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
{load file="__ARTDIALOG4.1.7__jquery.artDialog.js"}
{load file="__ARTDIALOG4.1.7__skins/blue.css"}
<script>
    $(function () {
        //m_hd_box m_fix_hd sticky
        var hd_box = $('.m_hd_box');
        var top_box = hd_box.offset().top,
            top_product_feature = $('#product_feature_content').offset().top,
            top_product_route = $('#product_route_content').offset().top,
            top_product_note = $('#product_note_content').offset().top,
            scroll = $('body').scrollTop();
        scrolls(scroll);
        if(top_box <= scroll){
            hd_box.addClass('m_fix_hd sticky').css('top','44px');
        }
        $(document).on('scroll',function () {
            scroll = $(this).scrollTop();
            scrolls(scroll);
        });
        function scrolls(scroll) {
            if(scroll>0){
                //m_header m_scroll sticky
                $('.m_header').addClass('m_scroll sticky')
                    .find('h1').show();
            }else {
                $('.m_header').removeClass('m_scroll sticky')
                    .find('h1').hide();
            }
            if(top_product_note <= scroll){
                $('#product_note').addClass('cur').siblings().removeClass('cur');
            }else if(top_product_route <= scroll){
                $('#product_route').addClass('cur').siblings().removeClass('cur');
            }else if(top_product_feature <= scroll){
                $('#product_feature').addClass('cur').siblings().removeClass('cur');
            }
            if(top_box <= scroll){
                hd_box.addClass('m_fix_hd sticky').css('top','44px');
            }else{
                hd_box.removeClass('m_fix_hd sticky').css('top',null);
            }
        }
        $('.m_tab .m_tabitem').on('click',function () {
            var idStr = $(this).attr('id');
            var height = $('#'+idStr+'_content').offset().top ;
            $("html,body").animate({scrollTop:height-77},1000);
        });
        var X = 0, x = 0, start_x = 0;
        $('.m_city_bd .m_city_list_box .m_city_list').on('touchmove',function (event) {
            start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            x = -(X - start_x);
            $(this).css({transform:'translate3d('+x+'px,0px,0px)'});
            //            $(this).css('transform',"translate("+x+"px,0px)")
        }).on('touchstart',function (event) {
            start_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            X = start_x-x;
        }).on('touchend',function (event) {
            var _this_left = $(this).offset().left,
                _this_width = $(this).width(),
                _this_p_width = $(this).parent().width();
            if(_this_left > 0){
                x = 0;
                $(this).css({transform:'translate3d(0px,0px,0px)'});
            }else if(_this_p_width - x > _this_width){
                x = _this_p_width-_this_width;
                $(this).css({transform:'translate3d('+x+'px,0px,0px)'});
            }
        });
        var body_width = $('body').width(),scro_ul = $('.js_scroller'),scro_li = scro_ul.find('li'),ul_width=0,i = 2,ul_pos;
        scro_li.css({width:body_width+'px',height:"210px"});
        var ul_a = setTimeout(ul_scro,1500);
        var ul_b = 0,w=i * body_width,s_w=(i-1) * body_width;
        scro_ul.prepend(scro_li.eq(scro_li.length-1).clone());
        scro_ul.append(scro_li.eq(0).clone());
        scro_li = scro_ul.find('li');
        ul_width = body_width * scro_li.length;
        ul_pos = -(i-1) * body_width;
        scro_ul.css({width:ul_width + 'px',transform: "translate("+ul_pos+"px, 0px)"});
        function ul_scro() {
            w = i * body_width ;
            s_w = (i-1) * body_width;
            ul_b = setTimeout(ul_scroller,1) ;
            function ul_scroller() {
                if (w >= s_w){
                    var temp = - s_w;
                    scro_ul.css({transform: "translate("+temp+"px, 0px)"});
                    s_w += 2;
                    ul_b = setTimeout(ul_scroller,0.1)
                }else {
                    if(i == scro_li.length - 2){
                        i = 0;
                    }else if(i == scro_li.length - 1){
                        i = 1;
                    }
                    i++;
                    ul_a = setTimeout(ul_scro,1500);
                }
            }
        }
        var l_click = 0,end_x=0;
        scro_ul.on('touchmove',function (event) {
            clearTimeout(ul_a);
            clearTimeout(ul_b);
            end_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            var temp = -(s_w+l_click - end_x);
            $(this).css({transform:'translate('+temp+'px,0px)'});
        }).on('touchstart',function (event) {
            end_x = event.originalEvent.targetTouches[0].clientX + document.body.scrollLeft - document.body.clientLeft;
            l_click = end_x;
        }).on('touchend',function (event) {
            if((l_click - end_x) > 0){
                if((l_click - end_x) > body_width/3){
                    if(i == scro_li.length - 2){
                        i = 0;
                    }
                    i++;
                    var temp = -(i-1) * body_width;
                    s_w = (i-1) * body_width;
                    $(this).css({transform: "translate("+temp+"px, 0px)"});
                }else {
                    var temp = -(i-1) * body_width;
                    s_w = (i-1) * body_width;
                    $(this).css({transform: "translate("+temp+"px, 0px)"});
                }
            }else {
                if((end_x - l_click) > body_width/3){
                    if(i == 2){
                        i = scro_li.length;
                    }
                    i--;
                    var temp = -(i-1) * body_width;
                    s_w = (i-1) * body_width;
                    $(this).css({transform: "translate("+temp+"px, 0px)"});
                }else {
                    var temp = -(i-1) * body_width;
                    s_w = (i-1) * body_width;
                    $(this).css({transform: "translate("+temp+"px, 0px)"});
                }
            }
            ul_a = setTimeout(ul_scro,1500);
        });
        //行程概要
        $('.m_multi').on('click',function () {
            var route = $('.m_fixed_route');
            if(route.is('.hide')){
                route.removeClass('hide');
            }else {
                route.addClass('hide');
            }
            route.on('click',function(){
                route.addClass('hide');
            })
        });
        var data = ''//eval('('+"{//:addslashes($ticket.offer)}"+')');
        $('#dates').jeDate({
            format:"YYYY-MM-DD",
            isTime:false,
            isToday:false,
            dataval : true,
            data:data,
            minDate: $.nowDate({DD:0})
        });
        // 开始预订
        $('.js_booking').on('click', function () {
            var pid = $('.main-frame').data('pid');
            var url = "{:url('Index/pricecalendar')}?pid=" + pid;
            location.href = url;
        });
        $('.js_vendor_phone').on('click',function () {
            {if condition="$userinfo.type neq '0'"}
            var _this = $(this);
            var phone=_this.data('phone'),
                str = '';
                str += '<h3 class="aui_buttons">'+phone+' <button class="aui_state_highlight"><a href="tel:'+phone+'" style="color: white">拨打</a></button></h3>';
            {else /}
            var str = '请联系您的旅游顾问';
                {/if}
            art.dialog({
                content: str ,
                lock: true,
                drag: false, //禁止弹出层拖动
                resize: false, //禁止弹出层放大缩
                title:'',
            });
        });
        $('.reserve').on('click',function () {
            var pid = $('.main-frame').data('pid'),
                tid = $(this).data('id'),
                url = "{:url('Ticket/pricecalendar')}?pid="+ pid + '&tid=' + tid;
            location.href = url;
        })

    });
</script>