{include file="base/header" /}
{load file="__INDEX__/css/detail.css" /}
{load file="__INDEX__/css/flt_htl_h5.css" /}
{load file="__INDEX__/css/process.css" /}
<header>
    <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
    <h1>选择日期和人数</h1>
</header>
<div style="height:1rem;"></div>

<div id="main">
    <div class="main-frame">
        <div class="main-viewport">
            <div id="client_id_viewport_1_1497943629157">
                <div data-node="pricecalendar">
                    <div>
                        <div class="body for_bar">
                            <div class="set_date">
                                <div class="set_date_title">
                                    {$ticket_type.title}
                                </div>
                            </div>
                            <div class="set_date">
                                <div class="set_date_time">
                                    <input type="text" name="dates" id="dates" readonly placeholder="YYYY-MM-DD">
                                </div>
                            </div>
                            <div class="calendar_mod" id="calendar_mod">
                            </div>

                            <div class="show_s hide">
                                <div class="show_box">
                                    <div class="set_price op_b">
                                        <div class="fl">
                                            操作费：
                                        </div>
                                        <div class="fr">
                                            ￥0元
                                        </div>
                                    </div>
                                    <div class="set_price audit_b">
                                        <div class="fl">
                                            价格：
                                        </div>
                                        <div class="fr">
                                            ￥0元
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="set_num">
                                <div class="select_num_box">
                                    <div class="man_box">
                                        <div class="fl">数量</div>
                                        <div class="fr">
                                            <div class="cm-num-adjust">
                                                <span class="cm-adjust-minus js_num_minus ">
                                                </span>
                                                <span class="cm-adjust-view js_cur_num">1</span>
                                                <span class="cm-adjust-plus js_num_plus ">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order_rn_passenger">

                                <div class="order_rn_box">
                                    <div class="info_title">
                                        <span class="title_name">联系人信息</span>
                                    </div>
                                    <ul class="order_rn_list">
                                        <li>
                                            <div class="name_title">
                                                <span>联系人</span>
                                            </div>
                                            <div class="name_content">
                                                <input type="text" data-type="ContactName" class="rn_input_text" placeholder="填写联系人姓名" id="contact_name">
                                                <a class="default-a" href="javascript:;">
                                                </a>
                                                <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                            <span>
                                            </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name_title">
                                                <span>身份证</span>
                                            </div>
                                            <div class="name_content">
                                                <input type="text" data-type="ContactName" class="rn_input_text" placeholder="填写取票人身份证" id="contact_card">
                                                <a class="default-a" href="javascript:;">
                                                </a>
                                                <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                            <span>
                                            </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="china_phone">
                                            <div class="name_title">
                                                <span class="phone_title">大陆手机</span>
                                            </div>
                                            <div class="name_content">
                                                <input type="tel" data-type="ContactMobile" class="rn_input_text" placeholder="必填，用于接收短信" id="contact_phone">
                                                <a class="default-a" href="javascript:;">
                                                </a>
                                                <a class="pkg-clear-input" href="javascript:;" style="display: none;">
                                            <span>
                                            </span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <footer class="detail_bottom" style="z-index: 99999; height:50px;">
                                <div class="detail_bottom_box">
                                    <span class="detail_calendar_price"> </span>
                                    <span data-sk-eid="hy_ctr_tap_next" class="detail_btn_orange false">
                                        去支付<s>选择完成</s>
                                    </span>
                                </div>
                            </footer>
                        </div>
                        <input type="hidden">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-state">
        </div>
    </div>
</div>
<style>
    .set_date_title{
        line-height: 40px;
    }
</style>
{include file="base/footer"}
{load file="__PUBLIC__jedate/jquery.jedate.js" /}
{load file="__PUBLIC__jedate/skin/jedate.css" /}
<style>
    .jedatebox{width: calc(100% - 2px);}
    .jedateblue .jedatebot{ height:0;}
    .set_date{background-color: #fff}
</style>
<script>
    $(function(){
        function checkMobile(str) {
            var re = /^1\d{10}$/;
            if(re.test(str)) {
                return true;
            } else {
                return false;
            }
        }
        var data = eval('('+"{$ticket_type.offer | addslashes}"+')');
        $("#dates").jeDate({
            isinitVal:false,
            fixedCell: "calendar_mod",
            piaoval : true,
            isok:false,
            isClear:false,
            isToday:false,
            data : data,
            minDate:  $.nowDate(0),
            format:"YYYY-MM-DD",
            zIndex:3000,
            choosefun:function(elem, val, date) {
                $('.set_date_time,.show_s').removeClass('hide');
                prices();
                $('.calendar_mod').addClass('hide');
            },
        }).on('click',function () {
            $('.calendar_mod').removeClass('hide');

        });
        //继续下一步
        $('.detail_btn_orange').on('click',function () {
            var dates = $('#dates').val(),
                man = $('.man_box .js_cur_num').text(),
                contact_name = $('#contact_name').val(),
                contact_card = $('#contact_card').val(),
                contact_phone = $('#contact_phone').val();
            if(!dates){
                alert('请选择您要使用日期！');
                return ;
            }
            if(man <= '0'){
                alert('出行人数必须有一个');
                return ;
            }
            if(contact_name == ''){
                alert('请填写取票人姓名！');
                return ;
            }
            if (contact_card == ''){
                alert('请填写取票人身份证');
                return ;
            }
            if (contact_phone == '' || !checkMobile(contact_phone)){
                alert('请填写正确的取票人电话');
                return ;
            }
            var datas = {pid:"{$ticket.id}",tid:"{$ticket_type.id}",dates:dates,man:man,contact_name:contact_name,contact_card:contact_card,contact_phone:contact_phone};
            $.post("{:url('Ticket/confirm')}",datas,function (msg) {
                if(msg == ''){
                    alert('未知错误');
                    return ;
                }
                msg = eval('('+msg+')');
                if(msg.code == '1'){
                    alert(msg.info);
                    return ;
                }
                var url = "{:url('Ticket/order_pay')}?oid="+msg.oid;
                location.href = url

                console.log(msg);
            });
//            var url = "{:url('Ticket/confirm')}"+'?pid={$ticket.id}&tid={$ticket_type.id}&dates='+dates +'&man='+man;
//            location.href = url;
        });
        //数量的增加,金额的计算
        $('.man_box .js_num_minus').on('click',function () {
            var num = $('.man_box .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num -= 1;
            if(num < 0){
                $(this).addClass('disabled');
                $('.man_box .js_cur_num').text(0);
                return false;
            }
            $('.man_box .js_cur_num').text(num);
            prices();
        });
        $('.man_box .js_num_plus:not(".disabled")').on('click',function () {
            var num = $('.man_box .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num += 1;

            if(num > 0){
                $('.man_box .js_num_minus').removeClass('disabled');
            }
            $('.man_box .js_cur_num').text(num);
            prices();
        })
        $('.child_box .js_num_minus').on('click',function () {
            var num = $('.child_box .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num -= 1;
            if(num < 0){
                $(this).addClass('disabled');
                $('.child_box .js_cur_num').text(0);
                return false;
            }
            $('.child_box .js_cur_num').text(num);
            prices();
        });
        $('.child_box .js_num_plus:not(".disabled")').on('click',function () {
            var num = $('.child_box .js_cur_num').text();
            num = parseInt(num);
            if(isNaN(num)){
                num = 0;
            }
            num += 1;
            if(num > 0){
                $('.child_box .js_num_minus').removeClass('disabled');
            }
            $('.child_box .js_cur_num').text(num);
            prices();
        })
        function prices() {
            if(!$('#dates').val()){
                alert('请选择使用日期');
                return ;
            }
            var dates = datasng(Date.parse($('#dates').val()),'yyyyMMdd');
            var price = data[dates];
            if(price['stock']==0){
                alert('今日票没有库存啦！');
                return;
            }
//            $('.child_b .fr').text("￥" + balance(price.discount));
            var take = parseFloat("{$userinfo.clerk == '1'?getCache('take')['core_take']:getCache('take')['salesman_take']}"),
                mans = $('.man_box .js_cur_num').text(),
                man_price = sum2(price.discount,mans),
                op_price = op_cost(price.market,price.discount,take),
                sum = (man_price+ op_sum_cost(op_price,mans) ).toFixed(2);
            $('.audit_b .fr').text("￥" + price.discount);
            $('.op_b .fr').text("￥" + op_price);

            $('.detail_calendar_price').text('总额：￥'+sum);
        }
        //操作费
//        function op_cost(market,balance,take) {
//            return ( parseFloat(market) - parseFloat(balance) ) * parseFloat(take) / 100;
//        }
        //操作费
        function op_cost(market,balance,take) {
            return ( parseFloat(balance) ) * parseFloat(take) / 100;
        }
        //总操作费
        function op_sum_cost(cost,num) {
            return cost * num;
        }
        // 时间戳转换字符串
        function datasng(sng,fmat)
        {
            return  (new Date(parseInt(sng))).format(fmat);
        }

        Date.prototype.format = function(format) {
            var date = {
                "M+": this.getMonth() + 1,
                "d+": this.getDate(),
                "h+": this.getHours(),
                "m+": this.getMinutes(),
                "s+": this.getSeconds(),
                "q+": Math.floor((this.getMonth() + 3) / 3),
                "S+": this.getMilliseconds()
            };
            if (/(y+)/i.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
            }
            for (var k in date) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1
                        ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
                }
            }
            return format;
        };
        //抽成比例
        function balance(balance) {
            var bl = parseFloat("{:getCache('take')['s_take']}");
            return (parseFloat(balance) + parseFloat(balance * bl / 100)).toFixed(2);
        }
        // 抽成总数
        function toFixed2(val,peo) {
            return parseFloat((parseFloat(balance(val)) * parseFloat(peo)).toFixed(2))
        }
        // 二
        function sum2(val,peo) {
            return parseFloat((parseFloat(val) * parseFloat(peo)).toFixed(2));
        }
        // cur
    });
</script>