{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{:url('Types/operate',['fid'=>input('fid')])}" id="inline-validation" class="form-horizontal form-stripe">
                                        <input type="hidden" name="act" value="{$act}">
                                        <input type="hidden" name="id" value="{$id}">
                                        <div class="form-group">
                                            <label for="types" class="col-sm-3 control-label">分类名称<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="types" name="types" required value="{$type.types ?? ''}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="pic" class="col-sm-3 control-label">分类图片</label>
                                            <div class="col-sm-6">
                                                <input type="file" class="form-control" id="pic" name="pic" required  />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">启用分类<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <select name="status" id="status" class="form-control">
                                                    <option value="1">启用</option>
                                                    <option value="0">不启用</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">是否为热门<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <select name="is_hot" id="is_hot" class="form-control">
                                                    <option value="1">是</option>
                                                    <option value="0">否</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="weight" class="col-sm-3 control-label">分类排序<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="weight" name="weight" required value="{$type.weight ?? '0'}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-primary">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}
<script>
    $(function(){
        var up = new Upload('pic', {}, "{$type.pic ?? ''}");
        $('#is_hot').val("{$type.is_hot ?? '1'}");
        $('#status').val("{$type.status ?? '1'}");
    });
</script>