{include file="base/header" /}

<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">商城管理</a></li>
                <li><a>商户管理</a></li>
                <li><a>商户列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <h4 class="section-subtitle"><b _href="{:url('Types/edits',['sid'=>input('sid'),'fid'=>input('fid')])}" class="artlog">添加分类</b></h4>

            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <div id="basic-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="basic-table_length">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>分类名称</th>
                                            <th>子分类</th>
                                            <th>分类图片</th>
                                            <th>状态</th>
                                            <th>是否热门</th>
                                            <th>排序</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="types" id="type"}
                                        <tr>
                                            <td>{$type.id}</td>
                                            <td>{$type.types}</td>
                                            <td>
                                                {if condition="$type.fid eq '0'"}<a href="{:url('Types/typeslist',['fid'=>$type.id])}">查看</a>{/if}
                                            </td>
                                            <td><a href="javascript:void (0);" _img="{$type.pic}">查看</a></td>
                                            <td>
                                                {switch name="$type.status"}
                                                {case value="1"}
                                                启用（<a href="{:url('Types/operate',['act'=>'status','id'=>$type.id,'val'=>'0'])}">不启用</a>）
                                                {/case}
                                                {case value="0"}
                                                不启用（<a href="{:url('Types/operate',['act'=>'status','id'=>$type.id,'val'=>'1'])}">启用</a>）
                                                {/case}
                                                {/switch}
                                            </td>
                                            <td>
                                                {switch name="$type.is_hot"}
                                                {case value="1"}
                                                是（<a href="{:url('Types/operate',['act'=>'hot','id'=>$type.id,'val'=>'0'])}">不是</a>）
                                                {/case}
                                                {case value="0"}
                                                不是（<a href="{:url('Types/operate',['act'=>'hot','id'=>$type.id,'val'=>'1'])}">是</a>）
                                                {/case}
                                                {/switch}

                                            </td>
                                            <td>{$type.weight}</td>
                                            <td>{$type.addtime|date='Y-m-d H:i:s',###}</td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-transparent">
                                                        <a href="javascript:void(0);" _href="{:url('Types/edits',['fid'=>input('fid'),'id'=>$type.id])}" class="artlog">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                    </button>
                                                    <button class="btn btn-transparent">
                                                        <a href="{:url('Types/operate',['act'=>'del','id'=>$type.id])}">
                                                        <i class="fa fa-times"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="basic-table_info" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="base/footer" /}
<script>
    $(function () {

    });
</script>