{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">旅游管理</a></li>
                <li><a>旅游合同编辑</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <h4>
                <a href="{:url('tourism/contract')}">合同列表</a>
                <a href="{:url('tourism/contract_edit')}">合同添加</a>
            </h4>
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal form-stripe" action="{:url('Tourism/contractedit')}" id="form" method="post">
                                <input type="hidden" name="act" value="{$act ?? 'add'}">
                                <input type="hidden" name="id" value="{$contract.id ?? ''}">
                                <div class="form-group">
                                    <label for="uid" class="col-sm-3 control-label">选择用户</label>
                                    <div class="col-sm-6">
                                        <select name="uid" id="uid" class="form-control">
                                            <option value="">选择用户</option>
                                            {volist name="users" id="user"}
                                            <option value="{$user.id}">{$user.name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="uid" class="col-sm-3 control-label">合同类型</label>
                                    <div class="col-sm-6">
                                        <select name="type" id="type" class="form-control">
                                            <option value="1">境内</option>
                                            <option value="2">境外</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">编号录入</label>
                                    <div class="col-sm-6">
                                        <textarea name="number" id="number" class="form-control" placeholder="请输入合同编号，多个以空格隔开"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/form_footer" /}
<script>
    $(function() {
        $('#form').submit(function () {
            var uid = $('#uid').val();
            if(uid == ''){
                alert('请选择合同绑定用户');
                return false;
            }
            var number = $('#number').val();
            if($.trim(number) == ''){
                alert('请输入合同编号');
                return false;
            }
            return true;

        });
    });
</script>