{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{:url('Tourism/contract_examine_edit',['fid'=>input('fid')])}" id="inline-validation" class="form-horizontal form-stripe">
                                        <input type="hidden" name="id" value="{$contract.id??''}">
                                        <div class="form-group">
                                            <label for="types" class="col-sm-3 control-label">合同编号<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="types" readonly value="{$contract.number ?? ''}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">状态<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <select name="status" id="status" class="form-control">
                                                    <option value="0">未使用</option>
                                                    <option value="1">已使用</option>
                                                    <option value="2">核销</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-primary">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}
<script>
    $(function(){
        $('#status').val("{$contract.status ?? '0'}");
    });
</script>