{include file="base/artlog_header"}
<div class="wrap">
    <div class="page-body" style="padding: 0">
        <div class="content" style="margin: 0;">
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <!--<h4 class="section-subtitle"><b>Inline validation</b></h4>-->
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{:url('Store/typesedit',['sid'=>input('sid'),'fid'=>input('fid')])}" id="inline-validation" class="form-horizontal form-stripe">
                                        <div class="form-group">
                                            <label for="pinfo" class="col-sm-3 control-label">上级名称<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="pinfo" name="pinfo" required value="{$dest.pinfo ?? ''}" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="dest" class="col-sm-3 control-label">目的地<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="dest" name="dest" required value="{$dest.destination ?? ''}" readonly>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/artlog_footer"}

