{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">旅游管理</a></li>
                <li><a>目的列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <h4>
                <a href="{:url('tourism/setout')}">目的地列表</a>
                <a href="javascript:void(0);">待审核目的地</a>
            </h4>
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <div id="basic-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="basic-table_length">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>分类</th>
                                            <th>分类key</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="pro_types" id="pro_type"}
                                        <tr>
                                            <td>{$pro_type.id}</td>
                                            <td>{$pro_type.name}</td>
                                            <td>{$pro_type.key}</td>
                                            <td>{$pro_type.addtime | date="Y-m-d H:i:s" , ###}</td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-transparent">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                    <button class="btn btn-transparent">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    <button class="btn btn-transparent">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="basic-table_info" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/footer" /}
<script>
    $(function () {
    });
</script>