{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">旅游管理</a></li>
                <li><a>目的列表</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <h4>
                <a href="{:url('tourism/safe')}">保险列表</a>
                <a href="{:url('tourism/safe_edit')}">保险添加</a>
            </h4>
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <div id="basic-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="basic-table_length">
                                        <form action="?">
                                            <label>
                                                保险名:<input type="search" name="title" class="form-control input-sm" placeholder="保险名搜索" aria-controls="basic-table" value="{:input('title')}">
                                            </label>
                                            <label>
                                                保险编号:<input type="search" name="key" class="form-control input-sm" placeholder="保险编号" aria-controls="basic-table" value="{:input('key')}">
                                            </label>
                                            <label for="sub">
                                                <input type="submit" id="sub" value="搜索" class="btn btn-primary" style="margin-bottom: 0;">
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>保险名</th>
                                            <th>保险编号</th>
                                            <th>保险价格</th>
                                            <th>保险描述</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {php}$js=[];{/php}
                                        {volist name="safes" id="safe"}
                                        {php}$js[$safe['id']]=$safe['desc'];{/php}

                                        <tr>
                                            <td>{$safe.id}</td>
                                            <td>{$safe.title}</td>
                                            <td>{$safe.key}</td>
                                            <td>{$safe.price}</td>
                                            <td><a href="javascript:void(0);" data-id="{$safe.id}" class="eyedesc">查看</a></td>
                                            <td>{$safe.addtime | date="Y-m-d H:i:s" , ###}</td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <button class='btn btn-transparent'>
                                                        <a href="{:url('Tourism/safe_edit',['id'=>$safe.id])}" title="编辑">
                                                            <i class='fa fa-pencil'></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="basic-table_info" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="basic-table_paginate">
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/footer" /}
<script>
    $(function () {
        var desc = {:json_encode($js)};
        $('.eyedesc').on('click',function () {
            var id = $(this).data('id');
            art.dialog({
                content:desc[id],
                title:'保险说明',
                lock:true
            });
        });
    });
</script>