{include file="base/header" /}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">旅游管理</a></li>
                <li><a>旅游保险编辑</a></li>
            </ul>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal form-stripe" action="{:url('Tourism/safeedit')}" id="form" method="post">
                                <input type="hidden" name="act" value="{$act ?? 'add'}">
                                <input type="hidden" name="id" value="{$safe.id ?? ''}">
                                <div class="form-group">
                                    <label for="title" class="col-sm-3 control-label">保险名</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="title" name="title" placeholder="请输入保险名" class="form-control" required value="{$safe.title ?? ''}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="key" class="col-sm-3 control-label">保险编号</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="key" name="key" placeholder="请输入保险编号" class="form-control" required value="{$safe.key ?? ''}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="price" class="col-sm-3 control-label">保险价格</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="price" name="price" placeholder="请输入保险价格" class="form-control" required value="{$safe.price ?? ''}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="must" class="col-sm-3 control-label">购买是否必选</label>
                                    <div class="col-sm-6">
                                        <select name="must" id="must" class="form-control" >
                                            <option value="0">不必须</option>
                                            <option value="1">必须</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="desc" class="col-sm-3 control-label">保险说明</label>
                                    <div class="col-sm-6">
                                        <textarea name="desc" id="desc">{$safe.desc ?? ''}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="base/form_footer" /}
<script>
    $(function() {
        $("#form").validate(); //表单验证

        var ue = UE.getEditor('desc', {
            toolbars: [
                ['fullscreen', 'source', 'undo', 'redo', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat'],
                ['formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc','simpleupload','insertimage']
            ],
            initialFrameHeight: '500',
            initialFrameWidth: '600'
        });
    });
</script>